---
import InfoPage from "../../layouts/InfoPage.astro";
import DonationBlock from "../../components/DonationBlock/DonationBlock.astro"
---

<InfoPage title="Wireshark · OUI Lookup Tool">
    <div class="left-side">
        <h2>OUI Lookup Tool</h2>
        <p>
            The Wireshark OUI lookup tool provides an easy way to look up
            <a href="https://standards.ieee.org/faqs/regauth.html">OUIs</a> and other
            MAC address prefixes. It uses the
            <a href="https://www.wireshark.org/download/automated/data/manuf"
                >Wireshark manufacturer database</a
            >, which is a list of OUIs and MAC addresses compiled from a number
            of sources.
        </p>

        <p>
            <b>Directions</b>:<br />
            Type or paste in a list of OUIs, MAC addresses, or descriptions below.
            OUIs and MAC addresses may be colon-, hyphen-, or period-separated.
        </p>

        <p>
            <b>Examples</b>:<br />
            0000.0c<br />
            08:00:20<br />
            00-00-0C-CC-CC-CC<br />
            00d9.d110.21f9<br />
            missouri
        </p>

        <h4>OUI search</h4>
        <textarea rows="10" cols="35" id="ffentry"></textarea>
        <br /><br />
        <button disabled id="oui-lookup-button">(loading database)</button>

        <h4>Results</h4>
        <p id="matches" style="white-space: pre-line"><i>No matches</i></p>
    </div>
    <DonationBlock />

    <script is:inline>
        (async function () {
            "use strict";
            let manuf_file = "/assets/json/manuf.json";
            let manuf_entries;

            const parse_mac_address = function (val) {
                let m;
                val = val.toLowerCase();
                // Accept any sequence of two hexadecimal blocks with an optional
                // separator, with a minimum length of 3 and a maximum of 8.
                // Returns a concatenation of these blocks without separators.
                // Examples:
                // xx:yy:zz or xx-yy-zz, or xx.yy.zz -> xxyyzz
                // aabb.ccdd.eeff -> aabbccddeeff
                if ((m = /^[0-9a-f]{2}(?:[:.-]?[0-9a-f]{2}){2,7}$/.exec(val))) {
                    return m[0].replace(/[:.-]/g, "");
                }
                return null;
            };

            const formatEntry = function (prefix, name) {
                var prefixLength = prefix.length;
                var str = prefix
                    .replace(/../g, "$&:")
                    .replace(/:$/, "")
                    .toUpperCase();
                if (prefixLength == 9) {
                    // 36 bits, xx-xx-xx-xx-x0-00
                    str += "0:00/36";
                } else if (prefixLength == 7) {
                    // 28 bits, xx-xx-xx-x0-00-00
                    str += "0:00:00/28";
                }
                str += " " + name;
                return str;
            };

            const do_oui_lookup = function () {
                var q = document.getElementById("ffentry");
                var queries = q.value.split("\n");
                var prefixes = [],
                    names = [],
                    name_regex;
                queries.forEach(function (query) {
                    query = query.replace(/^\s+|\s+$/g, "");
                    var prefix = parse_mac_address(query);
                    if (prefix) {
                        prefixes.push(prefix);
                    } else if (query) {
                        // None of the potentially valid patterns caught by
                        // parse_mac_address currently match any manufacturer name, so
                        // as optimization we can skip trying to match those names here.
                        names.push(query);
                    }
                });
                if (names.length) {
                    name_regex = new RegExp(
                        names
                            .map(function (name) {
                                // Escape https://tc39.es/ecma262/#prod-SyntaxCharacter
                                name = name.replace(
                                    /[\^$\\.*+?()\[\]{}|]/g,
                                    "\\$&"
                                );
                                return "(?:" + name + ")";
                            })
                            .join("|"),
                        "i"
                    );
                }

                // Find entries with either a common prefix match or a name match.
                var results = manuf_entries
                    .filter(function (entry) {
                        return (
                            prefixes.some(function (prefix) {
                                return (
                                    prefix.substring(0, entry.prefix.length) ===
                                    entry.prefix.substring(0, prefix.length)
                                );
                            }) ||
                            (name_regex && name_regex.test(entry.name))
                        );
                    })
                    .map(function (entry) {
                        return formatEntry(entry.prefix, entry.name);
                    });
                document.getElementById("matches").textContent =
                    results.join("\n") || "(no matches)";
            };

            const load_manufdata = function (obj) {
                // Expect a map from prefix to a name. The prefix is a string with
                // lower-case hexadecimal characters representing an address prefix.
                // Its length is either 6, 7 or 9 (for 24, 28 or 36 bits).
                var mapping = obj.data;
                var prefixes = Object.keys(mapping);
                prefixes.sort();
                manuf_entries = prefixes.map(function (prefix) {
                    return { prefix: prefix, name: mapping[prefix] };
                });

                var button = document.getElementById("oui-lookup-button");
                button.onclick = do_oui_lookup;
                button.textContent = "Find";
                button.disabled = false;
                console.log(
                    "Loaded " + Object.keys(obj.data).length + " entries"
                );
                console.log("Created at", obj.created_at);
            };

            var x = new XMLHttpRequest();
            x.onload = function () {
                if (x.status != 200) {
                    return;
                }
                load_manufdata(JSON.parse(x.responseText));
            };

            x.open("GET", manuf_file, true);
            x.send(null);
        })();
    </script>
</InfoPage>
