---
import InfoPage from "../../layouts/InfoPage.astro";
---

<script>
    setTimeout(() => {
        document?.querySelector?.(".pretix-widget-attribution").style.setProperty("opacity", 0)
    }, 300)
</script>

<InfoPage title="Wireshark • Wireshark University & Allegro Packets online APAC Wireshark Training Session.">
    <pretix-widget event="https://ticketing.wireshark.org/sf/WSAllegro2/" single-item-select="button"></pretix-widget>
    <noscript>
       <div class="pretix-widget">
            <div class="pretix-widget-info-message">
                JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a target="_blank" rel="noopener" href="https://ticketing.wireshark.org/sf/WSAllegro2/">click here</a>.
            </div>
        </div>
    </noscript>
</InfoPage>
