{% extends 'layout-home.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<section id="FAQbackground" class="section swatch white">
	<div class="container">
		<div class="row">
  			<div class="col-md">
    			<div class="ws-well">

{# ../wireshark/help/faq.py -b > _templates/faq_contents.html #}
{% include 'faq_contents.html' %}

  				</div>{# ws-well #}
  			</div>{# col-md #}

		</div>
	</div>
</section>
{% endblock content %}
