---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/mhonarc.scss";
/*
  Main (index) pages look like:

  idxpgbegin
    listbegin
      daybegin
      litemplate
      dayend
      [ daybegin + litemplate + dayend ]
    listend
  idxpgend
*/
const body_pre=`
<TextEncode>
utf-8; MHonArc::UTF8::to_utf8; MHonArc/UTF8.pm
</TextEncode>

<-- With data translated to UTF-8, it simplifies CHARSETCONVERTERS -->
<CharsetConverters override>
default; mhonarc::htmlize
</CharsetConverters>

<-- Need to also register UTF-8-aware text clipping function -->
<TextClipFunc>
MHonArc::UTF8::clip; MHonArc/UTF8.pm
</TextClipFunc>

<!-- Begin main index page -->
<idxpgbegin>
    `;

const body=`
    <section id="$WS_LISTNAME$-index">
    <h2>$WS_CAPNAME$, $WS_MONTHNAME$ $WS_YEAR$</h2>

    $WS_LIST_NOTE$
    <div class="list-menu">
      <a href="$TIDXFNAME$">Thread Index</a>
      <span class="separator">·</span>
      <a href="..">Other Months</a>
      <span class="separator">·</span>
      <a href="/lists/">All Mailing Lists</a>
    </div>
</idxpgbegin>

<!-- Begin message list.  Follows <idxpgbegin> -->
<ListBegin>
<table class="list-messages">
</ListBegin>

<!-- Begin a day's message.  Follows <listbegin> -->
<DayBegin>
<tr><th colspan=4>$MSGLOCALDATE$</th></tr>
</DayBegin>

<!-- Message list entry.  Follows <daybegin> -->
<LiTemplate>
<tr valign=top>
<td>$MSGLOCALDATE(CUR;%H:%M)$</td>
<td><strong>$SUBJECT$</strong></td>
<td class="fromname">$FROMNAME:30$</td>
<td>$NOTE$</td>
</tr>
</LiTemplate>

<!-- Close out a message list.  Follows last <dayend> -->
<ListEnd>
</table>
</ListEnd>

<!-- Close out a message index page. -->
<idxpgend>
</section>
`;

const body_post=`
</idxpgend>
`;
---
<Fragment is:raw set:html={body_pre} />

<InfoPage title="Wireshark · $WS_CAPNAME$, $WS_MONTHNAME$ $WS_YEAR$"
  rss_title="$WS_CAPNAME$"
  rss_url="/lists/$WS_LISTNAME$.rss"
  >

<Fragment set:html={body} />

</InfoPage>

<Fragment is:raw set:html={body_post} />
