{% extends 'layout-home.html' %}
{% import 'relnote_list.html' as relnote_list %}

{# $Id$
#}

{% block title %}Release Notes{% endblock %}

{% block content %}
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <div class="ws-well-heading">Release Notes</div>

<p>
Release notes are available for the following versions of Wireshark:
</p>

{% for section in relnote_list.release_note_sections %}

<h3>{{ section.branch }}</h3>

{% for version in section.versions %}
<div class="relnote-entry">
  <a href="wireshark-{{ version }}.html">Wireshark {{ version }}</a>
</div>
{% endfor %} {# version #}
{% endfor %} {# section #}

  </div>{# ws-well #}
  </div>{# col col-md #}
</div>
</div>
</section>
{% endblock content %}
