@use "../../styles/colors.module.scss";
@use "../../styles/breakpoints" as b;

.cardWrapper {
    box-shadow: var(--box-shadow);
    transition: .3s;
    border-radius: 3px;

    .imgSection {
        height: 0;
        padding-bottom: 95%;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: b.$smaller) {
            padding-bottom: 67%;
        }

        img {
            max-width: 100%;
            min-width: 100%;
            border-radius: 3px;
        }

        iframe {
            min-height: 410px;
        }
    }

    .cardContent {
        padding: 1rem;

        h2 {
            margin: 0;

            @media screen and (max-width: b.$mobile) {
                font-size: 1rem;
            }
        }
    }
}

.cardWrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 40, 255, 0.28);
}