---
import InfoPage from "../layouts/InfoPage.astro";
import links from "../utils/links";
import WiresharkUContent from "../components/Learn/WiresharkUContent";
---

<style lang="scss">
    #wireshark-university {
        #WiresharkUniversityUS, #WiresharkUniversityEU, #WiresharkUniversityASIA {
            margin: 4rem 0rem;
        }
        .top-section {
            margin-bottom: 4rem;
        }
        h3, h4 {
            margin-bottom: 0;
        }
        strong {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        
        .info-reg {
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                height: 70px;
                padding: 0 1rem;
            }
        }
    }
</style>

<InfoPage title="Wireshark • Learn">
    <section id="wireshark-university">
        <div class="top-section">
            <h1>WIRESHARK UNIVERSITY</h1>
            <p>Check here to learn about upcoming opportunities to learn packet analysis with Wireshark experts.</p>
            <h2><a href="https://sharkfest.wireshark.org" target="_blank" rel="noopenner noreferrer">SharkFest</a></h2>
            <p><a href="https://sharkfest.wireshark.org" target="_blank" rel="noopenner noreferrer">SharkFest™<a>, launched in 2008, is a series of annual educational conferences staged in various parts of the globe and focused on sharing knowledge, experience and best practices among the Wireshark® developer and user communities. SharkFest attendees hone their skills in the art of packet analysis by attending lecture and lab-based sessions delivered by the most seasoned experts in the industry. Wireshark core code contributors also gather during the conference days to enrich and evolve the tool to maintain its relevance in ensuring the productivity of modern networks.</p><br/>
            <h2><a href="#WiresharkUniversityUS">US</a> || <a href="#WiresharkUniversityEU">EUROPE</a> || <a href="#WiresharkUniversityASIA">ASIA</a></h2>
        </div>
        <WiresharkUContent client:load />
        <div id="WiresharkUniversityASIA">
            <h2>WIRESHARK UNIVERSITY ASIA</h2>

            <div>
                <h3>Wireshark University & Allegro Packets online APAC Wireshark Training Session:</h3>
                <h3><a href={links.apac24.url}>Simplifying troubleshooting in modern networks using Wireshark + Allegro Packets</a></h3>
                <div class="info-reg">
                    <p><b><strong>July 17th, 2024</strong><br/>
                    10:00-11:55</b> SGT (UTC+8)<br/>
                    <b>10:00-10:05</b> Gerald Combs' welcome<br/>
                    <b>10:05-11:40</b> Phill Shade's training<br/>
                    <b>11:40-11:55</b> Allegro Packets<br/>
                    <b>S$65 (Singapore Dollars)</b>
                </p>
                    <a href={links.apac24.url}><button class="primary-button">Register Now</button></a>
                </div>
                <p>Packets may never lie, but how do you find the packets telling you the truth?</p>

                <p>From the largest to the smallest company, the inescapable truth is that with the clicking of a few keys or even a simple phone call, intruders can bypass the most carefully constructed security.</p>
                    
                <p>Join us as former Blackhat turned Forensics Investigator Phill Shade explores several real-world network forensics case studies from his files. His analysis includes how he approached each case and what information, if any, he was given to base his analysis on. The Emphasis is on the Indicators of Compromise (IoCs) detected that lead to event resolution.</p>
                
                <h4>Instructor: Phill Shade, Owner Merlion's Keep Consulting</h4>
                <p><b>Phill “Sherlock” Shade</b> is a Senior Network / Forensics Investigator and founder of Merlion’s Keep Consulting, specializing in all Network and Forensics Analysis aspects. A former Blackhat, he is an internationally recognized network security and forensics expert, drawing from over 30 years of hands-on, real-world experience. A member of the Global Cyber Response Team (GCRT), FBI InfraGard, Computer Security Institute, the IEEE, and a Volunteer at Cyber Warfare Forum Initiative, he is a frequent consultant for numerous international security, technology, and government agencies.</p>

                <h4>Allegro Packets' Network Analysis & Packet Capture Solutions</h4>
                <p>
                Allegro Packets offers the world's fastest 240Gbps(60Mpps), L2-to-L7 packet analyzer for IT/OT/IoT Metadata Observability with one-second granularity and Microburst(ms) in real time for long term. These appliances, known as "Allegro Network Multimeters" provide highly granular and detailed analysis through innovative system architecture and powerful software algorithms. They effectively uncover network problems, performance bottlenecks, and protocol disturbances. With advanced incident monitoring capabilities based on thresholds and notifications, Allegro Network Multimeters proactively assist IT teams and service providers in network performance management, root cause analysis, and simplifying informed network-related decisions, including security considerations. <br/><br/>
                Learn more at: <a target="_blank" rel="noopener noreferrer" href="https://allegro-packets.com/en/">https://allegro-packets.com/en/</a>
                </p>
            </div>
        </div>
    </section>
</InfoPage>