<div class="article" title="Wireshark 1.4.2 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36127917"></a>Wireshark 1.4.2 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2010-14.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            Nephi Johnson of BreakingPoint discovered that the LDSS dissector
            could overflow a buffer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5318">Bug
            5318</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.12 and 1.4.0 to 1.4.1.
  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-4300">CVE-2010-4300</a>
          </p></li><li class="listitem"><p>
            The ZigBee ZCL dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5303">Bug
            5303</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.1.
  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-4301">CVE-2010-4301</a>
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          File-Open Display Filter is overwritten by Save-As Filename.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3894">Bug
          3894</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes with "Gtk-ERROR **: Byte index 6 is off the end of the line" if click on last PDU.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5285">Bug
          5285</a>)
        </p></li><li class="listitem"><p>
          GTK-ERROR can occur in packets when there are multiple Netbios/SMB headers in a single frame.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5289">Bug
          5289</a>)
        </p></li><li class="listitem"><p>
          "Tshark -G values" crashes on Windows.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5296">Bug
          5296</a>)
        </p></li><li class="listitem"><p>
          PROFINET I&amp;M0FilterData packet not fully decoded.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5299">Bug
          5299</a>)
        </p></li><li class="listitem"><p>
          PROFINET MRP linkup/linkdown decoding incorrect.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5300">Bug
          5300</a>)
        </p></li><li class="listitem"><p>
          [lua] Dumper:close() will cause a segfault due later GC of the Dumper.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5320">Bug
          5320</a>)
        </p></li><li class="listitem"><p>
          Network Instruments' trace files sometimes cannot be read with an error message of "Observer: bad record: Invalid magic number".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5330">Bug
          5330</a>)
        </p></li><li class="listitem"><p>
          IO Graph Time of Day times incorrect for filtered data.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5340">Bug
          5340</a>)
        </p></li><li class="listitem"><p>
          Wireshark tools do not detect and read some ERF files correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5344">Bug
          5344</a>)
        </p></li><li class="listitem"><p>
          "editcap -h" sends some lines to stderr and others to stdout.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5353">Bug
          5353</a>)
        </p></li><li class="listitem"><p>
          IP Timestamp Option: "flag=3" variant (prespecified) not displayed correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5357">Bug
          5357</a>)
        </p></li><li class="listitem"><p>
          AgentX PDU Header 'hex field highlighting' incorrectly spans extra bytes.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5364">Bug
          5364</a>)
        </p></li><li class="listitem"><p>
          AgentX dissector cannot handle null OID in Open-PDU.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5368">Bug
          5368</a>)
        </p></li><li class="listitem"><p>
          Crash with "Gtk-ERROR **: Byte index 6 is off the end of the line".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5374">Bug
          5374</a>)
        </p></li><li class="listitem"><p>
          ANCP Portmanagment TLV wrong decoded.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5388">Bug
          5388</a>)
        </p></li><li class="listitem"><p>
          Crash during startup because of Python SyntaxError in wspy_libws.py.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5389">Bug
          5389</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AgentX,
ANCP,
DIAMETER,
HTTP,
IP,
LDSS,
MIME,
NBNS,
PROFINET,
SIP,
TCP,
Telnet,
ZigBee

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Endace ERF, Network Instruments Observer.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
