<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_11_release_notes">Wireshark 3.6.11 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-02">wnpa-sec-2023-02</a>
NFS dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18628">Issue 18628</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-03">wnpa-sec-2023-03</a>
Dissection engine crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18766">Issue 18766</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-04">wnpa-sec-2023-04</a>
GNW dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18779">Issue 18779</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-05">wnpa-sec-2023-05</a>
iSCSI dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18796">Issue 18796</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-06">wnpa-sec-2023-06</a>
Multiple dissector excessive loops.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18711">Issue 18711</a>. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18720">Issue 18720</a>, <a href="https://gitlab.com/wireshark/wireshark/-/issues/18737">Issue 18737</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-07">wnpa-sec-2023-07</a>
TIPC dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18770">Issue 18770</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Qt: After modifying coloring rules, the coloring rule applied to the first packet reflects the coloring rules previously in effect. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12475">Issue 12475</a>.</p>
</li>
<li>
<p>Help file doesn’t display for extcap interfaces <a href="https://gitlab.com/wireshark/wireshark/-/issues/15592">Issue 15592</a>.</p>
</li>
<li>
<p>Dissector bug, protocol DRBD <a href="https://gitlab.com/wireshark/wireshark/-/issues/16689">Issue 16689</a>.</p>
</li>
<li>
<p>For USB traffic on XHC20 interface destination is always given as Host <a href="https://gitlab.com/wireshark/wireshark/-/issues/16768">Issue 16768</a>.</p>
</li>
<li>
<p>Wrong pointer conversion in get_data_source_tvb_by_name() <a href="https://gitlab.com/wireshark/wireshark/-/issues/18517">Issue 18517</a>.</p>
</li>
<li>
<p>Wrong number of bits skipped while decoding an empty UTF8String on UPER packet <a href="https://gitlab.com/wireshark/wireshark/-/issues/18702">Issue 18702</a>.</p>
</li>
<li>
<p>Uninitialized values in various dissectors <a href="https://gitlab.com/wireshark/wireshark/-/issues/18742">Issue 18742</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Q.850 - error in label for cause 0x7F <a href="https://gitlab.com/wireshark/wireshark/-/issues/18780">Issue 18780</a>.</p>
</li>
<li>
<p>Uninitialized values in CoAP and RTPS dissectors <a href="https://gitlab.com/wireshark/wireshark/-/issues/18785">Issue 18785</a>.</p>
</li>
<li>
<p>Screenshots in AppStream metainfo.xml file not available <a href="https://gitlab.com/wireshark/wireshark/-/issues/18801">Issue 18801</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BEEP, BGP, BPv6, BSSGP, CoAP, GNW, GSM A-bis P-GSL, GSM BSSMAP, iSCSI, ISUP, Kafka, LwM2M-TLV, NAS-5GS, NFS, OPUS, RLC, ROHC, RTPS, TCP, Telnet, and USB</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>