<div id="header">
<h1>Wireshark 3.0.8 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Npcap 0.9986.
They previously shipped with Npcap 0.9984.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-02">wnpa-sec-2020-02</a>
BT ATT dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16258">Bug 16258</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7045">CVE-2020-7045</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark fails to create directory if parent directory does not yet exist. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16143">Bug 16143</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2019-11-30-22633.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16240">Bug 16240</a>.</p>
</li>
<li>
<p>Crash after closing the Edit Column widget. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16245">Bug 16245</a>.</p>
</li>
<li>
<p>Some valid erf timestamps get confused for gzip magic header bytes and causes an error with file_seek. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16252">Bug 16252</a>.</p>
</li>
<li>
<p>[UDS] When filtering the uds.rdbi.data_identifier field is interpreted as 1 byte whereas it consists of 2 bytes. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16256">Bug 16256</a>.</p>
</li>
<li>
<p>DNS time to live field should be displayed as days/hours/minutes/seconds. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16263">Bug 16263</a>.</p>
</li>
<li>
<p>LNet incorrectly displays Malformed Packet for RDMA Read Requests. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16269">Bug 16269</a>.</p>
</li>
<li>
<p>11ad packets get reported as 11n. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16272">Bug 16272</a>.</p>
</li>
<li>
<p>MPLS : Label Stack Sub TLV decoded improperly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16273">Bug 16273</a>.</p>
</li>
<li>
<p>A-bis/OML: IPA Destination IP Address attribute contains inverted value (endianness). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16282">Bug 16282</a>.</p>
</li>
<li>
<p>h264: SPS frame_crop_right_offset shown in UI as frame_crop_left_offset. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16285">Bug 16285</a>.</p>
</li>
<li>
<p>DOIP: Typo in "identifcation request messages". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16325">Bug 16325</a>.</p>
</li>
<li>
<p>Toolbar "?" help button - no text/help displayed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16327">Bug 16327</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>802.11 Radiotap, BT ATT, DNS, DOIP, GSM A RR, GSM A-bis/OML, H264, H265, IEEE 802.11, LNET, MPLS Echo, rtnetlink, TIPC, and UDS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2020-01-15 18:10:30 UTC
</div>
</div>
