<div id="header">
<h1>Wireshark 3.4.0 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Many improvements have been made.
See the “New and Updated Features” section below for more details.</p>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.4.0rc1:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nothing of note.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.3.1:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The Protobuf fields defined as google.protobuf.Timestamp type of Protobuf standard library
can now be dissected as Wireshark fields of absolute time type.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.3.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Npcap 1.00.
They previously shipped with Npcap 0.9997.</p>
</li>
<li>
<p>The Windows installers now ship with Qt 5.15.1.
They previously shipped with Qt 5.12.8.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.2.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Windows executables and installers are now <a href="https://support.microsoft.com/en-us/help/4472027/2019-sha-2-code-signing-support-requirement-for-windows-and-wsus">signed using SHA-2 only</a>.</p>
</li>
<li>
<p>Save RTP stream to .au supports any codec with 8000 Hz rate supported by Wireshark (shown in RTP player). If save of audio is not possible (unsupported codec or rate), silence of same length is saved and warning is shown.</p>
</li>
<li>
<p>Asynchronous DNS resolution is always enabled. As a result, the c-ares library is now a required dependency.</p>
</li>
<li>
<p>Protobuf fields can be dissected as Wireshark (header) fields that allows user input
the full names of Protobuf fields or messages in Filter toolbar for searching.</p>
</li>
<li>
<p>Dissectors based on Protobuf can register themselves to a new 'protobuf_field' dissector table,
which is keyed with the full names of fields, for further parsing fields of BYTES or STRING type.</p>
</li>
<li>
<p>Wireshark is able to decode, play, and save iLBC payload on platforms where the <a href="https://github.com/TimothyGu/libilbc">iLBC library</a> is available.</p>
</li>
<li>
<p>Wireshark is able to decode, play, and save opus payload on platforms where the <a href="https://opus-codec.org/">opus library</a> is available.</p>
</li>
<li>
<p>“Decode As” entries can now be copied from other profiles using a button in the dialog.</p>
</li>
<li>
<p>sshdump can now be copied to multiple instances. Each instance will show up a different interface and will have its own profile.</p>
</li>
<li>
<p>The main window now supports a packet diagram view, which shows each packet as a textbook-style diagram.</p>
</li>
<li>
<p>Filter buttons (“Preferences → Filter Buttons”) can be grouped by using “//” as a path separator in the filter button label.</p>
</li>
<li>
<p>IPP Over USB packets can now be dissected and displayed</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>Arinc 615A (A615A), Asphodel Protocol, AudioCodes Debug Recording (ACDR), Bluetooth HCI ISO (BT HCI ISO), Cisco MisCabling Protocol (MCP), Community ID Flow Hashing (CommunityID), DCE/RPC IRemoteWinspool SubSystem, (IREMOTEWINSPOOL), Dynamic Link Exchange Protocol (DLEP), EAP Generalized Pre-Shared Key (EAP-GPSK), EAP Password Authenticated Exchange (EAP-PAX), EAP Pre-Shared Key (EAP-PSK), EAP Shared-secret Authentication and Key Establishment (EAP-SAKE), Fortinet Single Sign-on (FSSO), FTDI Multi-Protocol Synchronous Serial Engine (FTDI MPSSE), Hypertext Transfer Protocol Version 3 (HTTP3), ILDA Digital Network (IDN), Java Debug Wire Protocol (JDWP), LBM Stateful Resolution Service (LBMSRS), Lithionics Battery Management,
.NET Message Framing Protocol (MC-NMF),
.NET NegotiateStream Protocol (MS-NNS),
OBSAI UDP-based Communication Protocol (UDPCP), Palo Alto Heartbeat Backup (PA-HB-Bak), ScyllaDB RPC, Technically Enhanced Capture Module Protocol (TECMP), Tunnel Extensible Authentication Protocol (TEAP), UDP based FTP w/ multicast V5 (UFTP5), and USB Printer (USBPRINTER)</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>Too many protocols have been updated to list here.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>MP4 (ISO/IEC 14496-12)</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’sQ&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-10-29 18:48:21 UTC
</div>
</div>
