<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm75868467680"></a>Wireshark 2.0.5 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-39.html">wnpa-sec-2016-39</a>
</p><p class="simpara">CORBA IDL dissector crash on 64-bit Windows.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12495">Bug 12495</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-41.html">wnpa-sec-2016-41</a>
</p><p class="simpara">PacketBB crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12577">Bug 12577</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-42.html">wnpa-sec-2016-42</a>
</p><p class="simpara">WSP infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12594">Bug 12594</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-44.html">wnpa-sec-2016-44</a>
</p><p class="simpara">RLC long loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12660">Bug 12660</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-45.html">wnpa-sec-2016-45</a>
</p><p class="simpara">LDSS dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12662">Bug 12662</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-46.html">wnpa-sec-2016-46</a>
</p><p class="simpara">RLC dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12664">Bug 12664</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-47.html">wnpa-sec-2016-47</a>
</p><p class="simpara">OpenFlow long loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12659">Bug 12659</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-48.html">wnpa-sec-2016-48</a>
</p><p class="simpara">MMSE, WAP, WBXML, and WSP infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12661">Bug 12661</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-49.html">wnpa-sec-2016-49</a>
</p><p class="simpara">WBXML crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12663">Bug 12663</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
T30 FCF byte decoding masks DTC, CIG and NCS. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1918">Bug 1918</a>)
</li><li class="listitem">
TShark crashes with option "-z io,stat,…" in the presence of negative relative packet timestamps. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9014">Bug 9014</a>)
</li><li class="listitem">
<span class="emphasis"><em>Packet size limited during capture</em></span> msg is repeated in the Info column. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9826">Bug 9826</a>)
</li><li class="listitem">
Wireshark loses windows decorations on second screen when restarting maximized using GNOME. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11303">Bug 11303</a>)
</li><li class="listitem">
Cannot launch GTK+ version of wireshark as a normal user. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11400">Bug 11400</a>)
</li><li class="listitem">
Restart current capture fails with "no interface selected" error when capturing in promiscuous mode. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11834">Bug 11834</a>)
</li><li class="listitem">
Add field completion suggestions when adding a Display filter or Y Field to the IO Graph. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11899">Bug 11899</a>)
</li><li class="listitem">
Wireshark Qt always indicates locale as "C". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11960">Bug 11960</a>)
</li><li class="listitem">
Wireshark crashes every time open Statistics → Conversations | Endpoints. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12288">Bug 12288</a>)
</li><li class="listitem">
Find function within the conversations window does not work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12363">Bug 12363</a>)
</li><li class="listitem">
Invalid values for USB SET_REQUEST packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12511">Bug 12511</a>)
</li><li class="listitem">
Display filter dropdown hides cursor. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12520">Bug 12520</a>)
</li><li class="listitem">
Filter for field name tcp.options.wscale.multiplier cannot exceed 255. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12525">Bug 12525</a>)
</li><li class="listitem">
Ctrl+ shortcuts that are not text-related do not work when focus is on display filter field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12533">Bug 12533</a>)
</li><li class="listitem">
Closing Statistics window results in black screen. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12544">Bug 12544</a>)
</li><li class="listitem">
OSPF: Incorrect description of N/P-bit in NSSA LSA. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12555">Bug 12555</a>)
</li><li class="listitem">
Inconsistent VHT data rate. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12558">Bug 12558</a>)
</li><li class="listitem">
DCE/RPC malformed error when stub-data is missing but a sub-dissector has been registered. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12561">Bug 12561</a>)
</li><li class="listitem">
Wireshark is marking BGP FlowSpec NLRI as malformed if NLRI length is larger than 239 bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12568">Bug 12568</a>)
</li><li class="listitem">
"Edit Resolved Name" is not saved in current pcapng file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12629">Bug 12629</a>)
</li><li class="listitem">
MPTCP: MP_JOIN <span class="emphasis"><em>B</em></span> bit not decoded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12635">Bug 12635</a>)
</li><li class="listitem">
MPTCP MP_PRIO header with AddrID: incorrect AddrID. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12641">Bug 12641</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>802.11 Radiotap,
BGP,
CAN,
CANopen,
H.248 Q.1950,
IPv4,
IPv6,
LANforge,
LDSS,
MPTCP,
OSPF,
PacketBB,
PRP,
RLC,
RMT-FEC,
RSVP,
RTP MIDI,
T.30,
TDS,
USB,
WAP,
WBXML,
WiMax RNG-RSP,
and WSP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>and pcapng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
