<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm364046993632"></a>Wireshark 1.12.9 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-31.html">wnpa-sec-2015-31</a>
</p><p class="simpara">NBAP dissector crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11602">Bug 11602</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11835">Bug 11835</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11841">Bug 11841</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-32.html">wnpa-sec-2015-32</a>
</p><p class="simpara">UMTS FP dissector crashes.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11602">Bug 11602</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11606">Bug 11606</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-33.html">wnpa-sec-2015-33</a>
</p><p class="simpara">DCOM dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11610">Bug 11610</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-34.html">wnpa-sec-2015-34</a>
</p><p class="simpara">AllJoyn dissector infinite loop.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11607">Bug 11607</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-35.html">wnpa-sec-2015-35</a>
</p><p class="simpara">T.38 dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9887">Bug 9887</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-36.html">wnpa-sec-2015-36</a>
</p><p class="simpara">SDP dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9887">Bug 9887</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-37.html">wnpa-sec-2015-37</a>
</p><p class="simpara">NLM dissector crash.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-38.html">wnpa-sec-2015-38</a>
</p><p class="simpara">DNS dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10988">Bug 10988</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-39.html">wnpa-sec-2015-39</a>
</p><p class="simpara">BER dissector crash.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-40.html">wnpa-sec-2015-40</a>
</p><p class="simpara">Zlib decompression crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11548">Bug 11548</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-41.html">wnpa-sec-2015-41</a>
</p><p class="simpara">SCTP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11767">Bug 11767</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-42.html">wnpa-sec-2015-42</a>
</p><p class="simpara">802.11 decryption crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11790">Bug 11790</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11826">Bug 11826</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-43.html">wnpa-sec-2015-43</a>
</p><p class="simpara">DIAMETER dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11792">Bug 11792</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-44.html">wnpa-sec-2015-44</a>
</p><p class="simpara">VeriWave file parser crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11789">Bug 11789</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11791">Bug 11791</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-45.html">wnpa-sec-2015-45</a>
</p><p class="simpara">RSVP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11793">Bug 11793</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-46.html">wnpa-sec-2015-46</a>
</p><p class="simpara">ANSI A &amp; GSM A dissector crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11797">Bug 11797</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-47.html">wnpa-sec-2015-47</a>
</p><p class="simpara">Ascend file parser crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11794">Bug 11794</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-48.html">wnpa-sec-2015-48</a>
</p><p class="simpara">NBAP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11815">Bug 11815</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-49.html">wnpa-sec-2015-49</a>
</p><p class="simpara">RSL dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11829">Bug 11829</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-50.html">wnpa-sec-2015-50</a>
</p><p class="simpara">ZigBee ZCL dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11830">Bug 11830</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-51.html">wnpa-sec-2015-51</a>
</p><p class="simpara">Sniffer file parser crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11827">Bug 11827</a>)</p></li></ul></div><p>The Windows installers are now built using NSIS 2.50 in order to avoid
<a class="ulink" href="http://nsis.sourceforge.net/Docs/AppendixF.html">DLL hijacking flaws</a>.</p><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Zooming out (Ctrl+-) too far crashes Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8854">Bug 8854</a>)
</li><li class="listitem">
IPv6 Next Header is Unknown yet Wireshark tries parsing an IPv6 Extension Header. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9996">Bug 9996</a>)
</li><li class="listitem">
IPv6 Mobility Header Link-Layer Address Mobility Option is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10627">Bug 10627</a>)
</li><li class="listitem">
Windows Wireshark Installer does not detect WinPcap which is already installed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10867">Bug 10867</a>)
</li><li class="listitem">
SSL Decrypted Packet Not Decoded As HTTP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10984">Bug 10984</a>)
</li><li class="listitem">
Wireshark crashes when using the VoIP player. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11596">Bug 11596</a>)
</li><li class="listitem">
[GSMTAP] Incorrect decoding of MS Radio Access Capability using alternative coding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11599">Bug 11599</a>)
</li><li class="listitem">
TCP sequence analysis (expert info) does not work in 802.1ah frames. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11629">Bug 11629</a>)
</li><li class="listitem">
No correct GVCP info message for READREG_ACK command. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11639">Bug 11639</a>)
</li><li class="listitem">
Bug in EtherCAT dissector with mailbox response. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11652">Bug 11652</a>)
</li><li class="listitem">
NLM v4 statistics crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11654">Bug 11654</a>)
</li><li class="listitem">
Malformed packet with IPv6 mobility header. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11728">Bug 11728</a>)
</li><li class="listitem">
LDAP decode shows invalid number of results for searchResEntry packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11761">Bug 11761</a>)
</li><li class="listitem">
IPv6 RPL Routing Header with length of 8 bytes still reads an address. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11803">Bug 11803</a>)
</li><li class="listitem">
g_utf8_validate assertion when reassembling GSM SMS messages encoded in UCS2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11809">Bug 11809</a>)
</li><li class="listitem">
MPEG2TS NULL pkt: AFC: "Should be 0 for NULL packets" wrong. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11921">Bug 11921</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
802.1ah,
AllJoyn,
ANSI A,
ASN.1 BER,
CLNP,
CMS,
DCOM,
DIAMETER,
DNS,
ERF,
GSM A,
GSM SMS,
GTP,
GVCP,
HiSLIP,
IEEE 802.11,
IPv4,
IPv6,
L2TP,
LDAP,
MIP6,
MP2T,
NBAP,
NLM,
ONC RPC,
PCP,
RSL,
RSVP,
SCTP,
SDP,
SIGCOMP,
SNMP,
SPDY,
T.38,
UMTS FP,
and ZigBee ZCL</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>Ascend,
ERF,
Sniffer,
and VeriWave</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
