<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm307809777008"></a>Wireshark 2.4.2 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-42.html">wnpa-sec-2017-42</a>
</p><p class="simpara">BT ATT dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14049">Bug 14049</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15192">CVE-2017-15192</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-43.html">wnpa-sec-2017-43</a>
</p><p class="simpara">MBIM dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14056">Bug 14056</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15193">CVE-2017-15193</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-44.html">wnpa-sec-2017-44</a>
</p><p class="simpara">DMP dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14068">Bug 14068</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15191">CVE-2017-15191</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-45.html">wnpa-sec-2017-45</a>
</p><p class="simpara">RTSP dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14077">Bug 14077</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15190">CVE-2017-15190</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-46.html">wnpa-sec-2017-46</a>
</p><p class="simpara">DOCSIS infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14080">Bug 14080</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15189">CVE-2017-15189</a></p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Wireshark crash when end capturing with "Update list of packets in real-time" option off. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13024">Bug 13024</a>)
</li><li class="listitem">
Diameter service response time statistics broken in 2.2.4. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13442">Bug 13442</a>)
</li><li class="listitem">
Sequence number isn’t shown as the X axis in TCP Stream Graph - RTT. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13740">Bug 13740</a>)
</li><li class="listitem">
Using an SSL subdissector will cause SSL data to not be decoded (related to reassembly of application data). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13885">Bug 13885</a>)
</li><li class="listitem">
Wireshark 2.4.0 doesn’t build with Qt 4.8. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13909">Bug 13909</a>)
</li><li class="listitem">
Some Infiniband Connect Req fields are not decoded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13997">Bug 13997</a>)
</li><li class="listitem">
Voip Flow Sequence button crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14010">Bug 14010</a>)
</li><li class="listitem">
wireshark-2.4.1/epan/dissectors/packet-dmp.c:1034: sanity check in wrong place ?. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14016">Bug 14016</a>)
</li><li class="listitem">
wireshark-2.4.1/ui/qt/tcp_stream_dialog.cpp:1206: sanity check in odd place ?. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14017">Bug 14017</a>)
</li><li class="listitem">
[oss-fuzz] ASAN: 232 byte(s) leaked in 4 allocation(s). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14025">Bug 14025</a>)
</li><li class="listitem">
[oss-fuzz] ASAN: 47 byte(s) leaked in 1 allocation(s). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14032">Bug 14032</a>)
</li><li class="listitem">
Own interface toolbar logger dialog for each log command. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14033">Bug 14033</a>)
</li><li class="listitem">
Wireshark crashes when dissecting DOCSIS REGRSPMP which contains UCD. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14038">Bug 14038</a>)
</li><li class="listitem">
Broken installation instructions for Visual Studio Community Edition. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14039">Bug 14039</a>)
</li><li class="listitem">
RTP Analysis "save as CSV" saves twice the forward stream, if two streams are selected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14040">Bug 14040</a>)
</li><li class="listitem">
VWR file read ends early with vwr: Invalid data length 0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14051">Bug 14051</a>)
</li><li class="listitem">
reordercap fails with segmentation fault 11 on MacOS. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14055">Bug 14055</a>)
</li><li class="listitem">
Cannot Apply Bitmask to Long Unsigned. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14063">Bug 14063</a>)
</li><li class="listitem">
text2pcap since version 2.4 aborts when there are no arguments. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14082">Bug 14082</a>)
</li><li class="listitem">
gtpprime: Missing in frame.protocols. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14083">Bug 14083</a>)
</li><li class="listitem">
HTTP dissector believes ICY response is a request. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14091">Bug 14091</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
Bluetooth,
BOOTP/DHCP,
BT ATT,
BT LE,
DCERPC,
DMP,
DOCSIS,
EPL,
GTP,
H.248,
HTTP,
InfiniBand,
MBIM,
RPC,
RTSP,
SSL,
and WSP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>Ixia IxVeriWave</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
