<div xml:lang="en" class="article" title="Wireshark 1.10.4 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807024"></a>Wireshark 1.10.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p>


<div class="itemizedlist">
  <ul class="itemizedlist" type="disc">
    <li class="listitem">
      <p class="simpara"><a class="ulink" href=
      "https://www.wireshark.org/security/wnpa-sec-2013-66.html">wnpa-sec-2013-66</a></p>

      <p class="simpara">The SIP dissector could go into an infinite loop. Discovered
      by Alain Botti. (<a class="ulink" href=
      "https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9388">Bug 9388</a>)</p>

      <p class="simpara">Versions affected: 1.10.0 to 1.10.3, 1.8.0 to 1.8.11</p>

      <p class="simpara"><a class="ulink" href=
      "http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-7112">CVE-2013-7112</a></p>
    </li>

    <li class="listitem">
      <p class="simpara"><a class="ulink" href=
      "https://www.wireshark.org/security/wnpa-sec-2013-67.html">wnpa-sec-2013-67</a></p>

      <p class="simpara">The BSSGP dissector could crash. Discovered by Laurent Butti.
      (<a class="ulink" href=
      "https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9488">Bug 9488</a>)</p>

      <p class="simpara">Versions affected: 1.10.0 to 1.10.3</p>

      <p class="simpara"><a class="ulink" href=
      "http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-7113">CVE-2013-7113</a></p>
    </li>

    <li class="listitem">
      <p class="simpara"><a class="ulink" href=
      "https://www.wireshark.org/security/wnpa-sec-2013-68.html">wnpa-sec-2013-68</a></p>

      <p class="simpara">The NTLMSSP v2 dissector could crash. Discovered by Garming
      Sam.</p>

      <p class="simpara">Versions affected: 1.10.0 to 1.10.3, 1.8.0 to 1.8.11</p>

      <p class="simpara"><a class="ulink" href=
      "http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-7114">CVE-2013-7114</a></p>
    </li>

    <li class="listitem">
      <p class="simpara"><a class="ulink" href=
      "https://www.wireshark.org/security/wnpa-sec-2014-05.html">wnpa-sec-2014-05</a></p>

      <p class="simpara">The libpcap file parser could crash. Discovered by Jeremy Brown.</p>

      <p class="simpara">Versions affected: 1.10.0 to 1.10.3</p>

      <p class="simpara"><a class="ulink" href=
      "http://technet.microsoft.com/en-US/dn613815">MSVR 449</a></p>
    </li>
  </ul>
</div>

<p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
"On-the-wire" packet lengths are limited to 65535 bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8808">Bug 8808</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9390">bug 9390</a>)
</li><li class="listitem">
Tx MCS set is not interpreted properly in WLAN beacon frame. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8894">Bug 8894</a>)
</li><li class="listitem">
VoIP Graph Analysis window - some calls are black. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8966">Bug 8966</a>)
</li><li class="listitem">
Wireshark fails to decode single-line, multiple Contact: URIs in SIP responses. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9031">Bug 9031</a>)
</li><li class="listitem">
epan/follow.c - Incorrect "bytes missing in capture file" in "check_fragments" due to an unsigned int wraparound?. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9112">Bug 9112</a>)
</li><li class="listitem">
gsm_map doesn’t decode MAPv3 reportSM-DeliveryStatus result. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9382">Bug 9382</a>)
</li><li class="listitem">
Incorrect NFSv4 FATTR4_SECURITY_LABEL value. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9383">Bug 9383</a>)
</li><li class="listitem">
Timestamp decoded for Gigamon trailer is not padded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9433">Bug 9433</a>)
</li><li class="listitem">
SEL Fast Message Bug-fix for Signed 16-bit Integer Fast Meter Messages. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9435">Bug 9435</a>)
</li><li class="listitem">
DNP3 Bug Fix for Analog Data Sign Bit Handling. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9442">Bug 9442</a>)
</li><li class="listitem">
GSM SMS User Data header fill bits are wrong when using a 7 bits ASCII / IA5 encoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9478">Bug 9478</a>)
</li><li class="listitem">
WCDMA RLC dissector cannot assemble PDUs with SNs skipped and wrap-arounded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9505">Bug 9505</a>)
</li><li class="listitem">
DTLS: fix buffer overflow in mac check. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9512">Bug 9512</a>)
</li><li class="listitem">
[PATCH] Correct data length in SCSI_DATA_IN packets (within iSCSI). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9521">Bug 9521</a>)
</li><li class="listitem">
GSM SMS UDH EMS control expects 4 octets instead of 3 with OPTIONAL 4th. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9550">Bug 9550</a>)
</li><li class="listitem">
Fix "decode as …" for packet-time.c. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9563">Bug 9563</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ANSI IS-637-A,
BSSGP,
DNP3,
DVB-BAT,
DVB-CI,
GSM MAP,
GSM SMS,
IEEE 802.11,
iSCSI,
NFSv4,
NTLMSSP v2,
RLC,
SEL FM,
SIP,
and Time</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>and Pcap-ng.</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
