<div id="header">
<h1>Wireshark 4.2.1 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
<div class="paragraph">
<p>Wireshark is hosted by the Wireshark Foundation, a nonprofit which promotes protocol analysis education.
Wireshark and the foundation depend on your contributions in order to do their work.
If you or your employer would like to contribute or become a sponsor, please visit <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-01">wnpa-sec-2024-01</a>
GVCP dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19496">Issue 19496</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-0208">CVE-2024-0208</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-02">wnpa-sec-2024-02</a>
IEEE 1609.2 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19501">Issue 19501</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-0209">CVE-2024-0209</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-03">wnpa-sec-2024-03</a>
HTTP3 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19502">Issue 19502</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-0207">CVE-2024-0207</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-04">wnpa-sec-2024-04</a>
Zigbee TLV dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19504">Issue 19504</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-0210">CVE-2024-0210</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-05">wnpa-sec-2024-05</a>
DOCSIS dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19557">Issue 19557</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-0211">CVE-2024-0211</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Capture filters not saved to recently used list. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12918">Issue 12918</a>.</p>
</li>
<li>
<p>CFM dissector does not handle Sender ID TLV correctly when Chassis ID Length is zero. <a href="https://gitlab.com/wireshark/wireshark/-/issues/13720">Issue 13720</a>.</p>
</li>
<li>
<p>OSS-Fuzz 64290: wireshark:fuzzshark_ip: Global-buffer-overflow in dissect_zcl_read_attr_struct. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19490">Issue 19490</a>.</p>
</li>
<li>
<p>Overriding capture options set by preference by command line arguments (like -S) doesn’t work. <a href="https://gitlab.com/wireshark/wireshark/-/issues/14549">Issue 14549</a>.</p>
</li>
<li>
<p>Segfault when enabling monitor mode on wireless card that falsely claims to support it. <a href="https://gitlab.com/wireshark/wireshark/-/issues/16693">Issue 16693</a>.</p>
</li>
<li>
<p>Documented format of temporary file name is out of date in the Wireshark User’s Guide. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18464">Issue 18464</a>.</p>
</li>
<li>
<p>Selection highlight lost when interface list is sorted. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19133">Issue 19133</a>.</p>
</li>
<li>
<p>HTTP3 malformed packets. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19475">Issue 19475</a>.</p>
</li>
<li>
<p>Capture filter compilation fails with obscure error message. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19480">Issue 19480</a>.</p>
</li>
<li>
<p>XML: Parsing encoding attribute failed when standalone attribute exists. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19485">Issue 19485</a>.</p>
</li>
<li>
<p>Display filter expressions where the protocol name starts with digit and contains a hyphen are rejected. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19489">Issue 19489</a>.</p>
</li>
<li>
<p>diameter.3GPP-<strong>*</strong> display filters not working after upgrade to version 4.2.0. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19493">Issue 19493</a>.</p>
</li>
<li>
<p>GigE-vision: Control Protocol shows \"unknown\" as value for ASCII character set. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19494">Issue 19494</a>.</p>
</li>
<li>
<p>The HTTP/3 Request Header URI is not correct. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19497">Issue 19497</a>.</p>
</li>
<li>
<p>QUIC/TLS not extracting \"h3\" from ALPN in a capture. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19503">Issue 19503</a>.</p>
</li>
<li>
<p>Documentation on system requirements should be updated. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19512">Issue 19512</a>.</p>
</li>
<li>
<p>4.2.0: init.lua in subdirectories not loaded anymore. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19516">Issue 19516</a>.</p>
</li>
<li>
<p>Malformed SIP/SDP messages: components are not decoded properly. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19518">Issue 19518</a>.</p>
</li>
<li>
<p>heuristic_protos do not reset on profile swap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19520">Issue 19520</a>.</p>
</li>
<li>
<p>Wireshark 4.2 crashes on Apply As Column. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19521">Issue 19521</a>.</p>
</li>
<li>
<p>NFLOG timestamp is incorrect. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19525">Issue 19525</a>.</p>
</li>
<li>
<p>Qt6 Crash (Double Free) When Attempting to Save TCP Stream Graph. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19529">Issue 19529</a>.</p>
</li>
<li>
<p>Fixed parsing display filter expressions containing literal OID values, e.g. <code>snmp.name == 1.3.6.1.2.1.1.3.0</code>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p/>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
<div class="paragraph">
<p>pcapng: the if_tsoffset option is now supported.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 4.2.1.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.0.html">Wireshark 4.2.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
