<div id="header">
<h1>Wireshark 3.0.9 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-03">wnpa-sec-2020-03</a>
LTE RRC dissector memory leak.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16341">Bug 16341</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-04">wnpa-sec-2020-04</a>
WiMax DLMAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16368">Bug 16368</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-05">wnpa-sec-2020-05</a>
EAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16397">Bug 16397</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark fails to build with GCC-9. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16319">Bug 16319</a>.</p>
</li>
<li>
<p>ICMP: No response if ICMP reply packet has an ICMP checksum of 0x0000. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16334">Bug 16334</a>.</p>
</li>
<li>
<p>IPv4 fragment offset value is incorrect in IPv4 header decode. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16344">Bug 16344</a>.</p>
</li>
<li>
<p>RTP export to rtpdump file doesn’t work. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16351">Bug 16351</a>.</p>
</li>
<li>
<p>ISAKMP: IKEv2 transforms and proposal have critical bit (BUG). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16364">Bug 16364</a>.</p>
</li>
<li>
<p>LLDP dissector consumes all octets to the end of the TVB and eth trailer dissector does not get called. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16387">Bug 16387</a>.</p>
</li>
<li>
<p>LACP dissector consumes all octets to the end of the TVB and eth trailer dissector does not get called. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16388">Bug 16388</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ARTNET, EAP, ICMP, ICMPv6, IPv4, ISAKMP, LACP, LLDP, LTE RRC, RDM, RTP, and WiMax DLMAP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-02-26 19:44:22 UTC
</div>
</div>
