<div id="header">
<h1>Wireshark 3.6.1 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-17">wnpa-sec-2021-17</a>
RTMPT dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17745">Issue 17745</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4185">CVE-2021-4185</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-18">wnpa-sec-2021-18</a>
BitTorrent DHT dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17754">Issue 17754</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4184">CVE-2021-4184</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-19">wnpa-sec-2021-19</a>
pcapng file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17755">Issue 17755</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4183">CVE-2021-4183</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-20">wnpa-sec-2021-20</a>
RFC 7468 file parser infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17801">Issue 17801</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4182">CVE-2021-4182</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-21">wnpa-sec-2021-21</a>
Sysdig Event dissector crash.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4181">CVE-2021-4181</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-22">wnpa-sec-2021-22</a>
Kafka dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17811">Issue 17811</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Allow sub-second timestamps in hexdumps <a href="https://gitlab.com/wireshark/wireshark/-/issues/15562">Issue 15562</a>.</p>
</li>
<li>
<p>GRPC: An unnecessary empty Protobuf tree item is displayed if the GRPC message body length is 0 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17675">Issue 17675</a>.</p>
</li>
<li>
<p>Can’t install "ChmodBPF.pkg" or "Add Wireshark to the system path.pkg" on M1 MacBook Air Monterey without Rosetta 2 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17757">Issue 17757</a>.</p>
</li>
<li>
<p>TECMP: LIN Payload is cut off by 1 byte <a href="https://gitlab.com/wireshark/wireshark/-/issues/17760">Issue 17760</a>.</p>
</li>
<li>
<p>Wireshark crashes if a 64 bit field of type BASE_CUSTOM is applied as a column <a href="https://gitlab.com/wireshark/wireshark/-/issues/17762">Issue 17762</a>.</p>
</li>
<li>
<p>Command line option "-o console.log.level" causes wireshark and tshark to exit on start <a href="https://gitlab.com/wireshark/wireshark/-/issues/17763">Issue 17763</a>.</p>
</li>
<li>
<p>Setting WIRESHARK_LOG_LEVEL=debug breaks interface capture <a href="https://gitlab.com/wireshark/wireshark/-/issues/17764">Issue 17764</a>.</p>
</li>
<li>
<p>Unable to build without tshark <a href="https://gitlab.com/wireshark/wireshark/-/issues/17766">Issue 17766</a>.</p>
</li>
<li>
<p>IEEE 802.11 action frames are not getting parsed and always seen as malformed <a href="https://gitlab.com/wireshark/wireshark/-/issues/17767">Issue 17767</a>.</p>
</li>
<li>
<p>IEC 60870-5-101 link address field is 1 byte, but should have configurable length of 0,1 or 2 bytes <a href="https://gitlab.com/wireshark/wireshark/-/issues/17775">Issue 17775</a>.</p>
</li>
<li>
<p>dfilter: 'tcp.port not in {1}' crashes Wireshark <a href="https://gitlab.com/wireshark/wireshark/-/issues/17785">Issue 17785</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="ulist">
<ul>
<li>
<p>The 'console.log.level' preference was removed in Wireshark 3.6.0.
This release adds an '-o console.log.level:' backward-compatibilty option on the CLI that maps to the new logging sub-system.
Note that this does not have bitmask semantics and does not correspond to any actual preference.
It is just a transition mechanism for users that were relying on this CLI option and will be removed in the future.
To see the new diagnostic output options consult the manpages or the output of '--help'.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ANSI A I/F, AT, BitTorrent DHT, FF, GRPC, IEC 101/104, IEEE 802.11, IEEE 802.11 Radiotap, IPsec, Kafka, QUIC, RTMPT, RTSP, SRVLOC, Sysdig Event, and TECMP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF and RFC 7468</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-12-29 19:11:55 UTC
</div>
</div>