<div xml:lang="en" class="article" title="Wireshark 1.10.2 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807120"></a>Wireshark 1.10.2 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-54.html">wnpa-sec-2013-54</a>
</p><p class="simpara">The Bluetooth HCI ACL dissector could crash. Discovered by Laurent Butti.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8827">Bug 8827</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-55.html">wnpa-sec-2013-55</a>
</p><p class="simpara">The NBAP dissector could crash. Discovered by Laurent Butti.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9005">Bug 9005</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-56.html">wnpa-sec-2013-56</a>
</p><p class="simpara">The ASSA R3 dissector could go into an infinite loop. Discovered by Ben Schmidt.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9020">Bug 9020</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-57.html">wnpa-sec-2013-57</a>
</p><p class="simpara">The RTPS dissector could overflow a buffer. Discovered by Ben Schmidt.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9019">Bug 9019</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-58.html">wnpa-sec-2013-58</a>
</p><p class="simpara">The MQ dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9079">Bug 9079</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-59.html">wnpa-sec-2013-59</a>
</p><p class="simpara">The LDAP dissector could crash.





Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-60.html">wnpa-sec-2013-60</a>
</p><p class="simpara">The Netmon file parser could crash. Discovered by G. Geshev.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8742">Bug 8742</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.1, 1.8.0 to 1.8.9</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Lua ByteArray:append() causes wireshark crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4461">Bug 4461</a>)
</li><li class="listitem">
Lua script can not get "data-text-lines" protocol data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5200">Bug 5200</a>)
</li><li class="listitem">
Lua: Trying to use Field.new("tcp.segments") to get reassembled TCP data is failed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5201">Bug 5201</a>)
</li><li class="listitem">
"Edit Interface Settings": "Capture Filter" combo box is not populated across Wireshark sessions. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7278">Bug 7278</a>)
</li><li class="listitem">
PER normally small non-negative whole number decoding is wrong when &gt;= 64. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8841">Bug 8841</a>)
</li><li class="listitem">
Strange behavior of tree expand/collapse in packet details. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8908">Bug 8908</a>)
</li><li class="listitem">
Incorrect parsing of IPFIX *IpTotalLength elements. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8918">Bug 8918</a>)
</li><li class="listitem">
IO graph/advanced, max/min/summ error on frames with multiple Diameter messages. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8980">Bug 8980</a>)
</li><li class="listitem">
pod2man error on reordercap.pod. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8982">Bug 8982</a>)
</li><li class="listitem">
SGI Nsym disambiguation is unconditionally displayed when dissecting VHT. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8989">Bug 8989</a>)
</li><li class="listitem">
The Wireshark icon doesn’t show up in OS X 10.5. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8993">Bug 8993</a>)
</li><li class="listitem">
Build fails if system Python is version 3+. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8995">Bug 8995</a>)
</li><li class="listitem">
SCSI dissector does not parse PERSISTENT RESERVE commands correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9012">Bug 9012</a>)
</li><li class="listitem">
SDP messages throws an assert. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9022">Bug 9022</a>)
</li><li class="listitem">
Wireshark fails to decode single-line, multiple Contact: URIs in SIP responses. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9031">Bug 9031</a>)
</li><li class="listitem">
PN_MRP LinkUp Message is shown as LinkDown in info. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9035">Bug 9035</a>)
</li><li class="listitem">
Dissector for EtherCAT: ADS highlighting in the Packet Bytes Pane is incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9036">Bug 9036</a>)
</li><li class="listitem">
802.11 HT Extended Capabilities B10 decode incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9038">Bug 9038</a>)
</li><li class="listitem">
Wrong dissection of MSTI Root Identifiers for all MSTIs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9088">Bug 9088</a>)
</li><li class="listitem">
Weird malformed HTTP error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9101">Bug 9101</a>)
</li><li class="listitem">
Warning for attempting to install 64-bit Wireshark on a 32-bit machine has an embedded "\n". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9103">Bug 9103</a>)
</li><li class="listitem">
Wireshark crashes when using "Export Specified Packets" &gt; "Displayed". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9106">Bug 9106</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ASN.1 PER,
ASSA R3,
Bluetooth HCI ACL,
EtherCAT AMS,
GTPv2,
HTTP,
IEEE 802.11,
IPFIX,
ISDN SUP,
LDAP,
MQ,
NBAP,
Novell SSS,
PROFINET MRP,
Radiotap,
ROHC,
RTPS,
SCSI,
SIP,
and STP</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>and Microsoft Network Monitor, pcap-ng.</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>