<div id="header">
</div>
<div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_23_release_notes">Wireshark 3.6.23 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This is expected to be the final release of the 3.6 branch.</p>
</div>
<div class="paragraph">
<p>This is also the final release with support for 32-bit Windows.
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-07">wnpa-sec-2024-07</a>
MONGO and ZigBee TLV dissector infinite loops.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19726">Issue 19726</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4854">CVE-2024-4854</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-08">wnpa-sec-2024-08</a>
The editcap command line utility could crash when chopping bytes from the beginning of a packet.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19724">Issue 19724</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4853">CVE-2024-4853</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Flow Graph scrolls in the wrong direction vertically when pressing Up/Down <a href="https://gitlab.com/wireshark/wireshark/-/issues/12932">Issue 12932</a>.</p>
</li>
<li>
<p>TCP Stream Window Scaling not working in version 2.6.1 and later <a href="https://gitlab.com/wireshark/wireshark/-/issues/15016">Issue 15016</a>.</p>
</li>
<li>
<p>TCP stream graphs (Window scaling) axis display is confusing <a href="https://gitlab.com/wireshark/wireshark/-/issues/17425">Issue 17425</a>.</p>
</li>
<li>
<p>LUA get_dissector does not give the correct dissector under 32-bit version <a href="https://gitlab.com/wireshark/wireshark/-/issues/18367">Issue 18367</a>.</p>
</li>
<li>
<p>Lua: Segfault when registering a field or expert info twice <a href="https://gitlab.com/wireshark/wireshark/-/issues/19194">Issue 19194</a>.</p>
</li>
<li>
<p>RTP Player triggers crash on dialog close if one or more streams were muted partway through playback. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19596">Issue 19596</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DOCSIS MAC MGMT, FC FZS, IPARS, MONGO, PTP, and TIPC</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_file_format_decoding_support">Updated File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 3.6.23.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.22.html">Wireshark 3.6.22</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.21.html">Wireshark 3.6.21</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.20.html">Wireshark 3.6.20</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.19.html">Wireshark 3.6.19</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.18.html">Wireshark 3.6.18</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.17.html">Wireshark 3.6.17</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.16.html">Wireshark 3.6.16</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.15.html">Wireshark 3.6.15</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.14.html">Wireshark 3.6.14</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.13.html">Wireshark 3.6.13</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.12.html">Wireshark 3.6.12</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.11.html">Wireshark 3.6.11</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.10.html">Wireshark 3.6.10</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.9.html">Wireshark 3.6.9</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.8.html">Wireshark 3.6.8</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.7.html">Wireshark 3.6.7</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.6.html">Wireshark 3.6.6</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.5.html">Wireshark 3.6.5</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.4.html">Wireshark 3.6.4</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.3.html">Wireshark 3.6.3</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.2.html">Wireshark 3.6.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.1.html">Wireshark 3.6.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.0.html">Wireshark 3.6.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
