<div xml:lang="en" class="article" title="Wireshark 1.10.1 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807248"></a>Wireshark 1.10.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-41.html">wnpa-sec-2013-41</a>
</p><p class="simpara">The DCP ETSI dissector could crash.




(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8717">Bug 8717</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.7</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4083">CVE-2013-4083</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-42.html">wnpa-sec-2013-42</a>
</p><p class="simpara">The P1 dissector could crash. Discovered by Laurent Butti.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8826">Bug 8826</a>)</p><p class="simpara">Versions affected: 1.10.0</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4920">CVE-2013-4920</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-43.html">wnpa-sec-2013-43</a>
</p><p class="simpara">The Radiotap dissector could crash. Discovered by Laurent Butti.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8830">Bug 8830</a>)</p><p class="simpara">Versions affected: 1.10.0</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4921">CVE-2013-4921</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-44.html">wnpa-sec-2013-44</a>
</p><p class="simpara">The DCOM ISystemActivator dissector could crash. Discovered by Laurent Butti.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8828">Bug 8828</a>)</p><p class="simpara">Versions affected: 1.10.0</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4922">CVE-2013-4922</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4923">CVE-2013-4923</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4924">CVE-2013-4924</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4925">CVE-2013-4925</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4926">CVE-2013-4926</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-45.html">wnpa-sec-2013-45</a>
</p><p class="simpara">The Bluetooth SDP dissector could go into a large loop. Discovered by Laurent Butti.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8831">Bug 8831</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4927">CVE-2013-4927</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-46.html">wnpa-sec-2013-46</a>
</p><p class="simpara">The Bluetooth OBEX dissector could go into an infinite loop.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8875">Bug 8875</a>)</p><p class="simpara">Versions affected: 1.10.0</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4928">CVE-2013-4928</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-47.html">wnpa-sec-2013-47</a>
</p><p class="simpara">The DIS dissector could go into a large loop.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8911">Bug 8911</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4929">CVE-2013-4929</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-48.html">wnpa-sec-2013-48</a>
</p><p class="simpara">The DVB-CI dissector could crash. Discovered by Laurent Butti.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8916">Bug 8916</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4930">CVE-2013-4930</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-49.html">wnpa-sec-2013-49</a>
</p><p class="simpara">The GSM RR dissector (and possibly others) could go into a large loop.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8923">Bug 8923</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4931">CVE-2013-4931</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-50.html">wnpa-sec-2013-50</a>
</p><p class="simpara">The GSM A Common dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8940">Bug 8940</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4932">CVE-2013-4932</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-51.html">wnpa-sec-2013-51</a>
</p><p class="simpara">The Netmon file parser could crash. Discovered by G. Geshev.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8742">Bug 8742</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4933">CVE-2013-4933</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4934">CVE-2013-4934</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-52.html">wnpa-sec-2013-52</a>
</p><p class="simpara">The ASN.1 PER dissector could crash. Discovered by Oliver-Tobias Ripka.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8722">Bug 8722</a>)</p><p class="simpara">Versions affected: 1.10.0, 1.8.0 to 1.8.8</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4935">CVE-2013-4935</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-53.html">wnpa-sec-2013-53</a>
</p><p class="simpara">The PROFINET Real-Time dissector could crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8904">Bug 8904</a>)</p><p class="simpara">Versions affected: 1.10.0</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4936">CVE-2013-4936</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Mark retransmitted SYN and FIN packets as retransmissions.
</li><li class="listitem">
Wireshark hides under Taskbar. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3034">Bug 3034</a>)
</li><li class="listitem">
IEEE 802.15.4 frame check sequence in "Chipcon mode" not displayed correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4507">Bug 4507</a>)
</li><li class="listitem">
Mask in Lua ProtoField.uint32() does not work as expected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5734">Bug 5734</a>)
</li><li class="listitem">
Crash when applying filter with Voip calls. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6090">Bug 6090</a>)
</li><li class="listitem">
Delta time regressions to tshark introduced with SVN 45071. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8160">Bug 8160</a>)
</li><li class="listitem">
Add MAC-DATA support to TETRA dissector and other minor improvements. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8708">Bug 8708</a>)
</li><li class="listitem">
Crash analyzing VoIP Calls (T38). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8736">Bug 8736</a>)
</li><li class="listitem">
Wireshark writes empty NRB FQDN which makes trace unloadable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8763">Bug 8763</a>)
</li><li class="listitem">
Quick launch icon is absent, so it shows up as a generic icon. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8773">Bug 8773</a>)
</li><li class="listitem">
Wrong encoding for 2 pod files, UTF-8 characters in another. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8774">Bug 8774</a>)
</li><li class="listitem">
SCSI (SPC) sense key specific information field must not include SKSV. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8782">Bug 8782</a>)
</li><li class="listitem">
Wireshark crashes when closing Flow Graph with Graph Analysis opened. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8793">Bug 8793</a>)
</li><li class="listitem">
Wrong size of LLRP ProtocolID Parameter in Accessspec Parameter. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8809">Bug 8809</a>)
</li><li class="listitem">
Detection of IPv6 works only on Solaris 8. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8813">Bug 8813</a>)
</li><li class="listitem">
ip.opt.type triggers for TCP NOP option. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8823">Bug 8823</a>)
</li><li class="listitem">
DCOM-SYSACT dissector crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8828">Bug 8828</a>)
</li><li class="listitem">
Incorrect decoding of MPLS Echo Request with BGP FEC. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8835">Bug 8835</a>)
</li><li class="listitem">
Buggy IEC104 dissector caused by commit r48958. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8849">Bug 8849</a>)
</li><li class="listitem">
ansi_637_tele dissector displays MSB as MBS for Call-Back Number. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8851">Bug 8851</a>)
</li><li class="listitem">
LISP Map-Notify flags I and R shown incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8852">Bug 8852</a>)
</li><li class="listitem">
ONTAP_V4 fhandle decoding leads to dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8853">Bug 8853</a>)
</li><li class="listitem">
Dropped bytes in imap dissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8857">Bug 8857</a>)
</li><li class="listitem">
Kismet drone/server dissector improvements. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8864">Bug 8864</a>)
</li><li class="listitem">
TShark iostat_draw sizeof mismatch. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8888">Bug 8888</a>)
</li><li class="listitem">
SCTP bytes graph crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8889">Bug 8889</a>)
</li><li class="listitem">
Patch to Wireshark/tshark usage info and man pages to document all timestamp (-t) options. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8906">Bug 8906</a>)
</li><li class="listitem">
Strange behavior of tree expand/collapse in packet details. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8908">Bug 8908</a>)
</li><li class="listitem">
Graph Filter field limited to 256 characters. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8909">Bug 8909</a>)
</li><li class="listitem">
Filter doesn’t support cflow ASN larger than 65535. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8959">Bug 8959</a>)
</li><li class="listitem">
Wireshark crashes when switching from a v1.11.0 profile to a v1.4.6 prof and then to a v1.5.1 prof. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8884">Bug 8884</a>)
</li><li class="listitem">
SIP stats shows incorrect values for Max/Ave setup times. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8897">Bug 8897</a>)
</li><li class="listitem">
NFSv4 delegation not reported correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8920">Bug 8920</a>)
</li><li class="listitem">
Issue with Capture Options Adapter List. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8932">Bug 8932</a>)
</li><li class="listitem">
RFC 5844 - IPv4 Support for Proxy Mobile IPv6 - Mobility option IPv4 DHCP Support Mode Option malformed packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8957">Bug 8957</a>)
</li><li class="listitem">
RFC 3775 - Mobility Support in IPv6 - Mobility option PadN incorrectly highlights + 2 bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8958">Bug 8958</a>)
</li><li class="listitem">
All mongodb query show as [Malformed Packet: MONGO]. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8960">Bug 8960</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ANSI IS-637-A,
ASN.1,
ASN.1 PER,
Bluetooth OBEX,
Bluetooth SDB,
DCERPC NDR,
DCOM ISystemActivator,
DCP ETSI,
Diameter 3GPP,
DIS,
DVB-CI,
Ethernet,
GSM Common,
GSM SMS,
H.235,
IEC104,
IEEE 802.15.4,
IEEE 802a,
IMAP,
IP,
KDSP,
LISP,
LLRP,
MAC-LTE,,
Mobile IPv6,
MONGO,
MPLS Echo,
Netflow,
NFS,
NFSv4,
P1,
PDCP-LTE,
PN-IO,
PN-RT,
PPP,
Radiotap,
RLC,,
RLC-LTE,,
SCSI,
SIP,
SMTP,
SoulSeek,
TCP,
TETRA,
and VNC</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>and Microsoft Network Monitor, pcap-ng.</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>