<div id="header">
</div>
<div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_21_release_notes">Wireshark 3.6.21 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you might have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cannot drag and move custom filter buttons in toolbar <a href="https://gitlab.com/wireshark/wireshark/-/issues/19447">Issue 19447</a>.</p>
</li>
<li>
<p>Can’t open a snoop file from the Open dialog box unless I select "All files" as the file type <a href="https://gitlab.com/wireshark/wireshark/-/issues/19565">Issue 19565</a>.</p>
</li>
<li>
<p>Incorrect recursion depth assert failure when dissecting a legitimate GOOSE message <a href="https://gitlab.com/wireshark/wireshark/-/issues/19580">Issue 19580</a>.</p>
</li>
<li>
<p>TFTP dissector bug type listed as netscii instead of netascii doesn’t show all TFTP packets including TFTP blocks <a href="https://gitlab.com/wireshark/wireshark/-/issues/19589">Issue 19589</a>.</p>
</li>
<li>
<p>CFLOW: failure to decode 0 length data fields of IPFIX variable length data types. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19605">Issue 19605</a>.</p>
</li>
<li>
<p>OSS-Fuzz 66561: wireshark:fuzzshark_ip_proto-udp: Null-dereference READ in wmem_map_lookup <a href="https://gitlab.com/wireshark/wireshark/-/issues/19642">Issue 19642</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>CFLOW, CMIP, CMP, DAP, DISP, GLOW, GOOSE, H.225, H.245, H.248, IEEE 1609.2, IPv4, IPv6, ISUP, ITS, Kerberos, LDAP, MMS, P22, P7, PARLAY, RSVP, RTMPT, TFTP, X.509if, X.509sat, X11, Z39.50, and ZigBee Green Power</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 3.6.21.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.20.html">Wireshark 3.6.20</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.19.html">Wireshark 3.6.19</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.18.html">Wireshark 3.6.18</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.17.html">Wireshark 3.6.17</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.16.html">Wireshark 3.6.16</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.15.html">Wireshark 3.6.15</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.14.html">Wireshark 3.6.14</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.13.html">Wireshark 3.6.13</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.12.html">Wireshark 3.6.12</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.11.html">Wireshark 3.6.11</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.10.html">Wireshark 3.6.10</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.9.html">Wireshark 3.6.9</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.8.html">Wireshark 3.6.8</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.7.html">Wireshark 3.6.7</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.6.html">Wireshark 3.6.6</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.5.html">Wireshark 3.6.5</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.4.html">Wireshark 3.6.4</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.3.html">Wireshark 3.6.3</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.2.html">Wireshark 3.6.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.1.html">Wireshark 3.6.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.0.html">Wireshark 3.6.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
