<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm510536889664"></a>Wireshark 2.0.0 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_new_and_updated_features">2.1. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.2. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.6. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.7. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><p>Wireshark 2.0 features a completely new user interface which should provide a
smoother, faster user experience. The new interface should be familiar to
current users of Wireshark but provide a faster workflow for many tasks.</p><p>The Windows installer provides the option of installing either the new
interface (“Wirehsark”) or the old interface (“Wireshark Legacy”).
Both are installed by default. Note that the legacy interface will be
removed in Wireshark 2.2.</p><p>The OS X installer only provides the new interface. If you need the
old interface you can install it via Homebrew or MacPorts.</p><p>Wireshark’s Debian- and RPM-based package definitions provide the new
interface in the “wireshark-qt” package and the old interface in the
“wireshark-gtk” package. It is hoped that downstream distributions will
follow this convention.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.1. New and Updated Features</h3></div></div></div><p>The following features are new (or have been significantly updated)
since version 2.0.0rc3:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
An RTP player crash has been fixed.
</li><li class="listitem">
Flow graph issues have been fixed. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11710">Bug 11710</a>.
</li><li class="listitem">
A Follow Stream dialog crash has been fixed. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11711">Bug 11711</a>.
</li><li class="listitem">
An extcap crash has been fixed.
</li><li class="listitem">
A file merge crash has been fixed. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11718">Bug 11718</a>.
</li><li class="listitem">
A handle leak crash has been fixed. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11702">Bug 11702</a>.
</li><li class="listitem">
Several other crashes and usability issues have been fixed.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 2.0.0rc2:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Column editing now works correctly. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11433">Bug 11433</a>.
</li><li class="listitem">
Renaming profiles has been fixed. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11658">Bug 11658</a>.
</li><li class="listitem">
“File”→Merge no longer crashes on Windows. Bug <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11684">Bug 11684</a>.
</li><li class="listitem">
Icons in the main toolbar obey magnification settings on Windows. Bug
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11675">Bug 11675</a>.
</li><li class="listitem">
The Windows installer does a better job of detecting WinPcap. Bug
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10867">Bug 10867</a>.
</li><li class="listitem">
The main window no longer appears off-screen on Windows. Bug
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11568">Bug 11568</a>.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 2.0.0rc1:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
For new installations on UN*X, the directory for user preferences is
<code class="literal">$HOME/.config/wireshark</code> rather than <code class="literal">$HOME/.wireshark</code>.  If that directory
is absent, preferences will still be found and stored under
<code class="literal">$HOME/.wireshark</code>.
</li><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The SIP Statistics dialog has been added.
</li><li class="listitem">
You can now create filter expressions from the display filter toolbar.
</li><li class="listitem">
Bugs in the UAT preferences dialog has been fixed.
</li></ul></div></li><li class="listitem">
Several dissector and Qt UI crash bugs have been fixed.
</li><li class="listitem">
Problems with the OS X application bundle have been fixed.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.9:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The LTE RLC Graph dialog has been added.
</li><li class="listitem">
The LTE MAC Statistics dialog has been added.
</li><li class="listitem">
The LTE RLC Statistics dialog has been added.
</li><li class="listitem">
The IAX2 Analysis dialog has been added.
</li><li class="listitem">
The Conversation Hash Tables dialog has been added.
</li><li class="listitem">
The Dissector Tables dialog has been added.
</li><li class="listitem">
The Supported Protocols dialog has been added.
</li><li class="listitem">
You can now zoom the I/O and TCP Stream graph X and Y axes independently.
</li><li class="listitem">
The RTP Player dialog has been added.
</li><li class="listitem">
Several memory leaks have been fixed.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.8:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The MTP3 statistics and summary dialogs have been added.
</li><li class="listitem">
The WAP-WSP statistics dialog has been added.
</li><li class="listitem">
The UDP multicast statistics dialog has been added.
</li><li class="listitem">
The WLAN statistics dialog has been added.
</li><li class="listitem">
The display filter macros dialog has been added.
</li><li class="listitem">
The capture file properties dialog now includes packet comments.
</li><li class="listitem">
Many more statistics dialogs can be opened from the command line
   via <code class="literal">-z ...</code>.
</li><li class="listitem">
Most dialogs now have a cancellable progress bar.
</li><li class="listitem">
Many packet list and packet detail context menus items have been added.
</li><li class="listitem">
Lua plugins can be reloaded from the Analyze menu.
</li><li class="listitem">
Many bug fixes and improvements.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.7:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The Enabled Protocols dialog has been added.
</li><li class="listitem">
Many statistics dialogs have been added, including Service response time,
   DHCP/BOOTP, and ANSI.
</li><li class="listitem">
The RTP Analysis dialog has been added.
</li><li class="listitem">
Lua dialog support has been added.
</li><li class="listitem">
You can now manually resolve addresses.
</li><li class="listitem">
The Resolved Addresses dialog has been added.
</li><li class="listitem">
The packet list scrollbar now has a minimap.
</li><li class="listitem">
The capture interfaces dialog has been updated.
</li><li class="listitem">
You can now colorize conversations.
</li><li class="listitem">
Welcome screen behavior has been improved.
</li><li class="listitem">
Plugin support has been improved.
</li><li class="listitem">
Many dialogs should now more correctly minimize and maximize.
</li><li class="listitem">
The reload button has been added back to the toolbar.
</li><li class="listitem">
The "Decode As" dialog no longer saves decoding behavior.
</li><li class="listitem">
You can now stop loading large capture files.
</li><li class="listitem">
The Bluetooth HCI Summary has been added.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.6:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The Bluetooth Devices dialog has been added.
</li><li class="listitem">
The wireless toolbar has been added.
</li><li class="listitem">
Opening files via drag and drop is now supported.
</li><li class="listitem">
The Capture Filter and Display Filter dialogs have been added.
</li><li class="listitem">
The Display Filter Expression dialog has been added.
</li><li class="listitem">
Conversation Filter menu items have been added.
</li><li class="listitem">
You can change protocol preferences by right clicking on the packet list
   and details.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.4 and 1.99.5:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
Capture restarts are now supported.
</li><li class="listitem">
Menu items for plugins are now supported.
</li><li class="listitem">
Extcap interfaces are now supported.
</li><li class="listitem">
The Expert Information dialog has been added.
</li><li class="listitem">
Display and capture filter completion is now supported.
</li><li class="listitem">
Many bugs have been fixed.
</li><li class="listitem">
Translations have been updated.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.3:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
Several interface bugs have been fixed.
</li><li class="listitem">
Translations have been updated.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.2:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
Several bugs have been fixed.
</li><li class="listitem">
You can now open a packet in a new window.
</li><li class="listitem">
The Bluetooth ATT Server Attributes dialog has been added.
</li><li class="listitem">
The Coloring Rules dialog has been added.
</li><li class="listitem">
Many translations have been updated. Chinese, Italian and Polish
   translations are complete.
</li><li class="listitem">
General user interface and usability improvements.
</li><li class="listitem">
Automatic scrolling during capture now works.
</li><li class="listitem">
The related packet indicator has been updated.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.1:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The welcome screen layout has been updated.
</li><li class="listitem">
The Preferences dialog no longer crashes on Windows.
</li><li class="listitem">
The packet list header menu has been added.
</li><li class="listitem">
Statistics tree plugins are now supported.
</li><li class="listitem">
The window icon is now displayed properly in the Windows taskbar.
</li><li class="listitem">
A packet list an byte view selection bug has been fixed (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10896">Bug 10896</a>)
</li><li class="listitem">
The RTP Streams dialog has been added.
</li><li class="listitem">
The Protocol Hierarchy Statistics dialog has been added.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.99.0:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
You can now show and hide toolbars and major widgets using the View menu.
</li><li class="listitem">
You can now set the time display format and precision.
</li><li class="listitem">
The byte view widget is much faster, particularly when selecting large
reassembled packets.
</li><li class="listitem">
The byte view is explorable. Hovering over it highlights the corresponding
field and shows a description in the status bar.
</li><li class="listitem">
An Italian translation has been added.
</li><li class="listitem">
The Summary dialog has been updated and renamed to Capture File Properties.
</li><li class="listitem">
The VoIP Calls and SIP Flows dialogs have been added.
</li><li class="listitem">
Support for HiDPI / Retina displays has been improved in the official packages.
</li></ul></div></li><li class="listitem">
DNS stats:
     + A new stats tree has been added to the Statistics menu. Now it
       is possible to collect stats such as qtype/qclass distribution,
       number of resource record per response section, and stats data
       (min, max, avg) for values such as query name length or DNS
       payload.
</li><li class="listitem">
HPFEEDS stats:
     + A new stats tree has been added to the statistics menu. Now it
       is possible to collect stats per channel (messages count and payload
       size), and opcode distribution.
</li><li class="listitem">
HTTP2 stats:
     + A new stats tree has been added to the statistics menu. Now it
       is possible to collect stats (type distribution).
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.12.0:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
The I/O Graph in the Gtk+ UI now supports an unlimited number of data points
(up from 100k).
</li><li class="listitem">
TShark now resets its state when changing files in ring-buffer mode.
</li><li class="listitem">
Expert Info severities can now be configured.
</li><li class="listitem">
Wireshark now supports external capture interfaces.  External capture
interfaces can be anything from a tcpdump-over-ssh pipe to a program that
captures from proprietary or non-standard hardware.  This functionality is not
available in the Qt UI yet.
</li><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: circle; "><li class="listitem">
The Qt UI is now the default (program name is wireshark).
</li><li class="listitem">
A Polish translation has been added.
</li><li class="listitem">
The Interfaces dialog has been added.
</li><li class="listitem">
The interface list is now updated when interfaces appear or disappear.
</li><li class="listitem">
The Conversations and Endpoints dialogs have been added.
</li><li class="listitem">
A Japanese translation has been added.
</li><li class="listitem">
It is now possible to manage remote capture interfaces.
</li><li class="listitem">
Windows: taskbar progress support has been added.
</li><li class="listitem">
Most toolbar actions are in place and work.
</li><li class="listitem">
More command line options are now supported
</li></ul></div></li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.2. New File Format Decoding Support</h3></div></div></div><p>Wireshark is able to display the format of some types of files (rather than
displaying the contents of those files). This is useful when you’re curious
about, or debugging, a file and its format.  To open a capture file (such as
PCAP) in this mode specify "MIME Files Format" as the file’s format in the
Open File dialog.</p><p>New files that Wireshark can open in this mode include:</p><p>BTSNOOP,
PCAP,
and PCAPNG</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>Aeron,
AllJoyn Reliable Datagram Protocol,
Android Debug Bridge,
Android Debug Bridge Service,
Android Logcat text,
Apache Tribes Heartbeat,
APT-X Codec,
B.A.T.M.A.N. GW,
B.A.T.M.A.N. Vis,
BGP Monitoring Prototol (BMP),
Bluetooth Broadcom HCI,
Bluetooth GATT Attributes (<span class="strong"><strong>many</strong></span>),
Bluetooth OBEX Applications (<span class="strong"><strong>many</strong></span>),
BSSAP2,
C15 Call History Protocol (C15ch) and others,
Celerra VNX,
Ceph,
Chargen,
Classical IP,
Concise Binary Object Representation (CBOR) (RFC 7049),
Corosync Totem Single Ring Protocol,
Corosync Totemnet,
Couchbase,
CP “Cooper” 2179,
CSN.1,
dCache,
DJI UAV Drone Control Protocol,
Dynamic Source Routing (RFC 4728),
Elasticsearch,
ETSI Card Application Toolkit - Transport Protocol,
eXpressive Internet Protocol (XIP),
GDB Remote Serial Protocol,
Generic Network Virtualization Encapsulation (Geneve),
Geospatial and Imagery Access Service (GIAS),
Gias Dissector Using GIOP API,
GPRS Tunneling Protocol Prim,
GVSP GigE Vision ™ Streaming Protocol,
H.225 RAS,
Harman HiQnet,
HCrt,
Hotline Command-Response Transaction Protocol,
IEEE 802.11 radio information,
IP Detail Record (IPDR),
IPMI Trace,
iSER,
KNXnetIP,
Link Aggregation Control Protocol,
Link Aggregation Marker Protocol,
Link Layer Topology Discovery,
Link-local Multicast Name Resolution,
LISP TCP Control Message,
Locator/ID Separation Protocol (Reliable Transport),
MACsec Key Agreement - EAPoL-MKA,
MCPE (Minecraft Pocket Edition),
Message Queuing Telemetry Transport For Sensor Networks (MQTT-SN),
Minecraft Pocket Edition,
MQ Telemetry Transport Protocol for Sensor Networks,
Multicast Domain Name Service (mDNS),
Neighborhood Watch Protocol (NWP),
Network File System over Remote Direct Memory Access (NFSoRDMA),
OAMPDU,
OCFS2,
OptoMMP,
Organization Specific Slow Protocol (OSSP),
Packet Cable Lawful Intercept (8 byte CCCID),
Packet Cable Lawful Intercept (timestamp),
Packet Cable Lawful Intercept (timestamp case ID),
PacketCable MTA FQDN,
Performance Co-Pilot Proxy,
QNEX6 (QNET),
RakNet games library,
Remote Shared Virtual Disk (RSVD),
Riemann,
RPC over RDMA (RPCoRDMA),
S7 Communication,
Secure Socket Tunnel Protocol (SSTP),
Shared Memory Communications - RDMA (SMCR),
Stateless Transport Tunneling,
Sysdig system call events,
TCP based Robot Operating System protocol (TCPROS),
Thrift,
Time Division Multiplexing over Packet Network (TDMoP),
Video Services over IP (VSIP),
Windows Search Protocol (MS-WSP),
XIP Serval,
ZigBee ZCL (<span class="strong"><strong>many</strong></span>),
and ZVT Kassenschnittstelle</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>Too many protocols have been updated to list here.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>3GPP TS 32.423 Trace,
Android Logcat text files,
Colasoft Capsa files,
Netscaler 3.5,
and Symbian OS BTSNOOP File Format</p><p>Additionally, Wireshark now supports nanosecond timestamp resolution in PCAP-NG files.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.6. New and Updated Capture Interfaces support</h3></div></div></div><p>Androiddump support now provides interfaces to capture (Logcat, Bluetooth and
WiFi) from connected Android devices.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.7. Major API Changes</h3></div></div></div><p>The libwireshark API has undergone some major changes:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
The emem framework (including all ep_ and se_ memory allocation routines) has
been completely removed in favour of wmem which is now fully mature.
</li><li class="listitem">
The (long-since-broken) Python bindings support has been removed.  If
you want to write dissectors in something other than C, use Lua.
</li><li class="listitem">
Plugins can now create GUI menu items.
</li><li class="listitem">
Heuristic dissectors can now be globally enabled/disabled so
heur_dissector_add() has a few more parameters to make that possible
</li><li class="listitem">
proto_tree_add_text has been removed.
</li><li class="listitem">
tvb_length() has been removed in favor of tvb_reported_length() and
tvb_captured_length().
</li><li class="listitem">
The API for ONC RPC-based dissectors has changed significantly: the
procedure dissectors no longer take an offset, void-argument procedures
now need to be declared with a function (use dissect_rpc_void()), and
rpc_init_prog() now handles procedure registration too (it takes
additional arguments to handle this; rpc_init_proc_table() was removed).
</li></ul></div></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
