<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id862553"></a>Wireshark 1.0.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2008-03.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The GSM SMS dissector could crash.
            
          </p><p>Versions affected: 0.99.2 to 1.0.0</p><p>
            
          </p></li><li><p>
            The PANA and KISMET dissectors could force Wireshark to quit
	    unexpectedly.
            
	    
          </p><p>Versions affected: 0.99.3 to 1.0.0</p><p>
            
          </p></li><li><p>
            The RTMPT dissector could crash.
            
	    
          </p><p>Versions affected: 0.99.8 to 1.0.0</p><p>
            
          </p></li><li><p>
            The RMI dissector could disclose system memory. Discovered by
	    Noam Rathus.
            
          </p><p>Versions affected: 0.9.5 to 1.0.0</p><p>
            
          </p></li><li><p>
            The syslog dissector could crash.
            
	    
          </p><p>Versions affected: 1.0.0</p><p>
            
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          RPC portmap classification switched to TCP after filtering.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1392">Bug
          1392</a>)
        </p></li><li><p>
          Force the foreground color when the background is forced.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1735">Bug
	  1735</a>)
        </p></li><li><p>
          RPC stream shows malformed packets.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2148">Bug
          2148</a>)
        </p></li><li><p>
          SNMP trap dissection fails.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2253">Bug
          2253</a>)
        </p></li><li><p>
          Failure to detect/open valid ERF files.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2359">Bug
          2359</a>)
        </p></li><li><p>
          Window scaling bug.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2378">Bug
          2378</a>)
        </p></li><li><p>
          Bugs in the EIGRP dissector.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2381">Bug
          2381</a>)
        </p></li><li><p>
          E212 Mobile network code 3rd digit is not correctly decoded.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2393">Bug
          2393</a>)
        </p></li><li><p>
          The BOOTP dissector fails to initialize and display some values.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2395">Bug
          2395</a>)
        </p></li><li><p>
          Data string filter crash.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2402">Bug
          2402</a>)
        </p></li><li><p>
          Debian packaging problems.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2405">Bug
          2405</a>)
        </p></li><li><p>
          Expert info composite crash for LDAP.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2407">Bug
          2407</a>)
        </p></li><li><p>
          Statistics &gt; Multicast Streams are broken.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2414">Bug
          2414</a>)
        </p></li><li><p>
          "Read me first" file is empty in the OS X .dmg.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2425">Bug
          2425</a>)
        </p></li><li><p>
          Failed tshark PDML export to file.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2432">Bug
          2432</a>)
        </p></li><li><p>
          RTCP MOS fields display wrong values.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2440">Bug
          2440</a>)
        </p></li><li><p>
          SNMP trap parse error.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2442">Bug
          2442</a>)
        </p></li><li><p>
          Ports incorrectly decoded as DPLAY instead of RTP.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2452">Bug
          2452</a>)
        </p></li><li><p>
          Incorrect decoding of DST MAC address of frame containing ICMPv6 Echo Request.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2456">Bug
          2456</a>)
        </p></li><li><p>
          Fix wireshark-filter man page for packet-diameter_3gpp.c fields.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2457">Bug
          2457</a>)
        </p></li><li><p>
          Dissector bug, protocol SNMP: proto.c:932: failed assertion.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2468">Bug
          2468</a>)
        </p></li><li><p>
          UDP not decoded as UNIStim.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2475">Bug
          2475</a>)
        </p></li><li><p>
          Debug text output from MIKEY dissector.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2481">Bug
          2481</a>)
        </p></li><li><p>
          Windows compilation errors with flex 2.5.35.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2497">Bug
          2493</a>)
        </p></li><li><p>
          RTP heuristic interferes with STUN/T38 portion of heuristic.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2497">Bug
          2497</a>)
        </p></li><li><p>
          WiMAX dissector assertion.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2501">Bug
          2501</a>)
        </p></li><li><p>
          RTP header extensions with length&gt;4 bytes dissected incorrectly.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2505">Bug
          2505</a>)
        </p></li><li><p>
          Compilation failure on non-european Windows systems.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2513">Bug
          2513</a>)
        </p></li><li><p>
          BACnet BVLC NAK decoding.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2517">Bug
          2517</a>)
        </p></li><li><p>
          'tshark -Tfields -e data' omits last character of data.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2518">Bug
          2518</a>)
        </p></li><li><p>
          "Next file every" inconsistent behaviour.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2599">Bug
          2599</a>)
        </p></li><li><p>
          Wireshark doest not parse iSCSI login PDU.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2616">Bug
          2616</a>)
        </p></li><li><p>
          URL and encoding for OUI listings in make-manuf.
          (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2619">Bug
          2619</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The "About" box finally displays version 1.0.
          </p></li><li><p>
            Wireshark now supports custom columns.
          </p></li><li><p>
            This release includes an experimental Mac OS X package.
          </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ACTRACE,
BACnet BVLC,
BOOTP,
E212,
iSCSI,
IUA,
LDAP,
MGCP,
MIKEY,
MSMMS,
RMI,
RPC,
RTCP,
RTP,
SIP,
SNMP,
TCP,
UNIStim,
WiMAX

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Endace ERF

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      Wireshark is unable to decrypt WPA group keys.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1420">Bug
      1420</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Capturing from named pipes might be delayed on Windows.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2200">Bug
      2200</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
