<div class="article" title="Wireshark 1.4.0 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36127915"></a>Wireshark 1.4.0 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Update time display in background.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1275">Bug
          1275</a>)
        </p></li><li class="listitem"><p>
          Wireshark is unresponsive when capturing from named pipes on Windows.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1759">Bug
          1759</a>)
        </p></li><li class="listitem"><p>
          Tshark returns 0 even with an invalid interface or capture filter.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4735">Bug
          4735</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since version 1.2:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            The packet list internals have been rewritten and are now more
            efficient.
          </p></li><li class="listitem"><p>
            Columns are easier to use. You can add a protocol field as a column
            by right-clicking on its packet detail item, and you can adjust
            some column preferences by right-clicking the column header.
          </p></li><li class="listitem"><p>
            Preliminary Python scripting support has been added.
          </p></li><li class="listitem"><p>
            Many memory leaks have been fixed.
          </p></li><li class="listitem"><p>
            Wireshark 1.4 does not support Windows 2000. Please use
            Wireshark 1.2 or 1.0 on those systems.
          </p></li><li class="listitem"><p>
            Packets can now be ignored (excluded from dissection), similar to
            the way they can be marked.
          </p></li><li class="listitem"><p>
            Manual IP address resolution is now supported.
          </p></li><li class="listitem"><p>
            Columns with seconds can now be displayed as hours, minutes and
            seconds.
          </p></li><li class="listitem"><p>
            You can now set the capture buffer size on UNIX and Linux if you have
            libpcap 1.0.0 or greater.
          </p></li><li class="listitem"><p>
            TShark no longer needs elevated privileges on UNIX or Linux to list
            interfaces. Only dumpcap requires privileges now.
          </p></li><li class="listitem"><p>
            Wireshark and TShark can enable 802.11 monitor mode directly if you
            have libpcap 1.0.0 or greater.
          </p></li><li class="listitem"><p>
            You can play RTP streams directly from the RTP Analysis window.
          </p></li><li class="listitem"><p>
            Capinfos and editcap now respectively support time order checking
            and forcing.
          </p></li><li class="listitem"><p>
            Wireshark now has a "jump to timestamp" command-line option.
          </p></li><li class="listitem"><p>
            You can open JPEG files directly in Wireshark.
          </p></li></ul></div><p>

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

3GPP Nb Interface RTP Multiplex,
Access Node Control Protocol,
Apple Network-MIDI Session Protocol,
ARUBA encapsulated remote mirroring,
Assa Abloy R3,
Asynchronous Transfer Mode,
B.A.T.M.A.N. Advanced Protocol,
Bluetooth AMP Packet,
Bluetooth OBEX,
Bundle Protocol,
CIP Class Generic,
CIP Connection Configuration Object,
CIP Connection Manager,
CIP Message Router,
collectd network data,
Control And Provisioning of Wireless Access Points,
Controller Area Network,
Device Level Ring,
DOCSIS Bonded Initial Ranging Message,
Dropbox LAN sync Discovery Protocol,
Dropbox LAN sync Protocol,
DTN TCP Convergence Layer Protocol,
EtherCAT Switch Link,
Fibre Channel Delimiters,
File Replication Service DFS-R,
Gateway Load Balancing Protocol,
Gigamon Header,
GigE Vision Control Protocol,
Git Smart Protocol,
GSM over IP ip.access CCM sub-protocol,
GSM over IP protocol as used by ip.access,
GSM Radiotap,
HI2Operations,
Host Identity Protocol,
HP encapsulated remote mirroring,
HP NIC Teaming Heartbeat,
IEC61850 Sampled Values,
IEEE 1722 Protocol,
InfiniBand Link,
Interlink Protocol,
IPv6 over IEEE 802.15.4,
ISO 10035-1 OSI Connectionless Association Control Service,
ISO 9548-1 OSI Connectionless Session Protocol,
ISO 9576-1 OSI Connectionless Presentation Protocol,
ITU-T Q.708 ISPC Analysis,
Juniper Packet Mirror,
Licklider Transmission Protocol,
MPLS PW ATM AAL5 CPCS-SDU mode encapsulation,
MPLS PW ATM Cell Header,
MPLS PW ATM Control Word,
MPLS PW ATM N-to-One encapsulation, no CW,
MPLS PW ATM N-to-One encapsulation, with CW,
MPLS PW ATM One-to-One or AAL5 PDU encapsulation,
Multiple Stream Reservation Protocol,
NetPerfMeter Protocol,
NetScaler Trace,
NexusWare C7 MTP,
NSN FLIP,
OMRON FINS Protocol,
packetbb Protocol,
Peer Network Resolution Protocol,
PKIX Attribute Certificate,
Pseudowire Padding,
Server/Application State Protocol,
Solaris IPNET,
TN3270 Protocol,
TN5250 Protocol,
TRILL,
Twisted Banana,
UMTS FP Hint,
UMTS MAC,
UMTS Metadata,
UMTS RLC,
USB HID,
USB HUB,
UTRAN Iuh interface HNBAP signalling,
UTRAN Iuh interface RUA signalling,
V5.2,
Vendor Specific Control Protocol,
Vendor Specific Network Protocol,
VMware Lab Manager,
VXI-11 Asynchronous Abort,
VXI-11 Core Protocol,
VXI-11 Interrupt,
X.411 Message Access Service,
ZigBee Cluster Library

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

There are too many to list here.

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Accellent 5Views,
ASN.1 Basic Encoding Rules,
Catapult DCT2000,
Daintree SNA,
Endace ERF,
EyeSDN,
Gammu DCT3 trace,
IBM iSeries,
JPEG/JFIF,
libpcap,
Lucent/Ascend access server trace,
NetScaler,
PacketLogger,
pcapng,
Shomiti/Finisar Surveyor,
Sun snoop,
Symbian OS btsnoop,
Visual Networks

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
