<div id="header">
<h1>Wireshark 3.4.2 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-20">wnpa-sec-2020-20</a>
QUIC dissector crash
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17073">Bug 17073</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="ulist">
<ul>
<li>
<p>IETF QUIC TLS decryption errors when packets are coalesced with random data <a href="https://gitlab.com/wireshark/wireshark/-/issues/16914">Bug 16914</a>.</p>
</li>
<li>
<p>QUIC: missing dissection of some coalesced SH packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/17011">Bug 17011</a>.</p>
</li>
<li>
<p>macos-setup.sh can’t find SDK on macOS Big Sur, as it went to 11 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17043">Bug 17043</a>.</p>
</li>
<li>
<p>Mapping endpoints in browser ⇒ Map file error <a href="https://gitlab.com/wireshark/wireshark/-/issues/17074">Bug 17074</a>.</p>
</li>
<li>
<p>Wireshark 3.4.1 hangs on startup on macOS Big Sur 11.0.1 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17075">Bug 17075</a>.</p>
</li>
<li>
<p>False expect error seen on FCoE frames (not seen with older release wireshark 1.2.18) <a href="https://gitlab.com/wireshark/wireshark/-/issues/17084">Bug 17084</a>.</p>
</li>
<li>
<p>Several libraries missing in 3.4.1 and 3.2.9 installers for macOS <a href="https://gitlab.com/wireshark/wireshark/-/issues/17086">Bug 17086</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DOCSIS, FC-dNS, FC-SWILS, FCoE, QUIC, SNMP, and USBHID</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’sQ&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-12-18 18:22:48 UTC
</div>
</div>
