<div id="header">
<h1>Wireshark 3.4.5 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-04">wnpa-sec-2021-04</a>
MS-WSP dissector excessive memory consumption.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17331">Issue 17331</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>TShark does not print GeoIP information <a href="https://gitlab.com/wireshark/wireshark/-/issues/14691">Issue 14691</a>.</p>
</li>
<li>
<p>TShark error when piping to "head" <a href="https://gitlab.com/wireshark/wireshark/-/issues/16192">Issue 16192</a>.</p>
</li>
<li>
<p>Parts of ASCII representation in Packet Bytes pane are missing <a href="https://gitlab.com/wireshark/wireshark/-/issues/17087">Issue 17087</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2021-02-22-1012761.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/17254">Issue 17254</a>.</p>
</li>
<li>
<p>NDPE attribute of NAN packet is not dissected <a href="https://gitlab.com/wireshark/wireshark/-/issues/17278">Issue 17278</a>.</p>
</li>
<li>
<p>TECMP: reserved flag interpreted as part of timestamp <a href="https://gitlab.com/wireshark/wireshark/-/issues/17279">Issue 17279</a>.</p>
</li>
<li>
<p>Master branch does not compile at least with gcc-11 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17281">Issue 17281</a>.</p>
</li>
<li>
<p>DNS IXFR/AXFR multiple response <a href="https://gitlab.com/wireshark/wireshark/-/issues/17293">Issue 17293</a>.</p>
</li>
<li>
<p>File too large <a href="https://gitlab.com/wireshark/wireshark/-/issues/17301">Issue 17301</a>.</p>
</li>
<li>
<p>Build fails with CMake 3.20 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17314">Issue 17314</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DECT, DNS, EAP, Kerberos, LDAP, MS-WSP, SMB2, Sysdig, TECMP, and WiFi NAN</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-04-21 17:09:57 UTC
</div>
</div>
