<div id="header">
</div>
<div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_22_release_notes">Wireshark 3.6.22 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you might have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fuzz job issue: fuzz-2024-03-03-7204.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/19685">Issue 19685</a>.</p>
</li>
<li>
<p>Fuzz job issue: randpkt-2024-03-05-8004.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/19688">Issue 19688</a>.</p>
</li>
<li>
<p>'--export-objects' does not work as expected on tshark version later than 3.2.10 <a href="https://gitlab.com/wireshark/wireshark/-/issues/19715">Issue 19715</a>.</p>
</li>
<li>
<p>Fuzz job issue: fuzz-2024-03-21-7215.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/19717">Issue 19717</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>5GLI, 6LoWPAN, AFP, AllJoyn, AMQP, ASAP, Babel, BACnet, Banana, BEEP, Bencode, BFCP, BGP, BT BNEP, BT SDP, BT-DHT, BVLC, CFLOW, CIP, CMIP, CMP, COROSYNC/TOTEMSRP, COSE, CQL, CSN.1, DAP, DCOM, DHCPv6, DICOM, DISP, DOCSIS MAC MGMT, DOF, DVB-S2, EDONKEY, ErlDP, Etch, FC-SWILS, GLOW, GNW, GOOSE, GQUIC, Gryphon, GSM A-bis OML, GSUP, GTPv2, H.223, H.225.0, H.245, H.248, H.264, H.265, HSMS, ICMPv6, ICQ, IEEE1609dot2, IPP, IPPUSB, ISAKMP, iSCSI, ISIS LSP, ISO 7816, ISUP, ITS, JXTA, Kafka, KINK, KNX/IP, LDAP, LDP, LISP, LISP TCP, LLRP, LwM2M-TLV, M2UA, M3UA, MBIM, MMS, MONGO, MPEG PES, MPLS Echo, MQ PCF, MQTT-SN, MS-WSP, MSDP, MsgPack, NAS-5GS, NETLINK, NHRP, OpenFlow, OpenWire, OPSI, OSC, P22, P7, PANA, PIM, PNIO, ProtoBuf, PROXY, Q.2931, QNET, RDP, RESP, RPL, RSL, RSVP, RTLS, RTMPT, RTPS, S7COMM, SCTP, SIMULCRYPT, SMB2, SML, SNA, Socks, SolarEdge, SOME/IP, SoulSeek, SUA, TCAP, TEAP, TFTP, Thread, TN5250, USBHID, USBVIDEO, VP9, WASSP, WiMAX ASN CP, WLCCP, WTP, X.509IF, X.509SAT, XML, XMPP, YAMI, Z39.50, and ZigBee ZCL</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_file_format_decoding_support">Updated File Format Decoding Support</h3>
<div class="paragraph">
<p>BLF and RBM</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 3.6.22.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.20.html">Wireshark 3.6.21</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.20.html">Wireshark 3.6.20</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.19.html">Wireshark 3.6.19</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.18.html">Wireshark 3.6.18</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.17.html">Wireshark 3.6.17</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.16.html">Wireshark 3.6.16</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.15.html">Wireshark 3.6.15</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.14.html">Wireshark 3.6.14</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.13.html">Wireshark 3.6.13</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.12.html">Wireshark 3.6.12</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.11.html">Wireshark 3.6.11</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.10.html">Wireshark 3.6.10</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.9.html">Wireshark 3.6.9</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.8.html">Wireshark 3.6.8</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.7.html">Wireshark 3.6.7</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.6.html">Wireshark 3.6.6</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.5.html">Wireshark 3.6.5</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.4.html">Wireshark 3.6.4</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.3.html">Wireshark 3.6.3</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.2.html">Wireshark 3.6.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.1.html">Wireshark 3.6.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-3.6.0.html">Wireshark 3.6.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
