<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id720650"></a>Wireshark 0.99.6 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id720685">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id720957">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id721024">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id721033">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id721042">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id721075">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720685"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2007-02.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Wireshark could crash when dissecting an HTTP chunked
            response.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1394">1394</a>)
          </p><p>Versions affected: 0.99.5</p><p>

          </p></li><li><p>
            On some systems, Wireshark could crash while reading
            iSeries capture files.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1415">1415</a>)
          </p><p>Versions affected: 0.10.14 to 0.99.5</p><p>

          </p></li><li><p>
            Wireshark could exhaust system memory while reading a malformed
            DCP ETSI packet.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1264">1264</a>)
          </p><p>Versions affected: 0.99.5</p><p>

          </p></li><li><p>
            Wireshark could loop excessively while reading a malformed SSL
            packet.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1582">1582</a>)
          </p><p>Versions affected: 0.8.20 to 0.99.5</p><p>

          </p></li><li><p>
            The DHCP/BOOTP dissector was susceptible to an off-by-one error.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1416">1416</a>)
          </p><p>Versions affected: 0.10.17 to 0.99.5</p><p>

          </p></li><li><p>
            Wireshark could loop excessively while reading a malformed MMS
            packet.

            (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1342">1342</a>)
          </p><p>Versions affected: 0.10.12 to 0.99.5</p><p>

          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          WEP decryption would only work for the first key specified.
          disappear or become unusable.  WEP and WPA decryption didn't work
          for QoS frames.  WPA decryption failed if EAPOL handshake packets
          contained extra data.  Wireshark failed to parse colon-separated
          WEP keys.
        </p></li><li><p>
          Merging files in Wireshark now appends files properly.
        </p></li><li><p>
          Wireshark could hang while saving an RTP stream with bad timestamp
          data.
        </p></li><li><p>
          You must now explicitly pass "--disable-wireshark" to the build
          environment if you only want to build TShark; the configure
          script will fail, rather than automatically building only
          TShark, if it's run on a system that doesn't have GTK+ headers
          and libraries installed.
        </p></li><li><p>
	  Capture from named pipes (via <code class="function">-i
	  \\&lt;server&gt;\pipe\&lt;pipename&gt;</code>) now works under
	  Windows.
        </p></li><li><p>
          The <code class="function">frame.time_delta</code> display filter now works as
          expected, matching the delta time between the current and previous
          <span class="emphasis"><em>captured</em></span> packet.  A new filter,
          <code class="function">frame.time_delta_displayed</code>,
          matches the delta time between the current and previous
          <span class="emphasis"><em>displayed</em></span> packet.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720957"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          You no longer have to restart Wireshark after changing column
          preferences.  Woohoo!
        </p></li><li><p>
          You can now export HTTP objects via File&#8594;Export&#8594;Objects&#8594;HTTP.
        </p></li><li><p>
          <a href="http://www.wireshark.org/docs/wsug_html_chunked/ChDisplayFilterMacrosSection.html">Display
          filter macros</a> are now supported.
        </p></li><li><p>
          Right-clicking on a packet lets you copy many more things, such
          as the packet summary and the packet bytes.
        </p></li><li><p>
          You can now match upper- and lower-case text with the <code class="function">contains</code> operator, e.g. <code class="function">upper(http.request.method) contains "GET"</code>.
        </p></li><li><p>
          A great deal of code has been cleaned up, including fixing many
          compiler errors.  Many thanks to those who worked on this.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721024"></a>New Protocol Support</h3></div></div></div><p>

AMQP (Advanced Message Queueing Protocol),
BCTP Q.1990,
Borland StarTeam,
Cisco ERSPAN,
CTDB (Cluster TDB),
DRDA (Distributed Relational Database Architecture),
DTPT (DeskTop PassThrough),
EPMD (Erlang Port Mapper Daemon),
FCoE (Fibre Channel over Ethernet),
Firebird/Interbase (replaces the old Interbase dissector),
FMP (File Mapping Protocol),
H.248.10,
H.248.7,
IPsec/ISAKMP over TCP,
Kingfisher,
MIKEY (Multimedia Internet KEYing),
MPEG,
NSRP (Juniper Netscreen Redundant Protocol),
OpcUa Binary Protocol,
PPI (Per-Packet Information header),
Q.932,
QSIG,
TAPA (Trapeze Access Point Access Protocol),
WiMAX,
WiMAX M2M

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721033"></a>Updated Protocol Support</h3></div></div></div><p>

ACSE,
AFP,
AMR,
ANSI IS-801,
ANSI MAP,
ARP,
ASAP,
ASN.1 BER,
ASN.1 PER,
AVS WLANCAP,
BSSAP,
BSSGP,
BVLC,
Camel,
CDT,
CIP,
CMS,
COPS,
CPFI,
DCCP,
DCERPC (DCERPC, ATSVC, DFS, EFS, EVENTLOG, INITSHUTDOWN, NDR, NETLOGON, NSPI, NT, PNIO, SAMR, SPOOLSS, SRVSVC, WINREG, WKSSVC, WZCSVC),
DCOM (DCOM, CBA, CBA-ACCO),
DCP ETSI,
DCP,
DCT2000,
DHCP,
DIAMETER,
DMP,
DNP,
DTLS,
EDP,
ENRP,
EPL,
ERF,
FCELS,
Fibre Channel,
FTAM,
FTBP,
FW-1,
GIOP,
GSM MAP,
GTP,
H.223,
H.225,
H.235,
H.245,
H.248,
H.263,
HTTP,
IAX2,
IEEE 802.11,
IGRP,
INAP,
IP,
IPsec,
IPv6,
iSCSI,
ISUP,
IUA,
IuUP,
Juniper,
JXTA,
K12,
Kerberos,
L2TP,
LDAP,
LLDP,
LWAPP,
M3UA,
MEGACO,
MIP,
MMS,
MP2T,
MTP3,
NBAP,
NDMP,
Netflow,
NFS,
NT SONMP,
OICQ,
OSPF,
PANA,
PN-PTCP,
PPP,
P_Mul,
Radiotap,
RADIUS (Packetcable),
RANAP,
Redback,
RNSAP,
RRLP,
RSVP,
RTCP,
RTP,
RX,
SCCP,
SCSI (SCSI, MMC, OSD, SBC, SMC, SSC),
SCTP,
SDP,
SIGCOMP,
SIP,
Skinny,
SliMP3,
SLL,
SMB PIPE,
SMB,
SMB2,
SMPP,
SNMP,
SPNEGO,
SSCOP,
SSL,
STUN,
SUA,
Symantec,
Syslog,
TACACS,
TCAP,
TCP,
TFTP,
UDLD,
UDP,
ULP,
UMA,
UMTS (UMTS, FP, RRC),
USB,
VNC,
WCP,
WLCCP,
X.25,
X.411,
X.509,
YMSG

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721042"></a>New and Updated Capture File Support</h3></div></div></div><p>

DCT2000,
Endace ERF,
iSeries,
K12,
MPEG Audio (yes, this means you can open .mp3 files in Wireshark),
NetMon,
pppdump,
snoop (Shomiti wireless packets),
Visual Networks,
Windows Sniffer (NetXRay)

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721075"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
