<div xml:lang="en" class="article" title="Wireshark 1.10.11 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807120"></a>Wireshark 1.10.11 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-20.html">wnpa-sec-2014-20</a>
</p><p class="simpara">SigComp UDVM buffer overflow.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10662">Bug 10662</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8710">CVE-2014-8710</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-21.html">wnpa-sec-2014-21</a>
</p><p class="simpara">AMQP crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10582">Bug 10582</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8711">CVE-2014-8711</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-22.html">wnpa-sec-2014-22</a>
</p><p class="simpara">NCP crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10552">Bug 10552</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10628">Bug 10628</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8712">CVE-2014-8712</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8713">CVE-2014-8713</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-23.html">wnpa-sec-2014-23</a>
</p><p class="simpara">TN5250 infinite loops.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10596">Bug 10596</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8714">CVE-2014-8714</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
6LoWPAN Mesh headers not treated as encapsulating address. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10462">Bug 10462</a>)
</li><li class="listitem">
UCP dissector bug of operation 31 - PID 0639 not recognized. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10463">Bug 10463</a>)
</li><li class="listitem">
iSCSI dissector rejects PDUs with "expected data transfer length" &gt; 16M. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10469">Bug 10469</a>)
</li><li class="listitem">
GTPv2: trigging_tree under Trace information has wrong length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10470">Bug 10470</a>)
</li><li class="listitem">
Attempt to render an SMS-DELIVER-REPORT instead of an SMS-DELIVER. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10547">Bug 10547</a>)
</li><li class="listitem">
IPv6 Mobility Option IPv6 Address/Prefix marks too many bytes for the address/prefix field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10576">Bug 10576</a>)
</li><li class="listitem">
IPv6 Mobility Option Binding Authorization Data for FMIPv6 Authenticator field is read beyond the option data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10577">Bug 10577</a>)
</li><li class="listitem">
IPv6 Mobility Option Mobile Node Link Layer Identifier Link-layer Identifier field is read beyond the option data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10578">Bug 10578</a>)
</li><li class="listitem">
Malformed PTPoE announce packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10611">Bug 10611</a>)
</li><li class="listitem">
IPv6 Permanent Home Keygen Token mobility option includes too many bytes for the token field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10619">Bug 10619</a>)
</li><li class="listitem">
IPv6 Redirect Mobility Option K and N bits are parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10622">Bug 10622</a>)
</li><li class="listitem">
IPv6 Care Of Test mobility option includes too many bytes for the Keygen Token field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10624">Bug 10624</a>)
</li><li class="listitem">
IPv6 MESG-ID mobility option is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10625">Bug 10625</a>)
</li><li class="listitem">
IPv6 AUTH mobility option parses Mobility SPI and Authentication Data incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10626">Bug 10626</a>)
</li><li class="listitem">
IPv6 DNS-UPDATE-TYPE mobility option includes too many bytes for the MD identity field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10629">Bug 10629</a>)
</li><li class="listitem">
IPv6 Local Mobility Anchor Address mobility option’s code and reserved fields are parsed as 2 bytes instead of 1. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10630">Bug 10630</a>)
</li><li class="listitem">
TShark crashes when running with PDML on a specific packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10651">Bug 10651</a>)
</li><li class="listitem">
IPv6 Mobility Option Context Request reads an extra request. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10676">Bug 10676</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
AMQP,
GSM MAP,
GTPv2,
H.223,
IEEE 802.11,
iSCSI,
MIH,
Mobile IPv6,
PTPoE,
TN5250,
and UCP</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>Catapult DCT2000,
HP-UX nettl,
pcap-ng,
and Sniffer (DOS)</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
