<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm231105360848"></a>Wireshark 2.4.11 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.6. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-51.html">wnpa-sec-2018-51</a>
The Wireshark dissection engine could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14466">Bug 14466</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19625">CVE-2018-19625</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-52.html">wnpa-sec-2018-52</a>
The DCOM dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15130">Bug 15130</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19626">CVE-2018-19626</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-53.html">wnpa-sec-2018-53</a>
The LBMPDM dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15132">Bug 15132</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19623">CVE-2018-19623</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-54.html">wnpa-sec-2018-54</a>
The MMSE dissector could go into an infinite loop.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15250">Bug 15250</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19622">CVE-2018-19622</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-55.html">wnpa-sec-2018-55</a>
The IxVeriWave file parser could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15279">Bug 15279</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19627">CVE-2018-19627</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-56.html">wnpa-sec-2018-56</a>
The PVFS dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15280">Bug 15280</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19624">CVE-2018-19624</a>.


</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
VoIP Calls dialog doesn’t include RTP stream when preparing a filter. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13440">Bug 13440</a>.
</li><li class="listitem">
Wireshark installs on macOS with permissions for /Library/Application Support/Wireshark that are too restrictive. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14335">Bug 14335</a>.
</li><li class="listitem">
Closing Enabled Protocols dialog crashes wireshark. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14349">Bug 14349</a>.
</li><li class="listitem">
Encrypted Alerts corresponds to a wrong selection in the packet bytes pane. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14712">Bug 14712</a>.
</li><li class="listitem">
MATE unable to extract fields for PDU. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15208">Bug 15208</a>.
</li><li class="listitem">
Malformed Packet: SV. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15224">Bug 15224</a>.
</li><li class="listitem">
ISUP (ANSI) packets malformed in WS versions later than 2.4.8. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15236">Bug 15236</a>.
</li><li class="listitem">
Handover candidate enquire message not decoded. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15237">Bug 15237</a>.
</li><li class="listitem">
MLE security suite display incorrect. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15288">Bug 15288</a>.
</li><li class="listitem">
Message for incorrect IPv4 option lengths is incorrect. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15290">Bug 15290</a>.
</li><li class="listitem">
TACACS+ dissector does not properly reassemble large accounting messages. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15293">Bug 15293</a>.
</li><li class="listitem">
NLRI of S-PMSI A-D BGP route not being displayed. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15307">Bug 15307</a>.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>BGP,
DCOM,
GSM A BSSMAP,
IEEE 802.11 Radiotap,
ISUP,
LBMPDM,
LISP,
MLE,
MMSE,
PVFS,
SLL,
SSL/TLS,
SV,
and TACACS+</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>3GPP TS 32.423 Trace,
and IxVeriWave</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.6. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
