<div id="header">
<h1>Wireshark 3.6.0 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Many improvements have been made.
See the “New and Updated Features” section below for more details.
You might want to pay particular attention to the display filter syntax updates.</p>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.6.0rc3:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The macOS Intel packages now ship with Qt 5.15.3 and require macOS 10.13 or later.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.6.0rc2:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Display filter set elements must now be comma-separated. See below for more details.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.6.0rc1:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The display filter expression “a != b” now has the same meaning as “!(a == b)”.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.5.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nothing of note.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated) since version 3.4.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Several changes have been made to the display filter syntax:</p>
<div class="ulist">
<ul>
<li>
<p>The expression “a != b” now always has the same meaning as “!(a == b)”.
In particular this means filter expressions with multi-value fields like “ip.addr != 1.1.1.1” will work as expected (the result is the same as typing “ip.src != 1.1.1.1 and ip.dst != 1.1.1.1”).
This avoids the contradiction (a == b and a != b) being true.</p>
</li>
<li>
<p>It is possible to use the syntax “a ~= b” or “a any_ne b” to recover the previous (inconsistent with "==") logic for not equal.</p>
</li>
<li>
<p>Literal strings can now be specified using raw string syntax, identical to raw strings in the Python programming language.
This can be used to avoid the complexity of using two levels of character escapes with regular expressions.</p>
</li>
<li>
<p>Set elements must now be separated using a comma.
A filter such as http.request.method in {"GET" "HEAD"} must be written as …​ in {"GET", "HEAD"}.
Whitespace is not significant.
The previous use of whitespace as separator is deprecated and will be removed in a future version.</p>
</li>
<li>
<p>Support for the syntax "a not in b" with the same meaning as "not a in b" has been added.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Packaging updates:</p>
<div class="ulist">
<ul>
<li>
<p>A macOS Arm 64 (Apple Silicon) package is now available.</p>
</li>
<li>
<p>The macOS Intel packages now ship with Qt 5.15.3 and require macOS 10.13 or later.</p>
</li>
<li>
<p>The Windows installers now ship with Npcap 1.55.</p>
</li>
<li>
<p>A 64-bit Windows PortableApps package is now available.</p>
</li>
</ul>
</div>
</li>
<li>
<p>TCP conversations now support a completeness criteria, which facilitates the identification of TCP streams having any
of opening or closing handshakes, a payload, in any combination. It can be accessed with the new <code>tcp.completeness</code> filter.</p>
</li>
<li>
<p>Protobuf fields that are not serialized on the wire or otherwise missing in capture files can now be displayed with default values
by setting the new “add_default_value” preference. The default values might be explicitly declared in “proto2” files,
or false for bools, first value for enums, zero for numeric types.</p>
</li>
<li>
<p>Wireshark now supports reading Event Tracing for Windows (ETW). A new extcap named ETW reader is created that now can open an etl file,
convert all events in the file to DLT_ETW packets and write to a specified FIFO destination. Also, a new packet_etw dissector is
created to dissect DLT_ETW packets so Wireshark can display the DLT_ETW packet header, its message and packet_etw dissector
calls packet_mbim sub_dissector if its provider matches the MBIM provider GUID.</p>
</li>
<li>
<p>“Follow DCCP stream” feature to filter for and extract the contents of DCCP streams.</p>
</li>
<li>
<p>Wireshark now supports dissecting RTP packets with OPUS payloads.</p>
</li>
<li>
<p>Importing captures from text files based on regular expressions is now possible. By specifying a regex capturing a single
packet including capturing groups for relevant fields a textfile can be converted to a libpcap capture file. Supported data
encodings are plain-hexadecimal, -octal, -binary and base64.
Also the timestamp format now allows the second-fractions to be placed anywhere in the timestamp and it will be stored with
nanosecond instead of microsecond precision.</p>
</li>
<li>
<p>The RTP Player has been significantly redesigned and improved.
See
<a href="https://www.wireshark.org/docs/wsug_html_chunked/ChTelPlayingCalls.html">Playing VoIP Calls</a> and
<a href="https://www.wireshark.org/docs/wsug_html_chunked/_rtp.html#ChTelRtpPlayer">RTP Player Window</a>
in the User’s Guide for more details.</p>
<div class="ulist">
<ul>
<li>
<p>The RTP Player can play many streams in row.</p>
</li>
<li>
<p>The UI is more responsive.</p>
</li>
<li>
<p>The RTP Player maintains playlist and other tools can add and remove streams to and from it.</p>
</li>
<li>
<p>Every stream can be muted or routed to the left or right channel for replay.</p>
</li>
<li>
<p>The option to save audio has been moved from the RTP Analysis dialog to the RTP Player. The RTP Player also saves what was played, and it can save in multichannel .au or .wav.</p>
</li>
<li>
<p>The RTP Player is now accessible from the <span class="menuseq"><b class="menu">Telephony</b> <b class="caret">›</b> <b class="submenu">RTP</b> <b class="caret">›</b> <b class="menuitem">RTP Player</b></span> menu.</p>
</li>
</ul>
</div>
</li>
<li>
<p>The VoIP dialogs (VoIP Calls, RTP Streams, RTP Analysis, RTP Player, SIP Flows) are non-modal and can stay opened on background.</p>
<div class="ulist">
<ul>
<li>
<p>The same tools are provided across all dialogs (Prepare Filter, Analyse, RTP Player …​)</p>
</li>
</ul>
</div>
</li>
<li>
<p>The “Follow Stream” dialog is now able to follow SIP calls based on their Call-ID value.</p>
</li>
<li>
<p>The “Follow Stream” dialog’s YAML output format has been updated to add timestamps and peers information
For more details see <a href="https://www.wireshark.org/docs/wsug_html_chunked/ChAdvFollowStreamSection.html">Following Protocol Streams</a> in the User’s Guide.</p>
</li>
<li>
<p>IP fragments between public IPv4 addresses are now reassembled even if they have different VLAN IDs. Reassembly of IP fragments
where one endpoint is a private (RFC 1918 section 3) or link-local (RFC 3927) IPv4 address continues to take the VLAN ID into
account, as those addresses can be reused. To revert to the previous behavior and not reassemble fragments with different VLAN IDs,
turn on the “Enable stricter conversation tracking heuristics” top level protocol preference.</p>
</li>
<li>
<p>USB Link Layer reassembly has been added, which allows hardware captures to be analyzed at the same level as software captures.</p>
</li>
<li>
<p>TShark can now export TLS session keys with the <code>--export-tls-session-keys</code> option.</p>
</li>
<li>
<p>Wireshark participated in the Google Season of Docs 2020 and the User’s Guide has been extensively updated.</p>
</li>
<li>
<p>The “RTP Stream Analysis” dialog CSV export format was slightly changed.
The first line of the export contains column titles as in other CSV exports.</p>
</li>
<li>
<p>Wireshark now supports the Turkish language.</p>
</li>
<li>
<p>The settings in the “Import from Hex Dump” dialog is now stored in a profile import_hexdump.json file.</p>
</li>
<li>
<p><span class="menuseq"><b class="menu">Analyze</b> <b class="caret">›</b> <b class="menuitem">Reload Lua Plugins</b></span> has been improved to properly support FileHandler.</p>
</li>
<li>
<p>The “RTP Stream Analysis” and “IAX2 Stream Analysis” dialogs now show correct calculation mean jitter calculations.</p>
</li>
<li>
<p>RTP streams are now created based on Skinny protocol messages in addition to other types of messages.</p>
</li>
<li>
<p>The “VoIP Calls Flow Sequence” window shows more information about various Skinny messages.</p>
</li>
<li>
<p>Initial support for building Wireshark on Windows using GCC and MinGW-w64 has been added.
See README.msys2 in the sources for more information.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>Vector Informatik Binary Log File (BLF)</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>5G Lawful Interception (5GLI), Bluetooth Link Manager Protocol (BT LMP), Bundle Protocol version 7 (BPv7), Bundle Protocol version 7 Security (BPSec), CBOR Object Signing and Encryption (COSE), E2 Application Protocol (E2AP), Event Tracing for Windows (ETW), EXtreme extra Eth Header (EXEH), High-Performance Connectivity Tracer (HiPerConTracer), ISO 10681, Kerberos SPAKE, Linux psample protocol, Local Interconnect Network (LIN), Microsoft Task Scheduler Service, O-RAN E2AP, O-RAN fronthaul UC-plane (O-RAN), Opus Interactive Audio Codec (OPUS), PDU Transport Protocol, R09.x (R09), RDP Dynamic Channel Protocol (DRDYNVC), RDP Graphic pipeline channel Protocol (EGFX), RDP Multi-transport (RDPMT), Real-Time Publish-Subscribe Virtual Transport (RTPS-VT), Real-Time Publish-Subscribe Wire Protocol (processed) (RTPS-PROC), Shared Memory Communications (SMC), Signal PDU, SparkplugB, State Synchronization Protocol (SSyncP), Tagged Image File Format (TIFF), TP-Link Smart Home Protocol, UAVCAN DSDL, UAVCAN/CAN, UDP Remote Desktop Protocol (RDPUDP), Van Jacobson PPP compression (VJC), World of Warcraft World (WOWW), and X2 xIRI payload (xIRI)</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>Too many protocols have been updated to list here.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>Vector Informatik Binary Log File (BLF)</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-11-22 18:33:14 UTC
</div>
</div>
