<div id="header">
<h1>Wireshark 4.2.5 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
<div class="paragraph">
<p>Wireshark is hosted by the Wireshark Foundation, a nonprofit which promotes protocol analysis education.
Wireshark and the foundation depend on your contributions in order to do their work.
If you or your organization would like to contribute or become a sponsor, please visit <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>If you are upgrading Wireshark 4.2.0 or 4.2.1 on Windows you will need to <a href="https://www.wireshark.org/download.html">download and install</a> Wireshark 4.2.5 or later by hand.</p>
</div>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-07">wnpa-sec-2024-07</a>
MONGO and ZigBee TLV dissector infinite loops.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19726">Issue 19726</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4854">CVE-2024-4854</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-08">wnpa-sec-2024-08</a>
The editcap command line utility could crash when chopping bytes from the beginning of a packet.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19724">Issue 19724</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4853">CVE-2024-4853</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-09">wnpa-sec-2024-09</a>
The editcap command line utility could crash when injecting secrets while writing multiple files.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19782">Issue 19782</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4855">CVE-2024-4855</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Flow Graph scrolls in the wrong direction vertically when pressing Up/Down. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12932">Issue 12932</a>.</p>
</li>
<li>
<p>TCP Stream Window Scaling not working in version 2.6.1 and later. <a href="https://gitlab.com/wireshark/wireshark/-/issues/15016">Issue 15016</a>.</p>
</li>
<li>
<p>TCP stream graphs (Window scaling) axis display is confusing. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17425">Issue 17425</a>.</p>
</li>
<li>
<p>LUA get_dissector does not give the correct dissector under 32-bit version. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18367">Issue 18367</a>.</p>
</li>
<li>
<p>Lua: Segfault when registering a field or expert info twice. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19194">Issue 19194</a>.</p>
</li>
<li>
<p>SSH can not decrypt when KEX is <a href="/cdn-cgi/l/email-protection#d6b5a3a4a0b3e4e3e3e7effba5beb7e4e3e096babfb4a5a5bef8b9a4b1"><span class="__cf_email__" data-cfemail="f39086818596c1c6c6c2cade809b92c1c6c5b39f9a9180809bdd9c8194">[email protected]</span></a>. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19240">Issue 19240</a>.</p>
</li>
<li>
<p>Wireshark crash related to Lua <code>DissectorTable.heuristic_new()</code> <a href="https://gitlab.com/wireshark/wireshark/-/issues/19603">Issue 19603</a>.</p>
</li>
<li>
<p>MATE fails to extract HTTP2 User-Agent header. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19619">Issue 19619</a>.</p>
</li>
<li>
<p>Fuzz job issue: fuzz-2024-02-29-7169.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19679">Issue 19679</a>.</p>
</li>
<li>
<p>Fuzz job issue: fuzz-2024-03-02-7158.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19684">Issue 19684</a>.</p>
</li>
<li>
<p>Problem to Decode 5GC-N7 HTTP  for payload Application/JSON. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19723">Issue 19723</a>.</p>
</li>
<li>
<p>Copying data as C String produces incorrect string. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19735">Issue 19735</a>.</p>
</li>
<li>
<p>Incorrect decoding of supported Tx HE-MCS. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19737">Issue 19737</a>.</p>
</li>
<li>
<p>reordercap: Fix packet reordering with multiple IDB’s not at the beginning of a pcapng file. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19740">Issue 19740</a>.</p>
</li>
<li>
<p>Wrong EPB lengths written if existing pcapng file has epb_hash options. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19766">Issue 19766</a>.</p>
</li>
<li>
<p>On Windows, Export Displayed Packets dialog does not have "include depended upon packets" checkbox. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19772">Issue 19772</a>.</p>
</li>
<li>
<p>vnd.3gpp.sms binary payload NOT decoded inside HTTP2 5GC. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19773">Issue 19773</a>.</p>
</li>
<li>
<p>NAS 5G message container dissection. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19793">Issue 19793</a>.</p>
</li>
<li>
<p>Incorrect interpretation of algorithm name in packet-tls-utils.c. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19801">Issue 19801</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>5co_legacy, 5co_rap, BT Mesh, CQL, DOCSIS MAC MGMT, E.212, EPL, FC FZS, GQUIC, GRPC, GSM RP, HTTP2, ICMPv6, IEEE 1905, IEEE 802.11, IPARS, JSON-3GPP, LAPD, LLDP, MATE, MONGO, NAS 5GS, NR-RRC, PER, PFCP, PTP, QUIC, SSH, TIPC, and ZBD</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF and pcapng</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_file_format_decoding_support">Updated File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 4.2.5.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.4.html">Wireshark 4.2.4</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.3.html">Wireshark 4.2.3</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.2.html">Wireshark 4.2.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.1.html">Wireshark 4.2.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.0.html">Wireshark 4.2.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"/>
