<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_15_release_notes">Wireshark 3.6.15 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you might have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-21">wnpa-sec-2023-21</a>
Kafka dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19105">Issue 19105</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Crash when (re)loading a capture file after renaming a dfilter macro <a href="https://gitlab.com/wireshark/wireshark/-/issues/13753">Issue 13753</a>.</p>
</li>
<li>
<p>Moving a column deselects selected packet and moves to beginning of packet list <a href="https://gitlab.com/wireshark/wireshark/-/issues/16251">Issue 16251</a>.</p>
</li>
<li>
<p>If you set the default interface in the preferences, it doesn’t work with TShark <a href="https://gitlab.com/wireshark/wireshark/-/issues/16593">Issue 16593</a>.</p>
</li>
<li>
<p>Severe performance issues in Follow → Save As raw workflow <a href="https://gitlab.com/wireshark/wireshark/-/issues/17313">Issue 17313</a>.</p>
</li>
<li>
<p>NAS-5GS Operator-defined Access Category: Multiple Criteria values not displayed in dissected packet display <a href="https://gitlab.com/wireshark/wireshark/-/issues/18941">Issue 18941</a>.</p>
</li>
<li>
<p>CQL protocol parsing issues with <code>Result</code> frames from open source Cassandra <a href="https://gitlab.com/wireshark/wireshark/-/issues/19119">Issue 19119</a>.</p>
</li>
<li>
<p>TLS 1.3 second Key Update doesn’t work <a href="https://gitlab.com/wireshark/wireshark/-/issues/19120">Issue 19120</a>.</p>
</li>
<li>
<p>HTTP2 dissector reports an assertion error on large data frames <a href="https://gitlab.com/wireshark/wireshark/-/issues/19121">Issue 19121</a>.</p>
</li>
<li>
<p>epan: Single letter hostnames aren’t displayed correctly <a href="https://gitlab.com/wireshark/wireshark/-/issues/19137">Issue 19137</a>.</p>
</li>
<li>
<p>BLF: CAN-FD-Message format is missing a field <a href="https://gitlab.com/wireshark/wireshark/-/issues/19146">Issue 19146</a>.</p>
</li>
<li>
<p>BLF: last parameter of LIN-Message is not mandatory (BUGFIX) <a href="https://gitlab.com/wireshark/wireshark/-/issues/19147">Issue 19147</a>.</p>
</li>
<li>
<p>PPP IPv6CP: Incorrect payload length warning <a href="https://gitlab.com/wireshark/wireshark/-/issues/19149">Issue 19149</a>.</p>
</li>
<li>
<p>Wrong ordering in OpenFlow 1.0 Datapath unique ID <a href="https://gitlab.com/wireshark/wireshark/-/issues/19172">Issue 19172</a>.</p>
</li>
<li>
<p>Incorrect mask in RTCP slice picture ID <a href="https://gitlab.com/wireshark/wireshark/-/issues/19182">Issue 19182</a>.</p>
</li>
<li>
<p>Dissection error in AMQP 1.0 <a href="https://gitlab.com/wireshark/wireshark/-/issues/19191">Issue 19191</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>9P, AMQP, BGP, CQL, GlusterFS, HTTP2, Kafka, NAN, NAS-5GS, OpenFlow v1.0, PDCP-NR, PPPoE, RSL, RTCP, and XMPP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>