<div id="header">
<h1>Wireshark 3.2.11 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Adding filter while "Telephony→VoIP Calls→Flow Sequence" open causes OOB memory reads and potential crashes. <a href="https://gitlab.com/wireshark/wireshark/-/issues/16952">Bug 16952</a>.</p>
</li>
<li>
<p>SOMEIP-SD hidden entries are off <a href="https://gitlab.com/wireshark/wireshark/-/issues/17091">Bug 17091</a>.</p>
</li>
<li>
<p>Dark mode not working in Wireshark 3.4.2 on macOS <a href="https://gitlab.com/wireshark/wireshark/-/issues/17098">Bug 17098</a>.</p>
</li>
<li>
<p>Documentation - editorial error - README.dissector bad reference <a href="https://gitlab.com/wireshark/wireshark/-/issues/17141">Bug 17141</a>.</p>
</li>
<li>
<p>AUTOSAR-NM: PNI TF-String wrong way around <a href="https://gitlab.com/wireshark/wireshark/-/issues/17154">Bug 17154</a>.</p>
</li>
<li>
<p>Fibre Channel parsing errors even with the fix for #17084 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17168">Bug 17168</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2021-01-22-3387835.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/17174">Bug 17174</a>.</p>
</li>
<li>
<p>Dissection error on large ZVT packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/17177">Bug 17177</a>.</p>
</li>
<li>
<p>TShark crashes with -T ek option <a href="https://gitlab.com/wireshark/wireshark/-/issues/17179">Bug 17179</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AUTOSAR-NM, DHCPv6, DoIP, FC ELS, SIP, SOME/IP-SD, and ZVT</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-01-29 17:59:08 UTC
</div>
</div>
