<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm305650319600"></a>Wireshark 2.4.7 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-25.html">wnpa-sec-2018-25</a>
</p><p class="simpara">The LDSS dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14615">Bug 14615</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-28.html">wnpa-sec-2018-28</a>
</p><p class="simpara">Multiple dissectors could consume excessive memory.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14678">Bug 14678</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-29.html">wnpa-sec-2018-29</a>
</p><p class="simpara">The DNS dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14681">Bug 14681</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-30.html">wnpa-sec-2018-30</a>
</p><p class="simpara">The GSM A DTAP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14688">Bug 14688</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-31.html">wnpa-sec-2018-31</a>
</p><p class="simpara">The Q.931 dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14689">Bug 14689</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-33.html">wnpa-sec-2018-33</a>
</p><p class="simpara">Multiple dissectors could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14703">Bug 14703</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Double "Full Screen" menu item on macOS. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13366">Bug 13366</a>)
</li><li class="listitem">
Segmentation fault when switching profiles. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14316">Bug 14316</a>)
</li><li class="listitem">
extcap: InterfaceToolbar control pipe broken. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14532">Bug 14532</a>)
</li><li class="listitem">
SIP Response-time not being well calculated. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14551">Bug 14551</a>)
</li><li class="listitem">
HP-UX HP ANSI C requires -Wp,-H200000 flag to compile. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14554">Bug 14554</a>)
</li><li class="listitem">
Power Capability tag interpreted incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14593">Bug 14593</a>)
</li><li class="listitem">
Issue while building latest version of wireshark 2.4.6. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14597">Bug 14597</a>)
</li><li class="listitem">
SMB2 Write requests not displayed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14598">Bug 14598</a>)
</li><li class="listitem">
Wrong default file format chosen in when saving a capture with comments added if the original format doesn’t support comments. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14601">Bug 14601</a>)
</li><li class="listitem">
ui/macosx directory missing from source release tarball. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14627">Bug 14627</a>)
</li><li class="listitem">
Wireshark 2.9.0 snapshot crashes/segfaults on Windows when launched with -k or -i. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14632">Bug 14632</a>)
</li><li class="listitem">
File missing from release tarball. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14634">Bug 14634</a>)
</li><li class="listitem">
Remove: HACK to support UHD’s weird header offset on data packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14641">Bug 14641</a>)
</li><li class="listitem">
WinSparkle 0.5.6 is out of date and is buggy. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14642">Bug 14642</a>)
</li><li class="listitem">
RTMPT: incorrect dissection of multiple RTMP packets within a single TCP packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14650">Bug 14650</a>)
</li><li class="listitem">
Erroneous MAC-LTE Dissection for Sidelink Shared Channel Packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14669">Bug 14669</a>)
</li><li class="listitem">
Files missing from docbook CMake file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14676">Bug 14676</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>BATADV,
BT LE LL,
BVLC,
DLT_USER,
DNS,
GSM A BSSMAP,
GSM A DTAP,
GSM A GM,
GTP,
GTPv2,
IEEE 802.11,
LAPDm,
LDSS,
Logcat Text,
LwM2M-TLV,
MAC LTE,
MP2T,
MPEG PES,
NBSS,
Q.931,
RSL,
RTMPT,
S7COMM,
SIP,
TCP,
and VITA 49</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>3GPP TS 32.423 Trace,
and Android Logcat</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
