<div class="article" title="Wireshark 1.6.0 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.6.0 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Wireshark is unresponsive when capturing from named pipes on Windows.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1759">Bug
          1759</a>)
        </p></li><li class="listitem"><p>
	  Crash when sorting column while capturing.
	  (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4273">Bug
	  4273</a>)
	</p></li><li class="listitem"><p>
	  Ring buffers are no longer turned on by default when using multiple
	  capture files.
	</p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since version 1.4:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	    Wireshark is now distributed as an installation package rather than
	    a drag-installer on OS X. The installer adds a startup item that
	    should make it easier to capture packets.
          </p></li><li class="listitem"><p>
            Large file (greater than 2 GB) support has been improved.
          </p></li><li class="listitem"><p>
            Wireshark and TShark can import text dumps, similar to text2pcap.
          </p></li><li class="listitem"><p>
            You can now view Wireshark's dissector tables (for example the
            TCP port to dissector mappings) from the main window.
          </p></li><li class="listitem"><p>
	    Wireshark can export SSL session keys via
	    <span class="guimenu">File</span>→<span class="guisubmenu">Export</span>→<span class="guimenuitem">SSL Session Keys...</span>
          </p></li><li class="listitem"><p>
           TShark can show a specific occurrence of a field when using '-T fields'.
          </p></li><li class="listitem"><p>
            Custom columns can show a specific occurrence of a field.
          </p></li><li class="listitem"><p>
            You can hide columns in the packet list.
          </p></li><li class="listitem"><p>
            Wireshark can now export SMB objects.
          </p></li><li class="listitem"><p>
            dftest and randpkt now have manual pages.
          </p></li><li class="listitem"><p>
            TShark can now display iSCSI, ICMP and ICMPv6 service response times.
          </p></li><li class="listitem"><p>
            Dumpcap can now save files with a user-specified group id.
          </p></li><li class="listitem"><p>
            Syntax checking is done for capture filters.
          </p></li><li class="listitem"><p>
            You can display the compiled BPF code for capture filters in the
            Capture Options dialog.
          </p></li><li class="listitem"><p>
            You can now navigate backwards and forwards through TCP and UDP
            sessions using
              <span class="keycap"><strong>Ctrl</strong></span>+<span class="keycap"><strong>,</strong></span>
            and
              <span class="keycap"><strong>Ctrl</strong></span>+<span class="keycap"><strong>.</strong></span>
            .
          </p></li><li class="listitem"><p>
            Packet length is (finally) a default column.
          </p></li><li class="listitem"><p>
            TCP window size is now avaiable both scaled and unscaled. A TCP
            window scaling graph is available in the GUI.
          </p></li><li class="listitem"><p>
	    802.1q VLAN tags are now shown in the Ethernet II protocol tree
	    instead of a separate tree.
	  </p></li><li class="listitem"><p>
	    Various dissectors now display some UTF-16 strings as proper Unicode
	    including the DCE/RPC and SMB dissectors.
	  </p></li><li class="listitem"><p>
	    The RTP player now has an option to show the time of day in the
	    graph in addition to the seconds since beginning of capture.
	  </p></li><li class="listitem"><p>
            The RTP player now shows why media interruptions occur.
          </p></li><li class="listitem"><p>
            Graphs now save as PNG images by default.
          </p></li><li class="listitem"><p>
	    TShark can read and write host name information from and to
	    pcapng-formatted files. Wireshark can read it. TShark can dump host
	    name information via </p><div class="cmdsynopsis"><p>[-z hosts]</p></div><p>.
          </p></li><li class="listitem"><p>
	    TShark's -z option now uses the </p><div class="cmdsynopsis"><p>[-z
	    &lt;proto&gt;,srt]</p></div><p> syntax instead of
	    </p><div class="cmdsynopsis"><p>[-z &lt;proto&gt;,rtt]</p></div><p> for all
	    protocols that support service response time statistics. This
	    matches Wireshark's syntax for this option.
          </p></li><li class="listitem"><p>
            Wireshark and TShark can now read compressed Windows Sniffer files.
          </p></li></ul></div><p>

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

ADwin,
ADwin-Config,
Apache Etch,
Aruba PAPI,
Babel Routing Protocol,
Broadcast/Multicast Control,
Constrained Application Protocol (COAP),
Digium TDMoE,
Erlang Distribution Protocol,
Ether-S-I/O,
FastCGI,
Fibre Channel over InfiniBand (FCoIB),
Gopher,
Gigamon GMHDR,
IDMP,
Infiniband Socket Direct Protocol (SDP),
JSON,
LISP Control,
LISP Data,
LISP,
MikroTik MAC-Telnet,
MRP Multiple Mac Registration Protocol (MMRP)
Mongo Wire Protocol,
MUX27010,
Network Monitor 802.11 radio header,
OPC UA ExtensionObjects,
openSAFETY,
PPI-GEOLOCATION-GPS,
ReLOAD,
ReLOAD Framing,
RObust Header Compression (ROHC),
RSIP,
SAMETIME,
SCoP,
SGSAP,
Tektronix Teklink,
USB/AT Commands,
uTorrent Transport Protocol,
WAI authentication,
Wi-Fi P2P (Wi-Fi Direct)

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Apple PacketLogger,
Catapult DCT2000,
Daintree SNA,
Endace ERF,
HP OpenVMS TCPTrace,
IPFIX (the file format, not the protocol),
Lucent/Ascend debug,
Microsoft Network Monitor,
Network Instruments,
TamoSoft CommView

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with libsmi.
      (<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
      4985</a>
      and
      <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">bug
      5580</a>)
    </p><p>
      Character echo pauses in Capture Filter field in Capture Options.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
      5356</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
