<div xml:lang="en" class="article" title="Wireshark 1.12.1 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807344"></a>Wireshark 1.12.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-13.html">wnpa-sec-2014-13</a>
</p><p class="simpara">MEGACO dissector infinite loop.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10333">Bug 10333</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6423">CVE-2014-6423</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-14.html">wnpa-sec-2014-14</a>
</p><p class="simpara">Netflow dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10370">Bug 10370</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6424">CVE-2014-6424</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-15.html">wnpa-sec-2014-15</a>
</p><p class="simpara">CUPS dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10353">Bug 10353</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6425">CVE-2014-6425</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-16.html">wnpa-sec-2014-16</a>
</p><p class="simpara">HIP dissector infinite loop.


<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6426">CVE-2014-6426</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-17.html">wnpa-sec-2014-17</a>
</p><p class="simpara">RTSP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10381">Bug 10381</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6427">CVE-2014-6427</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-18.html">wnpa-sec-2014-18</a>
</p><p class="simpara">SES dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10454">Bug 10454</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6428">CVE-2014-6428</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-19.html">wnpa-sec-2014-19</a>
</p><p class="simpara">Sniffer file parser crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10461">Bug 10461</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6429">CVE-2014-6429</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6430">CVE-2014-6430</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6431">CVE-2014-6431</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-6432">CVE-2014-6432</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Wireshark can crash during remote capture (rpcap) configuration.
  (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3554">Bug 3554</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6922">Bug 6922</a>, ws-buglink:7021)
</li><li class="listitem">
802.11 capture does not decrypt/decode DHCP response. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8734">Bug 8734</a>)
</li><li class="listitem">
Extra quotes around date fields (FT_ABSOLUTE_TIME) when using -E quote=d or s. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10213">Bug 10213</a>)
</li><li class="listitem">
No progress line in "VOIP RTP Player". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10307">Bug 10307</a>)
</li><li class="listitem">
MIPv6 Service Selection Identifier parse error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10323">Bug 10323</a>)
</li><li class="listitem">
Probably wrong length check in proto_item_set_end. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10329">Bug 10329</a>)
</li><li class="listitem">
802.11 BA sequence number decode is broken. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10334">Bug 10334</a>)
</li><li class="listitem">
wmem_alloc_array() "succeeds" (and clobbers memory) when requested to allocate
  0xaaaaaaaa items of size 12. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10343">Bug 10343</a>)
</li><li class="listitem">
Different dissection results for same file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10348">Bug 10348</a>)
</li><li class="listitem">
Mergecap wildcard breaks in version 1.12.0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10354">Bug 10354</a>)
</li><li class="listitem">
Diameter TCP reassemble. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10362">Bug 10362</a>)
</li><li class="listitem">
TRILL NLPID 0xc0 unknown to Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10382">Bug 10382</a>)
</li><li class="listitem">
BTLE advertising header flags (RxAdd/TxAdd) dissected incorrectly.
  (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10384">Bug 10384</a>)
</li><li class="listitem">
Ethernet OAM (CFM) frames including TLV’s are wrongly decoded as malformed.
  (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10385">Bug 10385</a>)
</li><li class="listitem">
BGP4: Wireshark skipped some potion of AS_PATH. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10399">Bug 10399</a>)
</li><li class="listitem">
MAC address name resolution is broken. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10344">Bug 10344</a>)
</li><li class="listitem">
Wrong decoding of RPKI RTR End of Data PDU. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10411">Bug 10411</a>)
</li><li class="listitem">
SSL/TLS dissector incorrectly interprets length for status_request_v2 hello
  extension. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10416">Bug 10416</a>)
</li><li class="listitem">
Misparsed NTP control assignments with empty values. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10417">Bug 10417</a>)
</li><li class="listitem">
6LoWPAN multicast address decompression problems. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10426">Bug 10426</a>)
</li><li class="listitem">
Netflow v9 flowset not decoded if options template has zero-length scope
  section. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10432">Bug 10432</a>)
</li><li class="listitem">
GUI Hangs when Selecting Path to GeoIP Files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10434">Bug 10434</a>)
</li><li class="listitem">
AX.25 dissector prints unprintable characters. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10439">Bug 10439</a>)
</li><li class="listitem">
6LoWPAN context handling not working. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10443">Bug 10443</a>)
</li><li class="listitem">
SIP: When export to a CSV, Info is changed to differ. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10453">Bug 10453</a>)
</li><li class="listitem">
Typo in packet-netflow.c. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10458">Bug 10458</a>)
</li><li class="listitem">
Incorrect MPEG-TS decoding (OPCR field). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10446">Bug 10446</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
A21,
ACR122,
Art-Net,
AX.25,
BGP,
BTLE,
CAPWAP,
DIAMETER,
DICOM,
DVB-CI,
Ethernet OAM,
HIP,
HiSLIP,
HTTP2,
IEEE 802.11,
MAUSB,
MEGACO,
MIPv6,
MP2T,
Netflow,
NTP,
openSAFETY,
OSI,
RDM,
RPKI RTR,
RTSP,
SES,
SIP,
TLS,
and Token Ring MAC</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>DOS Sniffer,
and NetScaler</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(ws-buglink:1814)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit Mac OS X installer doesn’t support Mac OS X 10.9 (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9242">Bug 9242</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
