<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm379397966272"></a>Wireshark 2.4.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-38.html">wnpa-sec-2017-38</a>
</p><p class="simpara">MSDP dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13933">Bug 13933</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-39.html">wnpa-sec-2017-39</a>
</p><p class="simpara">Profinet I/O buffer overrun
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13847">Bug 13847</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-40.html">wnpa-sec-2017-40</a>
</p><p class="simpara">Modbus dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13925">Bug 13925</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-41.html">wnpa-sec-2017-41</a>
</p><p class="simpara">IrCOMM dissector buffer overrun
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13929">Bug 13929</a>)</p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Incorrect presentation of Ascend-Data-Filter (RADIUS attribute 242). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11630">Bug 11630</a>)
</li><li class="listitem">
Confusing "Apply a display filter &lt;Command/&gt;" keyboard shortcut. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12450">Bug 12450</a>)
</li><li class="listitem">
Wireshark crashes at startup if it needs to display a dialog early in the startup process. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13275">Bug 13275</a>)
</li><li class="listitem">
RADIUS dictionary: BEGIN-VENDOR does not support format=Extended-Vendor-Specific-\*. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13745">Bug 13745</a>)
</li><li class="listitem">
Dumpcap on big-endian machines writes out corrupt, unreadable Enhanced Packet Blocks. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13802">Bug 13802</a>)
</li><li class="listitem">
Interface Toolbar support for Windows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13833">Bug 13833</a>)
</li><li class="listitem">
Wireshark should behave better on high resolution displays on Windows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13877">Bug 13877</a>)
</li><li class="listitem">
Udpdump.pod missing from build. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13903">Bug 13903</a>)
</li><li class="listitem">
RTP Player Format Error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13906">Bug 13906</a>)
</li><li class="listitem">
VNC Protocol disector : Framebuffer Updates. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13910">Bug 13910</a>)
</li><li class="listitem">
DNS LOC RRs with out-of-range longitude or latitude aren’t shown as errors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13914">Bug 13914</a>)
</li><li class="listitem">
DIS Dissector Entity Appearance Record displayed in wrong location. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13917">Bug 13917</a>)
</li><li class="listitem">
Win64 CMake bug - (CYGWIN_INSTALL_PATH redefinition) causing missing packages when using CMake 3.9.0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13922">Bug 13922</a>)
</li><li class="listitem">
APL records parsed incorrectly for IPv4 prefixes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13923">Bug 13923</a>)
</li><li class="listitem">
File→Merge dialog doesn’t show all options. Resizing doesn’t help. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13924">Bug 13924</a>)
</li><li class="listitem">
TCAP SRT Analysis incorrectly matched TCAP begins and ends. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13926">Bug 13926</a>)
</li><li class="listitem">
Error in MKA Distributed SAK parameter set dissection. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13927">Bug 13927</a>)
</li><li class="listitem">
E.212: Check length before trying 3-digits MNC. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13935">Bug 13935</a>)
</li><li class="listitem">
mpeg_descriptor: AC3 System A: Respect descriptor length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13939">Bug 13939</a>)
</li><li class="listitem">
Crash in Wireshark using Dumper:dump() from Lua. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13944">Bug 13944</a>)
</li><li class="listitem">
MRCPv2 not decoded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13952">Bug 13952</a>)
</li><li class="listitem">
UDP Checksum verification not working for 0x0000 checksum. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13955">Bug 13955</a>)
</li><li class="listitem">
OSPF v3 LSA Type not well parsed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13979">Bug 13979</a>)
</li><li class="listitem">
GTPv2 - decoding issue for Packet Flow ID (type 123). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13987">Bug 13987</a>)
</li><li class="listitem">
TRANSUM fails to calculate RTE figures for DCE-RPC where request Packet Type is zero. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13988">Bug 13988</a>)
</li><li class="listitem">
BTLE Hop and SCA fields  incorrectly dissected in BLE CONNECT_REQ. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13990">Bug 13990</a>)
</li><li class="listitem">
[oss-fuzz] BGP memleak: ASAN: 276 byte(s) leaked in 5 allocation(s). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13995">Bug 13995</a>)
</li><li class="listitem">
Some Infiniband Connect Req fields are not decoded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13997">Bug 13997</a>)
</li><li class="listitem">
GTP: gtp.ext_comm_flags_II_pmtsmi bit not decoded correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14001">Bug 14001</a>)
</li><li class="listitem">
InfiniBand: sIP and dIP inside IP CM Private Data are decoded in the wrong order. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14002">Bug 14002</a>)
</li><li class="listitem">
802.11 wlan.ft.subelem.r0kh_id should be sequence of bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14004">Bug 14004</a>)
</li><li class="listitem">
USB capture: Unrecognized libpcap format or not libpcap data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14006">Bug 14006</a>)
</li><li class="listitem">
SQ Header Pointer in NVMoF response capsule is decoded with the wrong endian. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14008">Bug 14008</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>BGP,
BT LE,
DIS,
DNS,
E.212,
EPL,
GTP,
GTPv2,
IEEE 802.11,
InfiniBand,
IPv4,
IrCOMM,
MKA,
Modbus,
MPEG Descriptor,
MRCPv2,
MSDP,
MTP2,
Nordic BLE,
NVMe,
OSPF,
pcapng MIME,
PMIPv6,
Profinet I/O,
RADIUS,
SML,
TCAP,
TRANSUM,
UA3G,
UDP,
VNC,
and ZigBee</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
