<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm93263964768"></a>Wireshark 2.4.14 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.6. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-09.html">wnpa-sec-2019-09</a>
NetScaler file parser crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15497">Bug 15497</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10895">CVE-2019-10895</a>.



</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-10.html">wnpa-sec-2019-10</a>
SRVLOC dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15546">Bug 15546</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10899">CVE-2019-10899</a>.



</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-14.html">wnpa-sec-2019-14</a>
GSS-API dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15613">Bug 15613</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10894">CVE-2019-10894</a>.



</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-15.html">wnpa-sec-2019-15</a>
DOF dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15617">Bug 15617</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10896">CVE-2019-10896</a>.



</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-17.html">wnpa-sec-2019-17</a>
LDSS dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15620">Bug 15620</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10901">CVE-2019-10901</a>.



</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-18.html">wnpa-sec-2019-18</a>
DCERPC SPOOLSS dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15568">Bug 15568</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10903">CVE-2019-10903</a>.



</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
GSM-A-RR variable bitmap decoding may report ARFCNs &gt; 1023. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15549">Bug 15549</a>.
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Possible buffer overflow in function ssl_md_final for crafted SSL 3.0 sessions. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15599">Bug 15599</a>.
</li><li class="listitem">
randpkt -r causes segfault when count &gt; 1. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15627">Bug 15627</a>.
</li><li class="listitem">
Packets with metadata but no data get the Protocol Info column overwritten. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15630">Bug 15630</a>.
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Buildbot crash output: fuzz-2019-03-23-1789.pcap. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15634">Bug 15634</a>.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>DCERPC SPOOLSS,
DOF,
GSM A RR,
GSS-API,
HL7,
IEEE 802.15.4,
ISO 14443,
LDSS,
SRVLOC,
and TLS</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>NetScaler,
and pcap</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.6. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
