<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm535401150208"></a>Wireshark 2.2.7 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-22.html">wnpa-sec-2017-22</a>
</p><p class="simpara">Bazaar dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13599">Bug 13599</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9352">CVE-2017-9352</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-23.html">wnpa-sec-2017-23</a>
</p><p class="simpara">DOF dissector read overflow
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13608">Bug 13608</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9348">CVE-2017-9348</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-24.html">wnpa-sec-2017-24</a>
</p><p class="simpara">DHCP dissector read overflow
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13609">Bug 13609</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13628">Bug 13628</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9351">CVE-2017-9351</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-25.html">wnpa-sec-2017-25</a>
</p><p class="simpara">SoulSeek dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13631">Bug 13631</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9346">CVE-2017-9346</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-26.html">wnpa-sec-2017-26</a>
</p><p class="simpara">DNS dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13633">Bug 13633</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9345">CVE-2017-9345</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-27.html">wnpa-sec-2017-27</a>
</p><p class="simpara">DICOM dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13685">Bug 13685</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9349">CVE-2017-9349</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-28.html">wnpa-sec-2017-28</a>
</p><p class="simpara">openSAFETY dissector memory exhaustion
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13649">Bug 13649</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9350">CVE-2017-9350</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-29.html">wnpa-sec-2017-29</a>
</p><p class="simpara">BT L2CAP dissector divide by zero
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13701">Bug 13701</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9344">CVE-2017-9344</a></p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-30.html">wnpa-sec-2017-30</a>
</p><p class="simpara">MSNIP dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13725">Bug 13725</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9343">CVE-2017-9343</a></p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-31.html">wnpa-sec-2017-31</a>
</p><p class="simpara">ROS dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13637">Bug 13637</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9347">CVE-2017-9347</a></p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-32.html">wnpa-sec-2017-32</a>
</p><p class="simpara">RGMP dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13646">Bug 13646</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9354">CVE-2017-9354</a></p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-33.html">wnpa-sec-2017-33</a>
</p><p class="simpara">IPv6 dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13675">Bug 13675</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9353">CVE-2017-9353</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
DICOM dissection error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13164">Bug 13164</a>)
</li><li class="listitem">
Qt: drag &amp; drop of one column header in PacketList moves other columns. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13183">Bug 13183</a>)
</li><li class="listitem">
Can not export captured DICOM objects in version 2.2.5. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13570">Bug 13570</a>)
</li><li class="listitem">
False complain about bad checksum of ICMP extension header. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13586">Bug 13586</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
LibFuzzer: ISUP dissector bug (isup.number_different_meaning). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13588">Bug 13588</a>)
</li><li class="listitem">
Dissector Bug, protocol BT ATT. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13590">Bug 13590</a>)
</li><li class="listitem">
Wireshark dispalys RRCConnectionReestablishmentRejectRRCConnectionReestablishmentReject in Info column. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13595">Bug 13595</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 105 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-ositp.c:551:79. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13606">Bug 13606</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent -77 is negative in packet-netflow.c:7717:23. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13607">Bug 13607</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 1959 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-sigcomp.c:2128:28. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13610">Bug 13610</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 63 is too large for 32-bit type <span class="emphasis"><em>guint32</em></span> (aka <span class="emphasis"><em>unsigned int</em></span>) in packet-rtcp.c:917:24. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13611">Bug 13611</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 70 is too large for 64-bit type <span class="emphasis"><em>guint64</em></span> (aka <span class="emphasis"><em>unsigned long</em></span>) in dwarf.c:42:43. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13616">Bug 13616</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 32 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-xot.c:260:23. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13618">Bug 13618</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent -5 is negative in packet-sigcomp.c:1722:36. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13619">Bug 13619</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: index 2049 out of bounds for type <span class="emphasis"><em>char [2049]</em></span> in packet-quakeworld.c:134:5. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13624">Bug 13624</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 35 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-netsync.c:467:25. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13639">Bug 13639</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 32 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-sigcomp.c:3857:24. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13641">Bug 13641</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] ASAN: stack-use-after-return epan/dissectors/packet-ieee80211.c:14341:23 in add_tagged_field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13662">Bug 13662</a>)
</li><li class="listitem">
Welcome screen invalid capture filter wihtout WinPcap installed causes runtime error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13672">Bug 13672</a>)
</li><li class="listitem">
SMB protocol parser does not parse SMB_COM_TRANSACTION2_SECONDARY (0x33) command correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13690">Bug 13690</a>)
</li><li class="listitem">
SIP packets with SDP marked as malformed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13698">Bug 13698</a>)
</li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
[oss-fuzz] UBSAN: index 8 out of bounds for type <span class="emphasis"><em>gboolean const[8]</em></span> in packet-ieee80211-radiotap.c:1836:12. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13713">Bug 13713</a>)
</li><li class="listitem">
Crash on "Show packet bytes…" context menu item click. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13723">Bug 13723</a>)
</li><li class="listitem">
DNP3 dissector does not properly decode packed variations with prefixed qualifiers. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13733">Bug 13733</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>Bazaar,
BT ATT,
BT L2CAP,
DHCP,
DICOM,
DNP3,
DNS,
DOF,
DWARF,
ICMP,
IEEE 802.11,
IPv6,
ISUP,
LTE RRC,
MSNIP,
Netflow,
Netsync,
openSAFETY,
OSITP,
QUAKEWORLD,
Radiotap,
RGMP,
ROS,
RTCP,
SIGCOMP,
SMB,
SoulSeek,
and XOT</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
