<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm425581032784"></a>Wireshark 2.2.14 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-15.html">wnpa-sec-2018-15</a>
</p><p class="simpara">The MP4 dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13777">Bug 13777</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-16.html">wnpa-sec-2018-16</a>
</p><p class="simpara">The ADB dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14460">Bug 14460</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-17.html">wnpa-sec-2018-17</a>
</p><p class="simpara">The IEEE 802.15.4 dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14468">Bug 14468</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-18.html">wnpa-sec-2018-18</a>
</p><p class="simpara">The NBAP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14471">Bug 14471</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-19.html">wnpa-sec-2018-19</a>
</p><p class="simpara">The VLAN dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14469">Bug 14469</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-20.html">wnpa-sec-2018-20</a>
</p><p class="simpara">The LWAPP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14467">Bug 14467</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-23.html">wnpa-sec-2018-23</a>
</p><p class="simpara">The Kerberos dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14576">Bug 14576</a>)</p></li><li class="listitem">
tshark memory leaks with asan / valgrind [tn3270] (1/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14480">Bug 14480</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [isup] (2/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14481">Bug 14481</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [lapd] (3/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14482">Bug 14482</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [smb2] (4/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14483">Bug 14483</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [Inter-ORB] (5/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14484">Bug 14484</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [oids] (6/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14485">Bug 14485</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [multipart] (7/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14486">Bug 14486</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [h223] (8/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14487">Bug 14487</a>)
</li><li class="listitem">
tshark memory leaks with asan / valgrind [Co-Pilot] (9/10). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14488">Bug 14488</a>)
</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Lua script calling Ethernet dissector runs OK in 1.12.4 but crashes in later releases. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14293">Bug 14293</a>)
</li><li class="listitem">
PEEKREMOTE dissector lacks 80mhz support, short preamble support and spatial streams encoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14452">Bug 14452</a>)
</li><li class="listitem">
Typo error in enumeration value of speech version identifier. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14528">Bug 14528</a>)
</li><li class="listitem">
WCCP logical error in CHECK_LENGTH_ADVANCE_OFFSET macros. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14538">Bug 14538</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2018-03-19-19114.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14544">Bug 14544</a>)
</li><li class="listitem">
alloca() used in wsutil/getopt_long.c without &lt;alloca.h&gt; inclusion. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14552">Bug 14552</a>)
</li><li class="listitem">
HP-UX HP ANSI C requires -Wp,-H200000 flag to compile. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14554">Bug 14554</a>)
</li><li class="listitem">
Makefile.in uses non-portable "install" command. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14555">Bug 14555</a>)
</li><li class="listitem">
HP-UX HP ANSI C doesn’t support assigning {} to a variable in epan/app_mem_usage.c. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14556">Bug 14556</a>)
</li><li class="listitem">
PPP in SSTP, HDLC framing not parsed properly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14559">Bug 14559</a>)
</li><li class="listitem">
Using the DIAMETER dictionary causes the standard input to be closed when the dictionary is read. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14577">Bug 14577</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
ADB,
DNS,
Ethernet,
GIOP,
GSM BSSMAP,
H.223,
IEEE 802.11,
IEEE 802.11 Radiotap,
IEEE 802.15.4,
ISUP,
Kerberos,
LAPD,
LWAPP,
MIME multipart,
MP4,
NBAP,
PCP,
PEEKREMOTE,
S1AP,
SMB2,
SSTP,
T.30,
TN3270,
VLAN,
WCCP,
and WSP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
