<div class="article" title="Wireshark 1.6.2 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.6.2 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-12.html">wnpa-sec-2011-12</a>
          </p><p>
            A large loop in the OpenSafety dissector could cause a crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6138">Bug
            6138</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.1.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-13.html">wnpa-sec-2011-13</a>
          </p><p>
            A malformed IKE packet could consume excessive resources.
            
            
            
          </p><p>Versions affected: 1.4.0 to 1.4.8, 1.6.0 to 1.6.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2011-3266">CVE-2011-3266</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-14.html">wnpa-sec-2011-14</a>
          </p><p>
            A malformed capture file could result in an invalid root tvbuff and cause a crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6135">Bug
            6135</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.1.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-15.html">wnpa-sec-2011-15</a>
          </p><p>
            Wireshark could run arbitrary Lua scripts.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6136">Bug
            6136</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.8, 1.6.0 to 1.6.1.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-16.html">wnpa-sec-2011-16</a>
          </p><p>
            The CSN.1 dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6139">Bug
            6139</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.1.</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	  configure ignores (partially) LDFLAGS.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5607">Bug
          5607</a>)
        </p></li><li class="listitem"><p>
	  Build fails when it tries to #include &lt;getopt.h&gt;, not present in Solaris 9.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5608">Bug
          5608</a>)
        </p></li><li class="listitem"><p>
	  Unable to configure zero length SNMP Engine ID.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5731">Bug
          5731</a>)
        </p></li><li class="listitem"><p>
	  BACnet who-is request device range values are not decoded correctly in the packet details window.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5769">Bug
          5769</a>)
        </p></li><li class="listitem"><p>
	  H.323 RAS packets missing from packet counts in "Telephony-&gt;VoIP Calls" and the "Flow Graph" for the call.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5848">Bug
          5848</a>)
        </p></li><li class="listitem"><p>
	  Wireshark crashes if sercosiii module isn't installed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6006">Bug
          6006</a>)
        </p></li><li class="listitem"><p>
	  Editcap could create invalid pcap files when converting from JPEG.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6010">Bug
          6010</a>)
        </p></li><li class="listitem"><p>
	  Timestamp is incorrectly decoded for ICMP Timestamp Response packets from MS Windows.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6114">Bug
          6114</a>)
        </p></li><li class="listitem"><p>
	  Malformed Packet in decode for BGP-AD update.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6122">Bug
          6122</a>)
        </p></li><li class="listitem"><p>
	  Wrong display of CSN_BIT in CSN.1.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6151">Bug
          6151</a>)
        </p></li><li class="listitem"><p>
	  Fix CSN_RECURSIVE_TARRAY last bit error in packet-csn1.c.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6166">Bug
          6166</a>)
        </p></li><li class="listitem"><p>
	  Wireshark cannot display Reachable time &amp; Retrans timer in IPv6 RA messages.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6168">Bug
          6168</a>)
        </p></li><li class="listitem"><p>
	  ReadPropertyMultiple-ACK not correctly dissected.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6178">Bug
          6178</a>)
        </p></li><li class="listitem"><p>
	  GTPv2 dissectors should treat gtpv2_ccrsi as optional.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6183">Bug
          6183</a>)
        </p></li><li class="listitem"><p>
	  BGP : AS_PATH attribute was decode wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6188">Bug
          6188</a>)
        </p></li><li class="listitem"><p>
	  Fixes for SCPS TCP option.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6194">Bug
          6194</a>)
        </p></li><li class="listitem"><p>
	  Offset calculated incorrectly for sFlow extended data.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6219">Bug
          6219</a>)
        </p></li><li class="listitem"><p>
	  [Enter] key behavior varies when manually typing display filters.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6228">Bug
          6228</a>)
        </p></li><li class="listitem"><p>
	  Contents of pcapng EnhancedPacketBlocks with comments aren't displayed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6229">Bug
          6229</a>)
        </p></li><li class="listitem"><p>
	  Misdecoding 3G Neighbour Cell Information Element in SI2quater message due to a coding typo.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6237">Bug
          6237</a>)
        </p></li><li class="listitem"><p>
	  Mis-spelled word "unknown" in assorted files.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6244">Bug
          6244</a>)
        </p></li><li class="listitem"><p>
	  tshark run with -Tpdml makes a seg fault.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6245">Bug
          6245</a>)
        </p></li><li class="listitem"><p>
	  btl2cap extended window shows wrong bit.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6257">Bug
          6257</a>)
        </p></li><li class="listitem"><p>
	  NDMP dissector incorrectly represents "ndmp.bytes_left_to_read" as signed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6262">Bug
          6262</a>)
        </p></li><li class="listitem"><p>
	  TShark/dumpcap skips capture duration flag occasionally.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6280">Bug
          6280</a>)
        </p></li><li class="listitem"><p>
	  File types with no snaplen written out with a zero snaplen in pcap-ng files.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6289">Bug
          6289</a>)
        </p></li><li class="listitem"><p>
	  Wireshark improperly parsing 802.11 Beacon Country Information tag.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6264">Bug
          6264</a>)
        </p></li><li class="listitem"><p>
	  ERF records with extension headers not written out correctly to pcap or pcap-ng files.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6265">Bug
          6265</a>)
        </p></li><li class="listitem"><p>
	  RTPS2: MAX_BITMAP_SIZE is defined incorrectly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6276">Bug
          6276</a>)
        </p></li><li class="listitem"><p>
	  Copying from RTP stream analysis copies 1st line many times.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6279">Bug
          6279</a>)
        </p></li><li class="listitem"><p>
	  Wrong display of CSN_BIT under CSN_UNION.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6287">Bug
          6287</a>)
        </p></li><li class="listitem"><p>
	  MEGACO context tracking fix - context id reuse.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6311">Bug
          6311</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

BACapp,
Bluetooth L2CAP,
CSN.1,
DCERPC,
GSM A RR,
GTPv2,
ICMP,
ICMPv6,
IKE,
MEGACO,
MSISDN,
NDMP,
OpenSafety,
RTPS2,
sFlow,
SNMP,
TCP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

CommView, pcap-ng, JPEG.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with libsmi.
      (<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>
      and
      <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5580">bug
      5580</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
