<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm161276527488"></a>Wireshark 1.12.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-06.html">wnpa-sec-2015-06</a>
</p><p class="simpara">The ATN-CPDLC dissector could crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9952">Bug 9952</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2187">CVE-2015-2187</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-07.html">wnpa-sec-2015-07</a>
</p><p class="simpara">The WCP dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10844">Bug 10844</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2188">CVE-2015-2188</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-08.html">wnpa-sec-2015-08</a>
</p><p class="simpara">The pcapng file parser could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10895">Bug 10895</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2189">CVE-2015-2189</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-09.html">wnpa-sec-2015-09</a>
</p><p class="simpara">The LLDP dissector could crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10983">Bug 10983</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2190">CVE-2015-2190</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-10.html">wnpa-sec-2015-10</a>
</p><p class="simpara">The TNEF dissector could go into an infinite loop. Discovered by Vlad Tsyrklevich.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11023">Bug 11023</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2191">CVE-2015-2191</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-11.html">wnpa-sec-2015-11</a>
</p><p class="simpara">The SCSI OSD dissector could go into an infinite loop. Discovered by Vlad Tsyrklevich.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11024">Bug 11024</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-2192">CVE-2015-2192</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
RTP player crashes on decode of long call: BadAlloc (insufficient resources for operation). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2630">Bug 2630</a>)
</li><li class="listitem">
"Telephony→SCTP→Analyse This Association" crashes Wireshark on manufactured SCTP packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9849">Bug 9849</a>)
</li><li class="listitem">
IPv6 Mobility Header Link Layer Address is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10006">Bug 10006</a>)
</li><li class="listitem">
DNS NXT RR is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10615">Bug 10615</a>)
</li><li class="listitem">
IPv6 AUTH mobility option parses Mobility SPI and Authentication Data incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10626">Bug 10626</a>)
</li><li class="listitem">
IPv6 Mobility Header Link-Layer Address Mobility Option is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10627">Bug 10627</a>)
</li><li class="listitem">
HTTP chunked response includes data beyond the chunked response. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10707">Bug 10707</a>)
</li><li class="listitem">
DHCP Option 125 Suboption: (1) option-len always expects 1 but specification allows for more. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10784">Bug 10784</a>)
</li><li class="listitem">
Incorrect decoding of IPv4 Interface/Neighbor Address sub-TLVs in Extended IS Reachability TLV of IS-IS. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10837">Bug 10837</a>)
</li><li class="listitem">
Little-endian OS X Bluetooth PacketLogger files aren’t handled. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10861">Bug 10861</a>)
</li><li class="listitem">
X.509 certificate serial number incorrectly interpreted as negative number. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10862">Bug 10862</a>)
</li><li class="listitem">
Malformed Packet on rsync-version with length 2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10863">Bug 10863</a>)
</li><li class="listitem">
ZigBee epoch time is incorrectly displayed in OTA cluster. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10872">Bug 10872</a>)
</li><li class="listitem">
BGP EVPN - Route Type 4 - "Invalid length of IP Address" - "Expert Info" shows a false error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10873">Bug 10873</a>)
</li><li class="listitem">
Bad bytes read for extended rnc id value in GTP dissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10877">Bug 10877</a>)
</li><li class="listitem">
"ServiceChangeReasonStr" messages are not shown in txt generated by tshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10879">Bug 10879</a>)
</li><li class="listitem">
Clang ASAN : AddressSanitizer: global-buffer-overflow ANSI. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10897">Bug 10897</a>)
</li><li class="listitem">
MEGACO wrong decoding on media port. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10898">Bug 10898</a>)
</li><li class="listitem">
Wrong media format. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10899">Bug 10899</a>)
</li><li class="listitem">
BSSGP Status PDU decoding fault (missing Mandatory element (0x04) BVCI for proper packet). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10903">Bug 10903</a>)
</li><li class="listitem">
DNS LOC Precision missing units. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10940">Bug 10940</a>)
</li><li class="listitem">
Packets on OpenBSD loopback decoded as raw not null. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10956">Bug 10956</a>)
</li><li class="listitem">
Display Filter Macro unable to edit. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10957">Bug 10957</a>)
</li><li class="listitem">
IPv6 Local Mobility Anchor Address mobility option code is treated incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10961">Bug 10961</a>)
</li><li class="listitem">
SNTP server list improperly formatted in DHCPv6 packet details. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10964">Bug 10964</a>)
</li><li class="listitem">
Juniper Packet Mirror dissector expects ipv6 flow label = 0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10976">Bug 10976</a>)
</li><li class="listitem">
NS Trace (NetScaler Trace) file format is not able to export specified packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10998">Bug 10998</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ACN,
ANSI IS-637-A,
AppleMIDI,
ATN-CPDLC,
BGP,
BSSGP,
CMIP,
DHCP,
DHCPv6,
DIS,
DLM3,
DMP,
DNS,
Extreme Networks,
ForCES,
FTAM,
GMHDR,
GSM A BSSMAP,
GSM A-bis OML,
GSM MAP,
GSM RLC MAC,
GTP,
H.248,
H.264,
HTTP,
IEEE 802.11,
IPv6,
IS-IS,
ISMACryp,
J1939,
Juniper Jmirror,
KDP,
L2CAP,
LDAP,
LLDP,
MGCP,
MIP6,
NBNS,
NET/ROM,
Netflow,
Novell PKIS,
PANA,
PPPoE,
RSL,
RSYNC,
RTMPT,
RTP,
SCSI OSD,
SDP,
SMB Pipe,
SMPP,
SYNCHROPHASOR,
TETRA,
TiVoConnect,
TNEF,
USB HID,
V.52,
VSS-Monitoring,
X.509AF,
Zebra,
and ZigBee</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>NetScaler,
PacketLogger,
and Pcapng</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
