<div id="header">
<h1>Wireshark 3.0.0 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Many user interface improvements have been made. See the “New and Updated
Features” section below for more details.</p>
</div>
<div class="paragraph">
<p>Support for a number of legacy features and libraries has been removed.
See the “Removed Features and Support” section below for more details.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Data following a TCP ZeroWindowProbe is marked as retransmission and not passed to subdissectors (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15427">Bug 15427</a>)</p>
</li>
<li>
<p>Lua Error on startup: init.lua: dofile has been disabled due to running Wireshark as superuser (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15489">Bug 15489</a>).</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Text and Image columns were handled incorrectly for TDS 7.0 and 7.1. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3098">Bug 3098</a>)</p>
</div>
<div class="paragraph">
<p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 3.0.0rc2:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>No significant changes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 3.0.0rc1:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The IP map feature (the “Map” button in the “Endpoints” dialog) has been
added back in a modernized form (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14693">Bug 14693</a>).</p>
</li>
<li>
<p>The macOS package now ships with Qt 5.12.1. Previously it shipped with
Qt 5.9.7.</p>
</li>
<li>
<p>The macOS package requires version 10.12 or later. If you’re running an
older version of macOS, please use Wireshark 2.6.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 2.9.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark now supports the Swedish and Ukrainian languages.</p>
</li>
<li>
<p>Initial support for using PKCS #11 tokens for RSA decryption in TLS. This can
be configured at <em>Preferences</em>, <em>RSA Keys</em>.</p>
</li>
<li>
<p>The build system now produces reproducible builds (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15163">Bug 15163</a>).</p>
</li>
<li>
<p>The Windows installers now ship with Qt 5.12.1. Previously they
shipped with Qt 5.12.0.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 2.6.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The Windows .exe installers now ship with <a href="https://nmap.org/npcap/">Npcap</a>
instead of WinPcap.  Besides being actively maintained (by the nmap project),
Npcap brings support for loopback capture and 802.11 WiFi monitor mode
capture (if supported by the NIC driver).</p>
</li>
<li>
<p>Conversation timestamps are supported for UDP/UDP-Lite protocols</p>
</li>
<li>
<p>TShark now supports the <code>-G elastic-mapping</code> option which generates an ElasticSearch mapping file.</p>
</li>
<li>
<p>The “Capture Information” dialog has been added back (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12004">Bug 12004</a>).</p>
</li>
<li>
<p>The Ethernet and IEEE 802.11 dissectors no longer validate the frame check sequence (checksum) by default.</p>
</li>
<li>
<p>The TCP dissector gained a new “Reassemble out-of-order segments” preference
to fix dissection and decryption issues in case TCP segments are received
out-of-order. See the User’s Guide, chapter <em>TCP Reassembly</em> for details.</p>
</li>
<li>
<p>Decryption support for the new WireGuard dissector (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15011">Bug 15011</a>, requires Libgcrypt 1.8).</p>
</li>
<li>
<p>The BOOTP dissector has been renamed to DHCP. With the exception of
“bootp.dhcp”, the old “bootp.*” display filter fields are still supported
but may be removed in a future release.</p>
</li>
<li>
<p>The SSL dissector has been renamed to TLS. As with BOOTP the old
“ssl.*” display filter fields are supported but may be removed in a
future release.</p>
</li>
<li>
<p>Coloring rules, IO graphs, Filter Buttons and protocol preference tables
can now be copied from other profiles using a button in the corresponding
configuration dialogs.</p>
</li>
<li>
<p>APT-X has been renamed to aptX.</p>
</li>
<li>
<p>When importing from hex dump, it’s now possible to add an ExportPDU header with a payload name. This
calls the specific dissector directly without lower protocols.</p>
</li>
<li>
<p>The sshdump and ciscodump extcap interfaces can now use a proxy for the SSH connection.</p>
</li>
<li>
<p>Dumpcap now supports the <code>-a packets:NUM</code> and <code>-b packets:NUM</code> options.</p>
</li>
<li>
<p>Wireshark now includes a “No Reassembly” configuration profile.</p>
</li>
<li>
<p>Wireshark now supports the Russian language.</p>
</li>
<li>
<p>The build system now supports AppImage packages.</p>
</li>
<li>
<p>The Windows installers now ship with Qt 5.12.0. Previously they
shipped with Qt 5.9.7.</p>
</li>
<li>
<p>Support for DTLS and TLS decryption using pcapng files that embed a Decryption
Secrets Block (DSB) containing a TLS Key Log (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15252">Bug 15252</a>).</p>
</li>
<li>
<p>The editcap utility gained a new <code>--inject-secrets</code> option to inject an
existing TLS Key Log file into a pcapng file.</p>
</li>
<li>
<p>A new dfilter function string() has been added. It allows the conversion of
non-string fields to strings so string functions (as contains and matches)
can be used on them.</p>
</li>
<li>
<p>The Bash test suite has been replaced by one based on Python unittest/pytest.</p>
</li>
<li>
<p>The custom window title can now show file path of the capture file and it has a conditional separator.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_removed_features_and_support">Removed Features and Support</h3>
<div class="ulist">
<ul>
<li>
<p>The legacy (GTK+) user interface has been removed and is no longer supported.</p>
</li>
<li>
<p>The portaudio library is no longer needed due to the removal of GTK+.</p>
</li>
<li>
<p>Wireshark requires Qt 5.2 or later. Qt 4 is no longer supported.</p>
</li>
<li>
<p>Wireshark requires GLib 2.32 or later.</p>
</li>
<li>
<p>Wireshark requires GnuTLS 3.2 or later as optional dependency.</p>
</li>
<li>
<p>Building Wireshark requires Python 3.4 or newer, Python 2.7 is unsupported.</p>
</li>
<li>
<p>Building Wireshark requires CMake. Autotools is no longer supported.</p>
</li>
<li>
<p>TShark’s <code>-z compare</code> option was removed.</p>
</li>
<li>
<p>Building with Cygwin is no longer supported on Windows.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>Ruby Marshal format</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>Apple Wireless Direct Link (AWDL), Basic Transport Protocol (BTP), BLIP Couchbase Mobile (BLIP), CDMA 2000, Circuit Emulation Service over Ethernet (CESoETH), Cisco Meraki Discovery Protocol (MDP), Distributed Ruby (DRb), DXL, E1AP (5G), EVS (3GPP TS 26.445 A.2 EVS RTP), Exablaze trailers, General Circuit Services Notification Application Protocol (GCSNA), GeoNetworking (GeoNw), GLOW Lawo Emberplus Data format, Great Britain Companion Specification (GBCS) used in the Smart Metering Equipment Technical Specifications (SMETS), GSM-R (User-to-User Information Element usage), HI3CCLinkData, Intelligent Transport Systems (ITS) application level, ISO 13400-2 Diagnostic communication over Internet Protocol (DoIP), ITU-t X.696 Octet Encoding Rules (OER), Local Number Portability Database Query Protocol (ANSI), MsgPack, NGAP (5G), NR (5G) PDCP, Osmocom Generic Subscriber Update Protocol (GSUP), PCOM protocol, PKCS#10 (RFC2986 Certification Request Syntax), PROXY (v2), S101 Lawo Emberplus transport frame, Secure Reliable Transport Protocol (SRT), Spirent Test Center Signature decoding for Ethernet and FibreChannel (STCSIG, disabled by default), Sybase-specific portions of TDS, systemd Journal Export, TeamSpeak 3 DNS, TPM 2.0, Ubiquiti Discovery Protocol (UBDP), WireGuard, XnAP (5G), and Z39.50 Information Retrieval Protocol</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>Too many protocols have been updated to list here.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>RFC 7468 (PEM), Ruby marshal object files, systemd Journal Export, and Unigraf DPA-400 DisplayPort AUX channel monitor</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>dpauxmon, an external capture interface (extcap) that captures
DisplayPort AUX channel data from linux kernel drivers.</p>
</div>
<div class="paragraph">
<p>sdjournal, an extcap that captures systemd journal entries.</p>
</div>
</div>
<div class="sect2">
<h3 id="_major_api_changes">Major API Changes</h3>
<div class="ulist">
<ul>
<li>
<p>Lua: the various logging functions (debug, info, message, warn and critical)
have been removed. Use the print function instead for debugging purposes.</p>
</li>
<li>
<p>Lua: on Windows, file-related functions such as dofile now assume UTF-8 paths
instead of the local code page. This is consistent with Linux and macOS and
improves compatibility on non-English systems. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15118">Bug 15118</a>)</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-02-28 17:49:41 UTC
</div>
</div>
