<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm4249826848"></a>Wireshark 1.10.12 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-03.html">wnpa-sec-2015-03</a>
</p><p class="simpara">The DEC DNA Routing Protocol dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10724">Bug 10724</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-0562">CVE-2015-0562</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-04.html">wnpa-sec-2015-04</a>
</p><p class="simpara">The SMTP dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10823">Bug 10823</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-0563">CVE-2015-0563</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-05.html">wnpa-sec-2015-05</a>
</p><p class="simpara">Wireshark could crash while decypting TLS/SSL sessions. Discovered by Noam Rathaus.




<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-0564">CVE-2015-0564</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
WebSocket dissector: empty payload causes DISSECTOR_ASSERT_NOT_REACHED. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9332">Bug 9332</a>)
</li><li class="listitem">
SMTP decoder can dump binary data to terminal in TShark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10536">Bug 10536</a>)
</li><li class="listitem">
IPv6 Vendor Specific Mobility Option includes the next mobility option type. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10618">Bug 10618</a>)
</li><li class="listitem">
Save PCAP to PCAPng with commentary fails. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10656">Bug 10656</a>)
</li><li class="listitem">
Multipath TCP: checksum displayed when it’s not there. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10692">Bug 10692</a>)
</li><li class="listitem">
LTE APN-AMBR is decoded incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10699">Bug 10699</a>)
</li><li class="listitem">
IPv6 Experimental mobility header data is interpreted as options. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10703">Bug 10703</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2014-11-15-7777.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10710">Bug 10710</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2014-11-18-30809.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10716">Bug 10716</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2014-11-22-10244.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10724">Bug 10724</a>)
</li><li class="listitem">
Decoding of longitude value in LCSAP (3GPP TS 29.171) is incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10767">Bug 10767</a>)
</li><li class="listitem">
Crash when enabling FCoIB manual settings without filling address field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10796">Bug 10796</a>)
</li><li class="listitem">
RSVP RECORD_ROUTE IPv4 Subobject Flags field incorrect decoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10799">Bug 10799</a>)
</li><li class="listitem">
Wireshark Lua engine can’t access protocol field type. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10801">Bug 10801</a>)
</li><li class="listitem">
Lua: getting fieldinfo.value for FT_NONE causes assert. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10815">Bug 10815</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2015-01-01-29029.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10823">Bug 10823</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>DEC DNA,
DECT,
FCoIB,
Infiniband,
IrDA,
LCSAP,
MIPv6,
NAS EPS,
RDM,
RSVP,
and TCP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p></p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
