<div id="header">
<h1>Wireshark 3.0.6 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>On macOS, Wireshark can now be installed by dropping Wireshark.app onto the Applications folder.</p>
</li>
<li>
<p>The macOS installer now ships with Qt 5.12.5.
It previously shipped with Qt 5.12.3.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>macOS installer uses wrong user ID. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6991">Bug 6991</a>.</p>
</li>
<li>
<p>Using macosx-setup seems to prevent installing pre-built binary. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11399">Bug 11399</a>.</p>
</li>
<li>
<p>macOS installer package is configured to disallow downgrades. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12593">Bug 12593</a>.</p>
</li>
<li>
<p>extcap: Several issues when capturing from multiple extcap interfaces. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13653">Bug 13653</a>.</p>
</li>
<li>
<p>Expert Infos Incorrectly Displays Info Column instead of comment. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15516">Bug 15516</a>.</p>
</li>
<li>
<p>Wireshark does not support USB packets with size greater than 256 KiB. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15985">Bug 15985</a>.</p>
</li>
<li>
<p>IS-IS: add support for decoding TE TLV Type 138 as per RFC 5307. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16012">Bug 16012</a>.</p>
</li>
<li>
<p>NET-SNMP EngineID Length handling Warning. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16051">Bug 16051</a>.</p>
</li>
<li>
<p>TLS decryption is very slow on Windows when using a large PMS file compared to Linux/macOS. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16059">Bug 16059</a>.</p>
</li>
<li>
<p>wireshark-3.0.5/epan/dissectors/packet-nas_5gs.c:2459: bad test ?. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16075">Bug 16075</a>.</p>
</li>
<li>
<p>ERSPAN Type III over GRE without sequence number not decoded correctly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16089">Bug 16089</a>.</p>
</li>
<li>
<p>Windows dumpcap -v does not display capture library info. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16108">Bug 16108</a>.</p>
</li>
<li>
<p>[Regression] FT_CHAR fields not supported in Lua API. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16129">Bug 16129</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AgentX, BT L2CAP, ERSPAN, GRE, IPv4, IS-IS, NAS 5GS, OpcUa, SNMP, and SRT</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-10-23 17:15:46 UTC
</div>
</div>
