<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm440946868320"></a>Wireshark 2.4.0 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_new_and_updated_features">2.1. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.2. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.3. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.4. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.5. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.1. New and Updated Features</h3></div></div></div><p>The following features are new (or have been significantly updated)
since version 2.2.0:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Experimental 32-bit and 64-bit Windows Installer (.msi) packages are available.
  It is recommended that you use these independently of the NSIS (.exe) installers.
  That is, you should make sure the NSIS package is completely uninstalled before
  installing the Windows Installer package and vice-versa.
</li><li class="listitem">
Source packages are now compressed using xz instead of bzip2.
</li><li class="listitem">
The legacy (GTK+) UI is disabled by default in the Windows installers.
</li><li class="listitem">
The legacy (GTK+) UI is disabled by default in the development environment (Autotools and CMake).
</li><li class="listitem">
SS7 Point Codes can now be resolved into names with a hosts-like file.
</li><li class="listitem">
Wireshark can now go fullscreen to have more room for packets.
</li><li class="listitem">
TShark can now export objects like the other GUI interfaces.
</li><li class="listitem">
Support for G.722 and G.726 codecs in the RTP Player (via the SpanDSP library).
</li><li class="listitem">
You can now choose the output device when playing RTP streams.
</li><li class="listitem">
Added support for dissectors to include a unit name natively in their hf field.
  A field can now automatically append "seconds" or "ms" to its value without
  additional printf-style APIs.
</li><li class="listitem">
The Default profile can now be reset to default values.
</li><li class="listitem">
You can move back and forth in the selection history in the Qt UI.
</li><li class="listitem">
IEEE 802.15.4 dissector now uses an UAT for decryption keys. The original
  decryption key preference has been obsoleted.
</li><li class="listitem">
Extcap utilities can now provide configuration for a GUI interface toolbar to
  control the extcap utility while capturing.
</li><li class="listitem">
Extcap utilities can now validate the capture filter.
</li><li class="listitem">
Display filter function len() can now be used on all string and byte fields.
</li><li class="listitem">
Added an experimental timeline view for 802.11 wireless packet data which can
  be enabled via the "802.11 radio information" preferences.
</li><li class="listitem">
Added TLS 1.3 (draft 21) dissection and decryption support (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12779">Bug 12779</a>).
</li><li class="listitem">
The (D)TLS Application Layer protocol (e.g. HTTP or CoAP) can now be changed
  via the Decode As dialog.
</li><li class="listitem">
The RSA keys dialog for SSL keys has improved feedback for invalid settings
  and no longer requires the IP address, Port or Protocol fields to be set in
  addition to the Key File.
</li><li class="listitem">
TCP Analysis will detect and flag more spurious retransmissions.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.2. New Protocol Support</h3></div></div></div><p>Bluetooth HCI Vendor Intel,
CAN FD,
Citrix NetScaler Metric Exchange Protocol,
Citrix NetScaler RPC Protocol,
DirectPlay 8 protocol,
Ericsson A-bis P-GSL,
Ericsson A-bis TFP (Traffic Forwarding Protocol),
Facebook Zero,
Fc00/cjdns Protocol,
Generic Netlink (genl),
GSM Osmux,
GSMTAP based logging,
Health Level 7 (HL7),
High-speed SECS message service (HSMS),
HomePNA,
IndigoCare iCall protocol,
IndigoCare Netrix protocol,
iPerf2,
ISO 15765,
Linux 802.11 Netlink (nl80211),
Local Service Discovery (LSD),
M2 Application Protocol,
Mesh Link Establishment (MLE),
MUDURL,
Netgear Ensemble Protocol,
NetScaler HA Protocol,
NetScaler Metric Exchange Protocol,
NetScaler RPC Protocol,
NM protocol,
Nordic BLE Sniffer,
NVMe,
NVMe Fabrics RDMA,
OBD-II PIDs,
OpenThread simulator,
RFTap Protocol,
SCTE-35 Digital Program Insertion Messages,
Snort Post-dissector,
Thread CoAP,
UDP based FTP w/ multicast (UFTP and UFTP4),
Unified Diagnostic Services (UDS),
vSocket,
Windows Cluster Management API (clusapi),
and X-Rite i1 Display Pro (and derivatives) USB protocol</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.3. Updated Protocol Support</h3></div></div></div><p>Too many protocols have been updated to list here.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.4. New and Updated Capture File Support</h3></div></div></div><p>ERF,
IxVeriWave,
Libpcap,
and Pcap-ng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.5. Major API Changes</h3></div></div></div><p>IEEE802.11: wlan_mgt display filter element got renamed to wlan.</p><p>Libgcrypt is now a required dependency.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
