<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_4_15_release_notes">Wireshark 3.4.15 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Multiple Files preference "Create new file automatically…​after" [time] working incorrectly <a href="https://gitlab.com/wireshark/wireshark/-/issues/16783">Issue 16783</a>.</p>
</li>
<li>
<p>TLS: RSA decryption fails with Extended Master Secret and renegotiation <a href="https://gitlab.com/wireshark/wireshark/-/issues/18059">Issue 18059</a>.</p>
</li>
<li>
<p>UDP packets falsely marked as "malformed packet" <a href="https://gitlab.com/wireshark/wireshark/-/issues/18136">Issue 18136</a>.</p>
</li>
<li>
<p>Incorrect type for the IEC 60870 APDU appears in packet details pane <a href="https://gitlab.com/wireshark/wireshark/-/issues/18167">Issue 18167</a>.</p>
</li>
<li>
<p>NHRP Problem <a href="https://gitlab.com/wireshark/wireshark/-/issues/18181">Issue 18181</a>.</p>
</li>
<li>
<p>EtherCAT CoE header unknown type <a href="https://gitlab.com/wireshark/wireshark/-/issues/18220">Issue 18220</a>.</p>
</li>
<li>
<p>GTPv2: SMeNB display in tree <a href="https://gitlab.com/wireshark/wireshark/-/issues/18225">Issue 18225</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DTLS, EtherCAT Mailbox, F5 Ethernet trailer, GTPv2, IEC 104, NHRP, RTCP, TLS, and ZigBee ZCL</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2022-07-27 18:35:02 UTC
</div>
</div>