<div id="header">
<h1>Wireshark 4.0.15 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-07">wnpa-sec-2024-07</a>
MONGO and ZigBee TLV dissector infinite loops.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19726">Issue 19726</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4854">CVE-2024-4854</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-08">wnpa-sec-2024-08</a>
The editcap command line utility could crash when chopping bytes from the beginning of a packet.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19724">Issue 19724</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4853">CVE-2024-4853</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2024-09">wnpa-sec-2024-09</a>
The editcap command line utility could crash when injecting secrets while writing multiple files.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19782">Issue 19782</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-4855">CVE-2024-4855</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Flow Graph scrolls in the wrong direction vertically when pressing Up/Down. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12932">Issue 12932</a>.</p>
</li>
<li>
<p>TCP Stream Window Scaling not working in version 2.6.1 and later. <a href="https://gitlab.com/wireshark/wireshark/-/issues/15016">Issue 15016</a>.</p>
</li>
<li>
<p>TCP stream graphs (Window scaling) axis display is confusing. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17425">Issue 17425</a>.</p>
</li>
<li>
<p>LUA get_dissector does not give the correct dissector under 32-bit version. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18367">Issue 18367</a>.</p>
</li>
<li>
<p>Lua: Segfault when registering a field or expert info twice. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19194">Issue 19194</a>.</p>
</li>
<li>
<p>SSH can not decrypt when KEX is <a href="/cdn-cgi/l/email-protection#8deef8fffbe8bfb8b8bcb4a0fee5ecbfb8bbcde1e4effefee5a3e2ffea"><span class="__cf_email__" data-cfemail="fc9f898e8a99cec9c9cdc5d18f949dcec9cabc90959e8f8f94d2938e9b">[email protected]</span></a>. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19240">Issue 19240</a>.</p>
</li>
<li>
<p>Win64 4.1.0rc0: Crash in Capture Options after closing Manage Interfaces. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19287">Issue 19287</a>.</p>
</li>
<li>
<p>NAS 5G message container dissection. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19793">Issue 19793</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>5co_legacy, DOCSIS MAC MGMT, FC FZS, GQUIC, IPARS, MONGO, NAS-5GS, PTP, SSH, and TIPC</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_file_format_decoding_support">Updated File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 4.0.15.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.14.html">Wireshark 4.0.14</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.13.html">Wireshark 4.0.13</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.12.html">Wireshark 4.0.12</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.11.html">Wireshark 4.0.11</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.10.html">Wireshark 4.0.10</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.9.html">Wireshark 4.0.9</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.8.html">Wireshark 4.0.8</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.7.html">Wireshark 4.0.7</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.6.html">Wireshark 4.0.6</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.5.html">Wireshark 4.0.5</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.4.html">Wireshark 4.0.4</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.3.html">Wireshark 4.0.3</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.2.html">Wireshark 4.0.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.1.html">Wireshark 4.0.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.0.0.html">Wireshark 4.0.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"/>
