<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm287669599136"></a>Wireshark 2.2.13 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-05.html">wnpa-sec-2018-05</a>
</p><p class="simpara">The IEEE 802.11 dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14442">Bug 14442</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7335">CVE-2018-7335</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-06.html">wnpa-sec-2018-06</a>
</p><p class="simpara">Multiple dissectors could go into large infinite loops.
All ASN.1 BER dissectors (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14444">Bug 14444</a>),
along with the DICOM (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14411">Bug 14411</a>),
DMP (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14408">Bug 14408</a>),
LLTD (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14419">Bug 14419</a>),
OpenFlow (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14420">Bug 14420</a>),
RELOAD (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14445">Bug 14445</a>),
RPCoRDMA (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14449">Bug 14449</a>),
RPKI-Router (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14414">Bug 14414</a>),
S7COMM (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14423">Bug 14423</a>),
SCCP (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14413">Bug 14413</a>),
Thread (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14428">Bug 14428</a>),
Thrift (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14379">Bug 14379</a>),
USB (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14421">Bug 14421</a>),
and WCCP (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14412">Bug 14412</a>)
dissectors were susceptible.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-07.html">wnpa-sec-2018-07</a>
</p><p class="simpara">The UMTS MAC dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14339">Bug 14339</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7334">CVE-2018-7334</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-09.html">wnpa-sec-2018-09</a>
</p><p class="simpara">The FCP dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14374">Bug 14374</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7336">CVE-2018-7336</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-10.html">wnpa-sec-2018-10</a>
</p><p class="simpara">The SIGCOMP dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14398">Bug 14398</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7320">CVE-2018-7320</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-11.html">wnpa-sec-2018-11</a>
</p><p class="simpara">The pcapng file parser could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14403">Bug 14403</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7420">CVE-2018-7420</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-12.html">wnpa-sec-2018-12</a>
</p><p class="simpara">The IPMI dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14409">Bug 14409</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7417">CVE-2018-7417</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-13.html">wnpa-sec-2018-13</a>
</p><p class="simpara">The SIGCOMP dissector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14410">Bug 14410</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7418">CVE-2018-7418</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-14.html">wnpa-sec-2018-14</a>
</p><p class="simpara">The NBAP disssector could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14443">Bug 14443</a>,
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7419">CVE-2018-7419</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Change placement of "double chevron" in Filter Toolbar to eliminate overlap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14121">Bug 14121</a>)
</li><li class="listitem">
GET MAX LUN wLength decoded as big-endian - USB Mass Storage. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14360">Bug 14360</a>)
</li><li class="listitem">
Buildbot crash output: fuzz-2018-01-28-15874.pcap. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14371">Bug 14371</a>)
</li><li class="listitem">
[oss-fuzz] #6028 RPC_NETLOGON: Direct-leak in g_malloc (generate_hash_key). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14407">Bug 14407</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>ASN.1 BER,
BOOTP/DHCP,
DCE RPC NETLOGON,
DICOM,
DIS,
DMP,
DOCSIS,
FCP,
IAX2,
IEEE 802.11,
IPMI,
LLTD,
NBAP,
OpenFlow,
RELOAD,
RPCoRDMA,
RPKI-Router,
S7COMM,
SCCP,
SIGCOMP,
Thread,
Thrift,
UMTS MAC,
USB,
USB Mass Storage,
and WCCP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>pcapng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
