<div class="article" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="id927695"></a>Wireshark 1.2.0 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

    Too many bugs have been fixed since the 1.0 release to list here. Some
    notable fixes are:

    </p><div class="itemizedlist"><ul type="disc"><li><p>
        Type-ahead search now works properly.
      </p></li><li><p>
        Several bugs that affected capture from pipes have been fixed.
      </p></li><li><p>
        Many Lua-related bugs have been fixed.
      </p></li><li><p>
        Several memory leaks have been found and fixed.
      </p></li><li><p>
        The "Follow TCP Stream" feature could show two streams at the same time
        The hex dump view has been narrowed.
      </p></li><li><p>
        WPA and SSL decryption bugs have been fixed.
      </p></li><li><p>
        Readability problems on 256-color displays on Windows have been fixed.
      </p></li></ul></div><p>

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since version 1.0:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Wireshark has a spiffy new start page.
          </p></li><li><p>
            Display filters now autocomplete.
          </p></li><li><p>
            A 64-bit Windows (x64) installer is now provided.
          </p></li><li><p>
            Support for the c-ares resolver library has been added. It
            has many advantages over ADNS.
          </p></li><li><p>
            Many new protocol dissectors and capture file formats have been
            added (see below for a complete list).
          </p></li><li><p>
            Macintosh OS X support has been improved.
          </p></li><li><p>
            <a class="ulink" href="http://www.maxmind.com/app/ip-location">GeoIP database
            lookups.</a>
          </p></li><li><p>
            <a class="ulink" href="http://openstreetmap.org/">OpenStreetMap</a> + GeoIP
            integration.
          </p></li><li><p>
            Improved <span class="trademark">Postscript</span>® print
            output.
          </p></li><li><p>
            The preference handling code is now much smarter about changes.
          </p></li><li><p>
            Support for <a class="ulink" href="http://www.winpcap.org/ntar/draft/PCAP-DumpFileFormat.html">Pcap-ng</a>,
            the next-generation capture file format.
          </p></li><li><p>
            Support for process information correlation via IPFIX.
          </p></li><li><p>
            Column widths are now saved.
          </p></li><li><p>
            The last used configuration profile is now saved.
          </p></li><li><p>
            Protocol preferences are changeable from the packet details context menu.
          </p></li><li><p>
            Support for IP packet comparison.
          </p></li><li><p>
            Capinfos now shows the average packet rate.
          </p></li><li><p>
            GTK1 is no longer supported. (Yes, this is a feature.)
          </p></li><li><p>
            Official Windows packages are now built using Microsoft Visual C++
            2008 SP1.
          </p></li></ul></div><p>

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

Anything in Anything Protocol,
ATM PW, N-to-one Cell Mode,
B.A.T.M.A.N. Layer 3 Protocol,
BACnet MS/TP,
BSS LCS Assistance Protocol,
Canon BJNP,
CESoPSN basic NxDS0 mode (no RTP support),
Charging ASE,
Cimetrics MS/TP,
DECT Protocol,
Digital Private Signalling System No 1 Link Layer,
DOCSIS Mac Domain Description,
DOCSIS Registration Request Multipart,
DOCSIS Registration Response Multipart,
DOCSIS Synchronisation Message,
E100 Encapsulation,
EHS,
Enhanced Variable Rate Codec,
Ethernet Global Data,
Ethernet PW,
Exchange 2003 Directory Request For Response,
Far End Failure Detection,
FCoE Initialization Protocol,
GOOSE,
GPEF,
GPRS Tunneling Protocol V2,
GSM A-I/F COMMON,
GSM A-I/F GPRS Mobility and Session Management,
GSM SACCH,
GSM Um Interface,
HDLC PW, FR port mode (no CW),
HDLC-like framing for PPP,
IEC 60870-5-104,Apci,
IEC 60870-5-104,Asdu,
IEEE 802.15.4 Low-Rate Wireless PAN non-ASK PHY,
IEEE C37.118 Synchrophasor Protocol,
Intelligent Platform Management Interface (Session Wrapper),
Inter-Integrated Circuit,
Internal TDM,
IPSICTL,
ISMACryp Protocol,
iWARP Direct Data Placement and Remote Direct Memory Access Protocol,
iWARP Marker Protocol data unit Aligned framing,
Kontiki Delivery Protocol,
LANforge Traffic Generator,
Layer 1 Event Messages,
Lb-I/F BSSMAP LE,
LeCroy VICP,
Link Access Procedure, Channel Dm (LAPDm),
Local Download Sharing Service,
LTE Radio Resource Control (RRC) protocol,
MAC-LTE,
Memcache Protocol,
Mesh Header,
MP4V-ES,
Nasdaq TotalView-ITCH,
Nasdaq-SoupTCP version 2.0,
NAT Port Mapping Protocol,
Netdump Protocol,
Non-Access-Stratum (NAS)PDU,
PacketLogger,
Paltalk Messenger Protocol,
PDCP-LTE,
PW Associated Channel Header,
PW Ethernet Control Word,
PW Frame Relay DLCI Control Word,
PW MPLS Control Word (generic/preferred),
Real-Time Publish-Subscribe Wire Protocol 2.x,
Remote Packet Capture,
RLC-LTE,
SAToP (no RTP support),
SERCOS III V1.1,
SIMULCRYPT Protocol,
Subnetwork Dependent Convergence Protocol XID,
Teamspeak2 Protocol,
TTEthernet,
TTEthernet Protocol Control Frame,
Turbocell Aggregate Data,
Turbocell Header,
TURN Channel,
Unreliable Multicast Inter-ORB Protocol,
VCDU,
Wave Short Message Protocol(IEEE P1609.3),
Wireless Access Station Session Protocol,
Wireshark Expert Info,
World of Warcraft,
Xpress Transport Protocol,
ZigBee Application Framework,
ZigBee Application Support Layer,
ZigBee Device Profile,
ZigBee Encapsulation Protocol,
ZigBee Network Layer,
Zipped Inter-ORB Protocol,
ZRTP

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

There are too many updates to list here.

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New Capture File Support</h3></div></div></div><p>

Apple Bluetooth PacketLogger,
Daintree's Sensor Network Analyzer,
dct3trace,
Pcap-NG,
TNEF (yes, those silly winmail.dat attachments)

    </p></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a class="ulink" href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
