<div id="header">
<h1>Wireshark 4.2.3 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
<div class="paragraph">
<p>Wireshark is hosted by the Wireshark Foundation, a nonprofit which promotes protocol analysis education.
Wireshark and the foundation depend on your contributions in order to do their work.
If you or your organization would like to contribute or become a sponsor, please visit <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>If you are upgrading Wireshark 4.2.0 or 4.2.1 on Windows you will need to <a href="https://www.wireshark.org/download.html">download and install</a> Wireshark 4.2.3 or later by hand.</p>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Capture start fails when file set enabled and file extension not supplied if directory contains a period. <a href="https://gitlab.com/wireshark/wireshark/-/issues/14614">Issue 14614</a>.</p>
</li>
<li>
<p>Cannot drag and move custom filter buttons in toolbar. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19447">Issue 19447</a>.</p>
</li>
<li>
<p>Not equal won’t work when used with wlan.addr. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19449">Issue 19449</a>.</p>
</li>
<li>
<p>sshdump fails to connect with private key (ssh-rsa) <a href="https://gitlab.com/wireshark/wireshark/-/issues/19510">Issue 19510</a>.</p>
</li>
<li>
<p>ChmodBPF installation fails on macOS Sonoma 14.1.2. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19527">Issue 19527</a>.</p>
</li>
<li>
<p>Windows installers should check for Windows 8.1. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19569">Issue 19569</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2024-01-05-7725.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19570">Issue 19570</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2024-01-06-7734.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19578">Issue 19578</a>.</p>
</li>
<li>
<p>Incorrect recursion depth assert failure when dissecting a legitimate GOOSE message. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19580">Issue 19580</a>.</p>
</li>
<li>
<p>OPC UA - large read request is reported as malformed in 4.2.1 but not in 4.0.12. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19581">Issue 19581</a>.</p>
</li>
<li>
<p>TFTP dissector bug type listed as netscii instead of netascii doesn’t show all TFTP packets including TFTP blocks. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19589">Issue 19589</a>.</p>
</li>
<li>
<p>SMB1 replies from LAN Drive app only show up as NBSS Continuation Message. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19593">Issue 19593</a>.</p>
</li>
<li>
<p>ciscodump - older SSH key exchange algorithms not supported. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19594">Issue 19594</a>.</p>
</li>
<li>
<p>Problem decoding LAPB/X.25/FTAM after adding X.75 decoding. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19595">Issue 19595</a>.</p>
</li>
<li>
<p>Wireshark Filter not working. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19604">Issue 19604</a>.</p>
</li>
<li>
<p>CFLOW: failure to decode 0 length data fields of IPFIX variable length data types. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19605">Issue 19605</a>.</p>
</li>
<li>
<p>Copy …​as Printable Text Feature Missing in 4.1/4.2. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19607">Issue 19607</a>.</p>
</li>
<li>
<p>Export Objects - HTTP is missing some HTTP/2 files in a two-pass analysis. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19609">Issue 19609</a>.</p>
</li>
<li>
<p>ASAM-CMP Plugin: Malformed message, length mismatch if vendor defined data of status messages has odd length. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19626">Issue 19626</a>.</p>
</li>
<li>
<p>OSS-Fuzz 66561: wireshark:fuzzshark_ip_proto-udp: Null-dereference READ in wmem_map_lookup. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19642">Issue 19642</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASAM CMP, CAN, CFLOW, CMIP, CMP, DAP, DICOM, DISP, E2AP, GLOW, GOOSE, GTP, GTPv2, H.225, H.245, H.248, HTTP2, IEEE 1609.2, IEEE 1722, IPv4, IPv6, ISO 15765, ISUP, ITS, Kerberos, LDAP, MMS, NBT, NRUP, openSAFETY, P22, P7, PARLAY, RTMPT, RTP, SCSI, SOME/IP, T.38, TCP, TECMP, TFTP, WOW, X.509if, X.509sat, X.75, X11, Z39.50, and ZigBee Green Power</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcap and pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_prior_versions">Prior Versions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This document only describes the changes introduced in Wireshark 4.2.3.
You can find release notes for prior versions at the following locations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.2.html">Wireshark 4.2.2</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.1.html">Wireshark 4.2.1</a></p>
</li>
<li>
<p><a href="https://www.wireshark.org/docs/relnotes/wireshark-4.2.0.html">Wireshark 4.2.0</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
