@use "../../styles/colors.module.scss";
@use "../../styles/fonts.module.scss";
@use "../../styles/breakpoints" as b;
@use "../../styles/spacings.scss" as s;

#mainLanding, .educationalContent, #donationSectionHome {
    padding: s.$spacing4rem;

    @media screen and (max-width: b.$tablet) {
        padding: s.$spacing2rem;
    }
}

#mainLanding {
    display: flex;

    .mainWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 4rem;
        padding-bottom: 4rem;
        min-height: 500px;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 0px 44px #00000021;
        margin-top: 2rem;
        max-height: 510px;
        min-width: 450px;

        @media screen and (min-width: b.$desktop) {
            margin-top: 0rem;
        }

        @media screen and (max-width: b.$tablet) {
            display: none;
        }

        iframe {
            max-width: 500px;
            border-radius: 3px;
        }
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        padding-right: 3rem;

        .buttonContainer {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        @media screen and (max-width: b.$tablet) {
            padding: 0px;
            padding-top: 2rem;
        }

        @media screen and (max-width: b.$mobile) {
            padding: 0px;
            padding-top: 0;
        }

        h1 {
            font-family: fonts.$bold;
            font-size: 3rem;
            margin-top: 2rem;
            margin-bottom: 1rem;

            @media screen and (max-width: b.$desktop) and (min-width: b.$tablet) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: b.$tablet) {
                padding: 0px;
            }

            @media screen and (max-width: b.$mobile) {
                font-size: 2rem;
            }
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: .5rem;
            padding-right: .6rem;
            font-family: fonts.$normal;
            color: colors.$color-primary;

            @media screen and (max-width: b.$desktop) {
                letter-spacing: -1px;
                font-size: 1.2rem;
            }
        }

        h3 {
            font-family: fonts.$thin;
            font-size: 1.5rem;
            margin-top: .5rem;

            @media screen and (max-width: b.$desktop) {
                font-size: 1.3rem;
            }
        }

        a {
            display: flex;
            align-items: center;
        }
    }
}

#about {
    h1 {
        text-align: center;
    }
}

#download {
    h1, p {
        text-align: center;
    }

    p {
        margin: 0;
    }
}

.downloadWrapper {
    @media screen and (min-width: b.$desktop) {
        display: flex;
        margin: 0 auto;
        width: 1200px;
    }
}

#sponsors {
    background: rgb(0,113,212);
    background: linear-gradient(90deg, rgba(0,113,212,1) 0%, rgba(0,47,108,1) 100%);

    h3 {
        text-align: center;
        margin: 0;
    }

    .sponsorWrapper {
        padding-bottom: 3rem;
    }
}

.educationalContent {
    padding-top: 6rem;

    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 3rem;

        @media screen and (max-width: b.$desktop) {
            grid-gap: 1rem;
        }

        @media screen and (max-width: b.$tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: b.$smaller) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

#donationSectionHome {
    .donationWrapper {
        background: var(--color-off-white);
        padding: 3rem;

        @media screen and (max-width: b.$smaller) {
            padding: 2rem;
        }

        p {
            font-size: 1.3rem;

            @media screen and (max-width: b.$smaller) {
                font-size: 1rem;
            }
        }
    }
}

#donationSection {
    .donationWrapper {
        background: var(--color-off-white);
        padding: 1.5rem;

        @media screen and (max-width: b.$smaller) {
            padding: 1rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        h2 {
            margin-top: 0;
        }
    }
}