{% extends 'layout-home.html' %}
{% import 'manpage_list.html' as manpage_list %}

{% block title %}Command Line Manual Pages{% endblock %}

{% block content %}
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h1>Manual Pages</h1>

<p>
The following <a href="https://en.wikipedia.org/wiki/Man_page">man pages</a>
are part of the Wireshark distribution. They are available via the
<code>man</code> command on
<a href="https://en.wikipedia.org/wiki/Unix">UNIX<super>&#174;</super></a> /
<a href="https://en.wikipedia.org/wiki/POSIX">POSIX<super>&#174;</super></a>
systems and HTML files via the "Start" menu on Windows systems.
</p>


<p>
{% for man_page in manpage_list.man_pages %}
<p class="manpage-entry">
  <code><a href="{{ man_page.file_name }}">{{ man_page.name }}</a></code> -
  {{ man_page.description }}
</p>
{% endfor %} {# version #}
</p>

{# XXX We also host this locally. #}
<p>Capture filtering is handled by libpcap, and its documentation is part of the libpcap distribution.</p>

<p>
  <div class="manpage-entry">
    <code><a href="https://www.tcpdump.org/manpages/pcap-filter.7.html">pcap-filter</a></code> -
    Capture filter syntax
  </div>
</p>

  </div>{# ws-well #}
  </div>{# col col-md #}

</div>
</div>
</section>

{% endblock content %}
