#wsLogo {width: 16%;}

#content a {overflow-wrap: break-word;}

#sharkfest-tab {padding: 1.5rem;}

pre {
  white-space: pre-line;
}

/* About SharkFest */
.about-sharkfest > h2 {padding-top: 2rem;}
.about-sharkfest-logo { text-align: center; margin: 0 auto; }
.about-sharkfest-logo img {max-height: 100px;}

/* INDEX PAGE */
.news-wrapper {margin-top: 0px;}
.news-centered {text-align: center;}

.features-list > li {padding-left: 0px !important;}

.sharkfest-circle {border: 6px solid #3091e6c4;}

.wstraining-heading {background-color: #4a4b4c;}
