@use "../../styles/breakpoints" as b;
@use "../../styles/spacings" as s;
@use "../../styles/colors.module.scss";
@use "../../styles/fonts.module.scss";

#footer {
    padding: s.$spacing4rem;
    padding-bottom: s.$spacing2rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;

    @media screen and (max-width: b.$tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: b.$smaller) {
        grid-template-columns: repeat(1, 1fr);
    }

    ul {
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    li:first-child {
        font-family: fonts.$heavy;
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    li {
        padding-bottom: .5rem;
    }

    p {
        padding-top: 1.2rem;
        padding-bottom: 0;
        margin-bottom: .5rem;
    }

    .copyright {
        a {
            padding-bottom: .5rem;
        }
    }

    .leftSide {

    }

    .center {

    }

    .rightSide {

    }
}