{% extends 'layout-home.html' %}

{# $Id$
#}

{% set tool_list = [
  { 'url': 'modelines.html', 'name': 'Editor Modeline Generator' },
  { 'url': 'v46status.html', 'name': 'IPv4 and IPv6 Connectivity Test' },
  { 'url': 'oui-lookup.html', 'name': 'OUI Lookup Tool' },
  { 'url': 'string-cf.html', 'name': 'String-Matching Capture Filter Generator' },
  { 'url': 'wpa-psk.html', 'name': 'WPA PSK Generator' },
] %}
{#
  { 'url': 'helpdesk.html', 'name': 'Wireshark! Live! Helpdesk' },
#}

{% block title %}Online Tools{% endblock %}

{% block content %}
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h3>Wireshark Online Tools</h3>

  <p>
  The following tools are available:
  </p>

{% for tool in tool_list %}
  <p class="tool-entry">
  <a href="{{ tool.url }}">{{ tool.name }}</a>
  </p>
{% endfor %}

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>
</section>
{% endblock content %}
