{% extends 'layout-home.html' %}

{% block title %}Display Filter Reference: {{description }}{% endblock %}

{% block content %}

<section id="dfref_background" class="section swatch-white">
<div class="container">

<div class="row">
  <div class="col col-md">
    <div class="ws-well">
      <div class="ws-well-heading">Display Filter Reference: {{description }}</div>


<div><b>Protocol field name:</b> {{name }}</div>
<div><b>Versions:</b> {{versions }}</div>

<p>
<a href="../">Back to Display Filter Reference" url="../"</a>
</p>

<p>
<table class="table table-condensed table-greenbar">
<tr>
  <th>Field name</th>
  <th>Type</th>
  <th>Description</th>
  <th>Versions</th>
</tr>

{% for field in fields %}
<tr>
  <td>{{ field.name }}</td>
  <td>{{ field.data_type }}</td>
  <td>{{ field.description }}</td>
  <td>{{ field.versions }}</td>
</tr>
{% endfor %}

</table>
</p>


'''

field_section_begin = '''
<div style="margin-top: 15px;">
<table class="shaded">
<tr>
  <th>Field name</th>
  <th>Type</th>
  <th>Description</th>
  <th>Versions</th>
</tr>
'''

field_section_entry = '''
<tr>
  <td>%(name)s</td>
  <td>%(data_type)s</td>
  <td>%(description)s</td>
  <td>%(versions)s</td>
</tr>
'''

field_section_end = '''
</table>
</div>
'''

  </div>{# ws-well #}
  </div>{# col col-md #}

</div>

    </div>{# container #}
</section>


{% endblock content %}
