---
export interface BannerProps {
    text: string;
    link: string;
}

const { text, link } = Astro.props as BannerProps;
---

<script>
    const shouldDisplayBanner = JSON.parse(localStorage.getItem("displayBanner") as string);
    const banner = document.querySelector(".banner-wrapper") as Element;

    if (!shouldDisplayBanner && shouldDisplayBanner !== null) {
        banner.style.display = "none";
    } else {
        document.querySelector(".closeBanner")?.addEventListener("click", () => {
            banner.style.display = "none";
            localStorage.setItem("displayBanner", JSON.stringify(false))
        })
    }

</script>

<style lang="scss">
    .banner-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding: 0 1rem;
        bottom: 1rem;
        border-radius: 16px;
        background: var(--secondary-background);
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.56);

        a {
            color: white;
        }

        div {
            position: relative;
            width: 100%;
        }

        span {
            position: absolute;
            right: .5rem;
            bottom: 0;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>

<div class="banner-wrapper">
    <div>
        <a href={link} target="_blank" rel="noreferrer noopener"><p>{text}</p></a>
        <span class="closeBanner">X</span>
    </div>
</div>